{% extends 'site/base.html.twig' %}

{% block title %}Nous soutenir{% endblock %}

{% block body %}

    <h1 class="col-12 mt-5 text-center">Nous soutenir</h1>


    <div class="row">
        <div class="col-11 col-lg-9 mx-auto">
        
            <p class="text-center mt-5 mb-4">
                Que vous soyez un particulier, un professionnel du monde du jeu ou du réemploi, ce projet a besoin de vous pour se pérenniser et se développer.
            </p> 
              
            <article class="my-4">
                <h4 class="text-info">Acheter des jeux :</h4>

                <p class="mt-2 text-justify">
                    Le service propose aux particuliers et aux professionnels du bassin caennais  d’acquérir des jeux complets d’occasion à petits prix ! 
                    En achetant des jeux sur le site vous contribuez à une démarche citoyenne de réduction des déchets !
                </p>

                <p class="col-12 text-center mt-4">Nous sommes présent à de nombreuses foires au-tour de Caen.</p>
                <div class="row justify-content-around mb-5">
                    <div class="col-10 col-sm-9 col-md-7 col-lg-5 mt-3 mt-md-0">
                        <div class="card border-0 shadow-lg h-100">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center py-4">
                                <img src="{{ asset('build/images/design/participation.jpeg') }}" alt="Image d'un stand pendant une foire" style="border-radius:10%;max-width:100%;">
                            </div>
                        </div>
                    </div>
                </div>

            </article>

            <article class="my-5">
                <h4 class="text-info">Donner des jeux :</h4>

                <ul>
                    <li>Le service récupère les jeux complets et incomplets ainsi que les pièces détachées (pions, dés, sabliers…).
                        <ol><span class="text-danger">Nous ne récupérons pas les puzzles ni les jouets.</span></ol>
                    </li>
                    <li class="pt-3">Si vous êtes sur Caen, vous pouvez les déposer à la Coop 5 pour 100 – 33 route de Trouville – Caen.</li>
                    <li class="pt-3">Si vous êtes d’une autre région vous pouvez les envoyer par voie postale ou colissimo à l’adresse suivante :
                        <ol>{{ legales.publicationManagerFirstName }} {{ legales.publicationManagerLastName }}, {{ legales.streetCompany }} {{ legales.postalCodeCompany }} {{ legales.cityCompany }}</ol>
                        <ol><span class="text-danger">Le service ne peut pas prendre en charge les frais de port.</span></ol>
                    </li>
                    <li class="pt-3">Vous pouvez aussi les expédier via Mondial Relay:
                        <ol> -> point relais CORA CAEN à Rots.</ol>
                        <ol> Email: {{ legales.emailCompany }}</ol>
                    </li>
                </ul>

                <p class="mt-2 mb-5 text-justify">
                    Si vous habitez près de Rots vous pouvez aussi déposer vos jeux à mon domicile (24 rue froide).<br/>
                    En mon absence il est possible de les déposer devant la porte, elle est abritée.<br/>
                    Nous vous remercions par avance pour vos dons ! Nous nous ferons un plaisir de les ajouter aux catalogues !
                </p>

                <p class="col-12 figure-caption text-center">Exemple de dons / collectes.</p>
                <div class="row justify-content-around mb-5">
                    <div class="col-10 col-sm-9 col-md-6 col-lg-4 mt-3 mt-md-0">
                        <div class="card border-0 shadow-lg h-100">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center py-4">
                                <img src="{{ asset('build/images/design/collecte-en-entreprise-1.jpeg') }}" alt="Image d'une collecte en entreprise" style="border-radius:10%;max-width:100%;">
                            </div>
                        </div>
                    </div>
                    <div class="col-10 col-sm-9 col-md-6 col-lg-4 mt-3 mt-md-0">
                        <div class="card border-0 shadow-lg h-100">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center py-2">
                                <img src="{{ asset('build/images/design/collecte-en-entreprise-2.jpeg') }}" alt="Image d'une collecte en entreprise" style="border-radius:10%;max-width:100%;">
                            </div>
                        </div>
                    </div>
                </div>


            </article>

            <article class="my-5">
                <h4 class="text-info">Agrandir le réseau:</h4>

                <p class="mt-2 text-justify">
                    Le service cherche à développer le réseau autour du réemploi du jouet: vendeurs de pièces détachées, de jeux complets ou points de collecte.<br/>
                    Vous souhaitez devenir l'un de nos <a class="text-info" href="{{ path('app_partenaires') }}">partenaires</a> ? N'hésitez pas à nous contacter !
                </p>

                <div class="row mt-3 justify-content-center">
                    <div class="col-8 col-md-4 card mt-4 shadow">
                        <video controls autoplay loop>
                            <source src="/images/photos/animationFrance.mp4" type="video/mp4">
                        </video> 
                    </div>
                </div>
            </article>

   

            <p class="text-center my-5">
            Pour toute question merci d'utiliser le <a href="{{ path('app_contact') }}" class="text-info">formulaire en ligne</a>. 
            </p>

    </div>

{% endblock %}