{% extends 'components/_base.html.twig' %}

{% block title %}Prestations{% endblock %}

{% block body %}

    <h1 class="col-12 mt-5 text-center">Nos prestations</h1>

    <div class="row justify-content-around align-items-stretch my-5">

      {% for benefit in benefits %}
        <div class="col-11 my-4 col-md-6 col-xl-5">
          <div class="card p-0 h-100">
            <div class="card-header p-2 bg-primary">
              <h3 class="fs-9 fw-medium text-success col-12 text-center h5 text-white">{{ benefit.title }}</h3>
            </div>
            <div class="card-body d-flex flex-column">
              <div class="col-12 d-flex flex-column justify-content-around text-center">
                  <div class="fs-5">{{ benefit.priceHt }}</div>
                  <div class="fs-9 text-secondary-light small">{{ benefit.priceInfo }}</div>
              </div>
              <div class="col-12 mt-4">
                {{ benefit.description | raw }}
              </div>
            </div>
          </div>
        </div>
        {# <div class="col-11 my-4 col-md-6 my-md-0 col-xl-3">
          <div class="px-8 pb-8 pt-10 bg-light-light rounded shadow">
            <div class="mb-7 d-flex flex-column align-items-center">
              <h3 class="my-4 fs-9 fw-medium text-success col-12 text-center">{{ benefit.title }}</h3>
              <div class="mt-4 d-flex fw-medium">
                <div class="fs-5">
                  <span>{{ benefit.priceHt }}</span>
                </div>
              </div>
              <p class="mb-4 fs-9 fw-medium text-secondary-light">{{ benefit.priceInfo }}</p>
            </div>
            <p class="p-2">{{ benefit.description }}</p>
            <a class="btn btn-lg btn-success fs-11 py-3 w-100 text-success-light shadow" href="#">Nous contacter</a>
          </div>
        </div> #}
      {% endfor %}

    </div>

    {% include "site/project/components/_link-to-formulaire.html.twig" %}


{% endblock %}