{% extends 'components/_base.html.twig' %}

{% block title %}
	{{ occasion.boite.name }}
	-
	{{ occasion.boite.editor }}
	-
	{{ occasion.boite.year }}
{% endblock %}
{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% block body %}

		<div class="row mt-2 mt-lg-5 pt-5">
			<div class="col-12 col-md-6 ps-5">
				{% if app.request.headers.get('referer') is null %}
					<a class="btn btn-secondary" href="{{ path('app_catalogue_occasions') }}#{{ occasion.id }}">Retour au catalogue général</a>
				{% else %}
					<a class="btn btn-secondary" href="{{ app.request.headers.get('referer') }}#{{ occasion.id }}">Retour au catalogue</a>
				{% endif %}
			</div>
		</div>

		<!-- BLOC PRESENTATION DU JEU  -->
		<div class="row bg-white">
			<div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
				<div class="col-12 col-md-6 text-center p-0">
					<div class="divImgPresentation mt-1">
						<div class="zoom">
							<div class="zoom__top zoom__left"></div>
							<div class="zoom__top zoom__centre"></div>
							<div class="zoom__top zoom__right"></div>
							<div class="zoom__middle zoom__left"></div>
							<div class="zoom__middle zoom__centre"></div>
							<div class="zoom__middle zoom__right"></div>
							<div class="zoom__bottom zoom__left"></div>
							<div class="zoom__bottom zoom__centre"></div>
							<div class="zoom__bottom zoom__right"></div>
							{# <img class="zoom__image" src="data:image/png;base64,{{ images[key] }}"/> #}
							<img class="zoom__image" src="{{ vich_uploader_asset(occasion.boite, 'imageFile') }}"/>
						</div>
					</div>
					<span class="col-12 col-md-6 text-muted small text-center">
						Photo non contractuelle
					</span>
				</div>
			</div>
			<div class="col-12 col-md-6 d-flex flex-column">
					<div class="col-12 occasion_detail_editor mt-5">{{ occasion.boite.editor }}</div>
					<div class="col-12 occasion_detail_name">{{ occasion.boite.name }}</div>
					{% include "components/catalog/_occasion_details.html.twig"  with { 'occasion': occasion } %}
					{# on inclus le bouton ajout au panier #}
					<div class="col-12 my-2">
						{% include "components/catalog/_card_cart_button.html.twig" with {'item': occasion}%}
					</div>
					<div class="col-12 d-flex justify-content-around my-5">
						<div class="col __shop"><img src="{{ asset('build/images/design/cart/shop_retrait.svg') }}" alt="Logo shop_retrait"> Retrait sur Caen</div>
						<div class="col __no_transport"><img src="{{ asset('build/images/design/cart/no_transport.svg') }}" alt="Logo no_transport"> Pas de livraison</div>
					</div>
			</div>
		</div>

		{% include "components/_separateur_wave.html.twig" %}

		<div class="row justify-content-around bg-white">
			<div class="col-11 my-4 title_bis">Ces jeux pourraient <span class="text_juliette_purple">vous plaire</span></div>
			{% for firstElement in firstElements %} 
			    <div class="col-8 col-sm-6 col-lg-3 mx-md-0 px-3 px-md-5 px-lg-1 my-3"> 
        			{% include "components/catalog/_cardOccasion.html.twig" with { 'product': firstElement, 'tax': tax } %}
				</div>
			{% endfor %}
		</div>


		{% include "components/_row_donner_ses_jeux.html.twig" %}

{% endblock %}
