{% extends 'site/base.html.twig' %}

{% block title %}
	{{ occasion.boite.name }}
	-
	{{ occasion.boite.editor }}
	-
	{{ occasion.boite.year }}
{% endblock %}

{% block body %}


		<div class="row">
			<div class="col-12 col-md-6">
				{% if app.request.headers.get('referer') is null %}
					<a class="btn btn-secondary" href="{{ path('app_catalogue_occasions') }}#{{ occasion.id }}">Retour au catalogue général</a>
				{% else %}
					<a class="btn btn-secondary" href="{{ app.request.headers.get('referer') }}#{{ occasion.id }}">Retour au catlaogue</a>
				{% endif %}
			</div>
		</div>
		<!-- BLOC PRESENTATION DU JEU  -->
		<div class="row justify-content-center mt-3 mb-5">
			<div class="card col-11 col-lg-10 p-0 border shadow mb-3">
				<h1 class="col-12 text-center mt-3 h2">
					{{ occasion.boite.name }}<br/>
					{{ occasion.boite.editor }}<br/>
						{% if occasion.boite.year is not null %}
							<span class="small">{{ occasion.boite.year }}</span>
						{% else %}
							<span class="small">Année inconnue</span>
						{% endif %}
				</h1>
				<!-- BLOC PARTAGE RESEAUX SOCIAUX  -->
			    <div class="col-12 d-flex justify-content-center">
					{% include "components/catalog/_share_buttons.html.twig" %}
				</div>
				<div class="card-body d-flex flex-wrap">
					<!-- image de la boite -->
					<div class="col-12 col-md-6 text-center p-0">
						<div class="divImgPresentation mt-1">
							<div class="zoom">
								<div class="zoom__top zoom__left"></div>
								<div class="zoom__top zoom__centre"></div>
								<div class="zoom__top zoom__right"></div>
								<div class="zoom__middle zoom__left"></div>
								<div class="zoom__middle zoom__centre"></div>
								<div class="zoom__middle zoom__right"></div>
								<div class="zoom__bottom zoom__left"></div>
								<div class="zoom__bottom zoom__centre"></div>
								<div class="zoom__bottom zoom__right"></div>
								{# <img class="zoom__image" src="data:image/png;base64,{{ images[key] }}"/> #}
                                <img class="zoom__image" src="{{ vich_uploader_asset(occasion.boite, 'imageFile') }}"/>
							</div>
						</div>
						<span class="col-12 col-md-6 text-muted small text-center">
							Photo non contractuelle
						</span>
					</div>

					<div class="col-12 col-md-6 mt-4 mt-md-0">
						<p class="col-12 small">
					    	{% include "components/catalog/players&age.html.twig" with {'item': occasion.boite }%}
						</p>
						<p>État de la boite: {{ occasion.boxCondition }}</p>
						<p>État du matériel: {{ occasion.equipmentCondition }}</p>
						<p>Règle du jeu: {{ occasion.gameRule }}</p>
						<p>Prix de vente TTC:
							{% if occasion.discountedPriceWithoutTax > 0 %}
								<strike class="text-danger"><b>{{ (occasion.PriceWithoutTax * ( 1 + (tax.value / 100)) / 100) | number_format(2, '.', ',') }}</b></strike>
								<b>{{ (occasion.discountedPriceWithoutTax * ( 1 + (tax.value / 100)) / 100) | number_format(2, '.', ',') }} €</b>
							{% else %}
								{{ (occasion.PriceWithoutTax * ( 1 + (tax.value / 100)) / 100) | number_format(2, '.', ',') }} €
							{% endif %}
						
						</p>
						{% if (occasion.information is not null) %}
							<p><i class="fa-solid fa-circle-info text-info"></i> Informations:<br/> {{ occasion.information }}</p>
						{% endif %}

						{# <p>Prix TTC: {{ (occasion.priceHt * tva / 100) | number_format(2, ',', '.') }} €</p> #}
                        
						{# on inclus le bouton ajout au panier #}
						<p class="col-12 text-center">
                        	{% include "components/catalog/_card_cart_button.html.twig" with {'item': occasion}%}
						</p>

					</div> 
				</div>
			</div>
		</div>

{% endblock %}
