{% extends "components/_base.html.twig" %}

{% block title %}Un service pour complèter vos jeux de socièté.{% endblock %}

{% block body %}


<div class="row justify-content-center align-items-center my-5">
    <div class="col-12 col-md-6 col-lg-5 d-flex flex-column pt-3">
        <h1 class="col-12">
            Craquez pour nos<br/>
            <span class="text-purple">jeux de société</span><br/>
            d'occasion !
        </h1>
        <div class="col-12 mt-4">
            Disponibles en retrait à Caen dans le Calvados.
        </div>
        <div class="col-12 d-flex justify-content-around mt-3">
            <a class="btn btn-dark" href="{{ path('app_catalogue_occasions', {'category': null}) }}">Acheter un jeu</a>
            <a class="btn btn-light flex-column" href="{{ path('app_catalogue_pieces_detachees') }}">
            Completer un jeu</br>
            <small>Livraison possible</small>
            </a>
        </div>

    </div>
    <div class="col-12 mt-3 mt-md-0 col-md-6 col-lg-5 d-flex justify-content-end">
        <img class="card-img-top-index" src="{{ asset('build/images/design/index/lot_de_presentation.png') }}" alt="Image d'un lot de jeux de socièté">
    </div>
</div>

<div id="index_info_separator" class="row">
    <ul class="col-12 d-flex flex-column flex-md-row justify-content-around align-items-center">
        <li>//TODO Bla bla à faire</li>
        <li>//TODO Bla bla à faire</li>
        <li>Jeux vérifiés et nettoyés avec soin</li>
        <li>//TODO Bla bla à faire</li>
    </ul>
</div>


<div class="row justify-content-around py-5 bg-white align-items-center">
    <div class="col-11 col-sm-5 mb-4 mb-lg-0 col-lg-3 d-flex flex-column ps-5 justify-content-center align-items-center">
        <h2 class="col-12 text-center text-lg-left">
            Des jeux<br/> pour
            <span class="text-purple">tous<br/> les âges</span>
        </h2>
        <a class="btn btn-dark mt-3" href="{{ path('app_catalogue_occasions', {'category': null}) }}" >Voir tous les jeux</a>
    </div>
    <div class="col-11 col-sm-5 mb-4 mb-lg-0 col-lg-3">
        <div class="col-12 card card_index_info_catalogue">
                <img class="card-img-top-index" src="{{ asset('build/images/design/index/exemple_jeux_enfant.png') }}" alt="Lot de jeux pour enfants">
                <div class="card-body">
                    <div class="card-title text-center"><a href="">Enfants <i class="fa-solid fa-right-long"></i></a></div>
                    <p class="card-text text-center">A partir de 2 ans</p>
                </div>
        </div>
    </div>
    <div class="col-11 col-sm-5 mb-4 mb-lg-0 col-lg-3">
        <div class="col-12 card card_index_info_catalogue">
            <img class="card-img-top-index" src="{{ asset('build/images/design/index/exemple_jeux_tout_public.png') }}" alt="Lot de jeux tout public">
            <div class="card-body">
                <div class="card-title text-center"><a href="">Tout public <i class="fa-solid fa-right-long"></i></a></div>
                <p class="card-text text-center">A partir de 7 ans</p>
            </div>
        </div>
    </div>
    <div class="col-11 col-sm-5 mb-4 mb-lg-0 col-lg-3">
        <div class="col-12 card card_index_info_catalogue">
            <img class="card-img-top-index" src="{{ asset('build/images/design/index/exemple_jeux_inities.png') }}" alt="Lot de jeux pour initiés">
            <div class="card-body">
                <div class="card-title text-center"><a href="">Initié·es <i class="fa-solid fa-right-long"></i></a></div>
                <p class="card-text text-center">A partir de 12 ans</p>
            </div>
        </div>
    </div>
</div>

{% include "components/_separateur_wave.html.twig" %}

<div class="row justify-content-center py-5 bg-white">
    <h2 class="col-12 display-4 text-center">
        Trouvez la pièce <span class="text-purple">manquante !</span>
    </h2>
    <div class="col-12 mt-4 text-center">
        <img class="index_chess" src="{{ asset('build/images/design/trace_and_chess.png') }}" alt="catalogue des pièces détachées">
    </div>
    <a class="btn btn-light mt-3 d-flex flex-column" href="{{ path('app_catalogue_pieces_detachees') }}">
        Completer un jeu</br>
        <small>Livraison possible</small>
    </a>

</div>

{% include "components/_row_donner_ses_jeux.html.twig" %}

{# <div class="row my-4">
    <div class="col-12 text-center">
        <div class="fb-page shadow-lg" data-href="https://www.facebook.com/refaitesvosjeux" data-width="380" data-hide-cover="false" data-show-facepile="false"></div>
    </div>
</div> #}
{% endblock %}
