{% extends 'site/base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}

    <h1 class="col-12 my-5 text-center">Mentions légales</h1>

    <div class="row my-5">
        <div class="col-12 mt-4 mb-4">

            <p>Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique et de la protection des données (RGPD) de l’Union européenne (UE), nous portons à la connaissance des utilisateurs et visiteurs du site {{ configurationSite.urlSiteSociete }} les informations suivantes :</p>

            <div class="offset-1 col-11 mt-4">
                <h2>Informations légales</h2>
                    <p>
                    Propriétaire du site : {{ configurationSite.nomSociete }}<br />
                    Adresse de courrier électronique : {{ configurationSite.adresseMailSociete }}<br />
                    Adresse : {{ configurationSite.adresseSociete }}<br />
                    Hébergeur du site: {{ configurationSite.hebergeur }}<br/>
                    </p>
                    <p>
                    Créateur du site: {{ configurationSite.societeWebmaster }}<br />
                    <i class="fas fa-pen"></i> Webmaster : {{ configurationSite.nomWebmaster }}
                    </p>
            </div>
        </div>

        <div class="col-12 mt-4">
            <h2 id="cgu" class="col-12 text-center mb-3">Conditions générales d’utilisation du site et des services proposés</h2>

            L’utilisation du site {{ configurationSite.urlSiteSociete }} implique l’acceptation pleine et entière des conditions générales d’utilisation décrites ci-aprés. <i class="fas fa-server text-gray fa-2x"></i><br/>
            Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, sans préavis, aussi les utilisateurs du site {{ configurationSite.urlSiteSociete }} sont invités à les consulter de manière régulière. {{ configurationSite.urlSiteSociete }} est par principe accessible aux utilisateurs 24/24h, 7/7j, sauf interruption, programmée ou non, pour les besoins de sa maintenance ou cas de force majeure. En cas d’impossibilité d’accès au service, {{ configurationSite.urlSiteSociete }} s’engage à faire son maximum afin de rétablir l’accès au service et s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention. N’étant soumis qu’à une obligation de moyen, {{ configurationSite.urlSiteSociete }} ne saurait être tenu pour responsable de tout dommage, quelle qu’en soit la nature, résultant d’une indisponibilité du service.

            Le site {{ configurationSite.urlSiteSociete }} est mis à jour régulièrement par le proprietaire du site. De la même façon, les mentions légales peuvent être modifiées à tout moment, sans préavis et s’imposent à l’utilisateur sans réserve. L’utilisateur est réputé les accepter sans réserve et s’y référer régulièrement pour prendre connaissance des modifications.
            Le site {{ configurationSite.urlSiteSociete }} se réserve aussi le droit de céder, transférer, ce sans préavis les droits et/ou obligations des présentes CGU et mentions légales. En continuant à utiliser les services du site {{ configurationSite.urlSiteSociete }} , l’utilisateur reconnaît accepter les modifications des conditions générales qui seraient intervenues.
        </div>

        <div class="col-12 mt-4">
            <h2>Description des services fournis</h2>

            Le site {{ configurationSite.urlSiteSociete }} a pour objet de fournir une information concernant l’ensemble des activités de la société.
            Le proprietaire du site s’efforce de fournir sur le site {{ configurationSite.urlSiteSociete }} des informations aussi précises que possible. Toutefois, il ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.
            Tous les informations proposées sur le site {{ configurationSite.urlSiteSociete }} sont données à titre indicatif, sont non exhaustives, et sont susceptibles d’évoluer. Elles sont données sous réserve de modifications ayant été apportées depuis leur mise en ligne.
        </div>

        <div class="col-12 mt-4">
            <h2>Limites de responsabilité</h2>

            Le site {{ configurationSite.urlSiteSociete }} utilise les technologies PHP <a href="https://www.php.net/manual/fr/intro-whatis.php" target="_blank"><i class="fab fa-php fa-2x text-info"></i></a> et Javascript <a href="https://developer.mozilla.org/fr/docs/Learn/JavaScript/First_steps/What_is_JavaScript" target="_blank"><i class="fab fa-js fa-2x text-warning"></i></a> avec le framework <i class="fa-brands fa-2x fa-symfony"></i>.<br />
            Le site {{ configurationSite.urlSiteSociete }} ne saurait être tenu responsable des erreurs typographiques ou inexactitudes apparaissant sur le service, ou de quelque dommage subi résultant de son utilisation. L’utilisateur reste responsable de son équipement et de son utilisation, de même il supporte seul les coûts directs ou indirects suite à sa connexion à Internet.

            L’utilisateur du site {{ configurationSite.urlSiteSociete }} s’engage à accéder à celui-ci en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mise à jour.

            L’utilisateur dégage la responsabilité de {{ configurationSite.urlSiteSociete }} pour tout préjudice qu’il pourrait subir ou faire subir, directement ou indirectement, du fait des services proposés. Seule la responsabilité de l’utilisateur est engagée par l’utilisation du service proposé et celui-ci dégage expressément le site {{ configurationSite.urlSiteSociete }} de toute responsabilité vis à vis de tiers.
            Des espaces interactifs (possibilité de poser des questions dans l’espace contact) sont à la disposition des utilisateurs. Le site {{ configurationSite.urlSiteSociete }} se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données. Le cas échéant, le proprietaire du site se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie…).
            Il est ici rappelé que le développeur du site {{ configurationSite.urlSiteSociete }} garde trace de l’adresse mail, et de l’adresse IP de l’utilisateur. En conséquence, il doit être conscient qu’en cas d’injonction de l’autorité judiciaire il peut être retrouvé et poursuivi.
        </div>

        <div class="col-12 mt-4">
            <h2>Propriété intellectuelle et contrefaçons</h2>

            Le proprietaire du site est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels…
            Toute reproduction, représentation, modification, publication, adaptation totale ou partielle des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable à l’email : {{ configurationSite.adresseMailSociete }}
            Toute exploitation non autorisée du site ou de l’un quelconque de ces éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.
        </div>

        <div class="col-12 mt-4">
            <h2>Liens hypertextes et cookies <i class="fas fa-link text-info"></i> <i class="fas fa-cookie text-brun"></i></h2>

            Le site {{ configurationSite.urlSiteSociete }} contient un certain nombre de liens hypertextes vers d’autres sites (partenaires, informations …) mis en place avec l’autorisation du proprietaire du site . Cependant, le proprietaire du site n’a pas la possibilité de vérifier le contenu des sites ainsi visités et décline donc toute responsabilité de ce fait quand aux risques éventuels de contenus illicites.

            L’utilisateur est informé que lors de ses visites sur le site {{ configurationSite.urlSiteSociete }}, un ou des cookies sont susceptible de s’installer automatiquement sur son ordinateur. Un cookie est un fichier de petite taille, qui ne permet pas l’identification de l’utilisateur, mais qui enregistre des informations relatives à la navigation d’un ordinateur sur un site. Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le site, et ont également vocation à permettre diverses mesures de fréquentation.

            Le paramétrage du logiciel de navigation permet d’informer de la présence de cookie et éventuellement, de refuser de la manière décrite à l’adresse suivante : www.cnil.fr Le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services. L’utilisateur peut toutefois configurer son ordinateur de la manière suivante, pour refuser l’installation des cookies :
            
                <ul class="list-unstyled ml-2 mt-2">
                    <li><i class="fab fa-internet-explorer"></i> Sous Internet Explorer : onglet outil / options internet. Cliquez sur Confidentialité et choisissez Bloquer tous les cookies. Validez sur Ok.</li>
                    <li><i class="fab fa-firefox-browser"></i> Sous Firefox : options / Vie privée et sécurité / Cookies et données de sites. Cliquez sur Effacez les données.</li>
                </ul>
        </div>

        <div class="col-12 mt-4">
            <h2>Droit applicable et attribution de juridiction <i class="fas fa-balance-scale text-brun"></i></h2>

            Tout litige en relation avec l’utilisation du site {{ configurationSite.urlSiteSociete }} est soumis au droit français. L’utilisateur ainsi que {{ configurationSite.urlSiteSociete }} acceptent de se soumettre à la compétence exclusive des tribunaux Français en cas de litige.
        </div>

        <div class="col-12 mt-4">
            <h2>Protection des biens et des personnes – gestion des données personnelles</h2>

            {{ configurationSite.nomSociete }} s'engage à ce que la collecte et le traitement de vos données, effectués à partir du site {{ configurationSite.urlSiteSociete }}, soient conformes au règlement général sur la protection des données (RGPD) et à la loi Informatique et Libertés.

            Chaque formulaire limite la collecte des données personnelles au strict nécessaire (minimisation des données).
            <p class="mt-4">
            <i class="fas fa-info"></i> En savoir plus auprès de la CNIL : <a rel="noreferrer" href="https://www.cnil.fr/fr/les-droits-pour-maitriser-vos-donnees-personnelles">cliquez ici</a>
            </p>

            Les données personnelles recueillies dans le cadre des services proposés sur {{ configurationSite.urlSiteSociete }} sont traitées selon des protocol-12es sécurisés et permettent à {{ configurationSite.nomSociete }} de gérer les demandes reçues dans ses applications informatiques.

            <p>
            Pour toute information ou exercice de vos droits Informatique et Libertés sur les traitements de données personnelles gérés par {{ configurationSite.nomSociete }}, vous pouvez contacter son responsable de protection des données (DPO) :
                <ul class="list-unstyled ml-2">
                    <li><i class="fas fa-at"></i> Par le formulaire de contact <a href="/contact/">disponible sur cette page</a></li>
                    <li><i class="fas fa-envelope"></i> Par courrier signé accompagné de la copie d’un titre d’identité à l'adresse suivante :</li>
                </ul>
                        <div class="col-12 ml-5">
                            {{ configurationSite.nomSociete }}<br />
                            A l'attention du délégué à la protection des données (DPO)<br />
                            {{ configurationSite.adresseSociete }}
                        </div>
            </p>
            Sur le site {{ configurationSite.urlSiteSociete }}, le proprietaire du site ne collecte des informations personnelles relatives à l’utilisateur que pour le besoin de certains services proposés par le site {{ configurationSite.urlSiteSociete }}. L’utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu’il procède par lui-même à leur saisie. Il est alors précisé à l’utilisateur du site {{ configurationSite.urlSiteSociete }} l’obligation ou non de fournir ces informations.

            Aucune information personnelle de l’utilisateur du site {{ configurationSite.urlSiteSociete }} n’est publiée à l’insu de l’utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers sans la validation de l'utilisateur lui-même. Seule l’hypothèse du rachat du site {{ configurationSite.urlSiteSociete }} au proprietaire du site et de ses droits permettrait la transmission des dites informations à l’éventuel acquéreur qui serait à son tour tenu de la même obligation de conservation et de modification des données vis à vis de l’utilisateur du site {{ configurationSite.urlSiteSociete }}.
        </div>
    </div>

{% endblock %}