{% extends 'components/_base.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
    <h2 class="col-12 text-center py-4">Changement de <span class="text-purple">mot de passe</span></h2>

    {% if not resetPasswordForm.vars.valid %}
        <ul class="col-12 col-md-6 text-center text-danger mx-auto py-3">
            {# Loop through every form item #}
            {% for child in resetPasswordForm.children %}
                {# Display the errors of the form item #}
                {% for error in child.vars.errors %}
                    <li class="list-unstyled">{{error.message}}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    <div class="row bg-white justify-content-around py-5">
        {{ form_start(resetPasswordForm) }}
            <div class="mb-5 col-11 col-sm-9 mx-auto col-md-8 col-lg-4 col-xl-3">
                <label class="form-label">{{ form_label(resetPasswordForm.password) }}</label>
                {{ form_widget(resetPasswordForm.password) }}
                <div id="PasswordHelp" class="form-text text-purple">Quelque chose de robuste...</div>
            </div>
            <div class="mb-5 col-11 col-sm-9 mx-auto col-md-8 col-lg-4 col-xl-3">
                <label class="form-label">{{ form_label(resetPasswordForm.passwordVerify) }}</label>
                {{ form_widget(resetPasswordForm.passwordVerify) }}
                <div id="PasswordVerifyHelp" class="form-text text-purple">Toujours quelque chose de robuste...</div>
            </div>
            <div class="col-12 d-flex justify-content-around text-center mt-3">
                <button type="submit" class="btn btn-success">Mettre à jour !</button>
            </div>
        {{ form_end(resetPasswordForm) }}
    </div>

    {% include "components/_separateur_wave.html.twig" %}

{% endblock %}
