{# <div class="col-11 mx-auto text-end">
	<a class="text-decoration-none" href="#">
		<i class="fa-solid fa-caret-up"></i>
		Retour en haut</a>
</div>
<footer id="footer-navbar" class="navbar bg-primary pt-4 mb-1">
	<ul class="mt-2 col-12 mx-auto d-flex flex-column flex-md-row justify-content-around align-items-center list-unstyled">
		<li>
			<a class="text-white text-decoration-none" href="{{ path('app_mentions_legales') }}">Mentions / CGU</a>
		</li>
		<li>
			<a class="text-white text-decoration-none" href="{{ path('app_conditions_generale_de_vente') }}">CGV</a>
		</li>
		<li>
			<a class="text-white text-decoration-none" href="{{ path('app_who_are_we') }}">Qui sommes nous ?</a>
		</li>
		<li>
			<a class="text-white text-decoration-none" href="{{ path('app_contact') }}">Contact</a>
		</li>
		<li>
			<a class="text-white text-decoration-none" href="{{ path('app_press') }}">Presse</a>
		</li>
		<li class="mb-3 mb-md-0">
			<a class="text-white text-decoration-none" href="{{ path('app_partenaires') }}">Partenaires</a>
		</li>
		<li>
			<a class="col-6" href="https://www.facebook.com/refaitesvosjeux" target="_blank">
				<img src="{{ asset('build/images/design/logoFacebook.png') }}" width="40" height="40" class="imgFindUsOnFacebook" alt="Suivez-nous sur Facebook !" title="Suivez-nous sur Facebook !">
			</a>
		</li>
	</ul>
	<div class="col-12 text-center small text-warning">
		<a class="text-decoration-none cursor-alias" href="https://www.je-developpe.fr/" target="_blank">Site créé par: Je-Développe</a><br/>
		Version
		<span id="textVersion">{{ app.request.server.get('VERSION_SITE') }}</span>
		- Copyright 2021 -
		{{ "now" | date("Y") }}
	</div>
</footer> #}

<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluide">
	<footer
		class="bg-primary text-center text-lg-start text-white">
		<!-- Grid container -->
		<div
			class="container p-4">
			<!--Grid row-->
			<div
				class="row my-4">
				<!--Grid column-->
				<div class="order-4 order-lg-1 col-lg-3 col-md-6 mb-4 mb-md-0">

					<div class="shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto">
						<img class="img-thumbnail" src="{{ asset('build/images/design/logoSite.png') | imagine_filter('logoSite') }}" alt="Refaites vos jeux" loading="lazy"/>
					</div>

					<p class="text-info text-start">L’association œuvre pour le réemploi des jeux et le lien social.</p>

					<ul class="list-unstyled d-flex flex-row justify-content-center">
						<li>
							<a class="text-secondary px-2" href="https://www.facebook.com/refaitesvosjeux">
								<img src="{{ asset('build/images/design/logoFacebook.png') }}" width="40" height="40" class="imgFindUsOnFacebook" alt="Suivez-nous sur Facebook !" title="Suivez-nous sur Facebook !">
							</a>
						</li>
						{# <li>
						              <a class="text-white px-2" href="#!">
						                <i class="fab fa-instagram"></i>
						              </a>
						            </li>
						            <li>
						              <a class="text-white ps-2" href="#!">
						                <i class="fab fa-youtube"></i>
						              </a>
						            </li> #}
					</ul>

				</div>
				<!--Grid column-->

				<!--Grid column-->
				<div class="order-lg-1 col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase mb-4 text-info shadow text-center p-1">Catalogues</h5>

					<ul class="list-unstyled text-start ps-1">
						<li class="mb-2">
							<a href="{{ path('app_catalogue_pieces_detachees') }}" class="text-white text-decoration-none detect-rotate">
								<i class="fa-solid fa-dice-{{dices[1]}} pe-3"></i>Pièces détachées</a>
						</li>
						<li class="mb-2">
							<a href="{{ path('app_catalogue_occasions') }}" class="text-white text-decoration-none detect-rotate">
								<i class="fa-solid fa-dice-{{dices[2]}} pe-3"></i>Jeux d'occasion</a>
						</li>
						<li class="mb-2">
							<a href="{{ path('app_prestations') }}" class="text-white text-decoration-none detect-rotate">
								<i class="fa-solid fa-dice-{{dices[3]}} pe-3"></i>Nos prestations</a>
						</li>
					</ul>
				</div>
				<!--Grid column-->

				<!--Grid column-->
				<div class="order-lg-2 col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase mb-4 text-info shadow text-center p-1">Informations</h5>

					<ul class="list-unstyled text-start ps-1">
						<li class="mb-2">
							<a href="{{ path('app_who_are_we') }}" class="text-white text-decoration-none detect-rotate">
								<i class="fa-solid fa-dice-{{dices[1]}} pe-3"></i>Qui sommes nous ?</a>
						</li>
						<li class="mb-2">
							<a href="{{ path('app_partenaires') }}" class="text-white text-decoration-none detect-rotate">
								<i class="fa-solid fa-dice-{{dices[2]}} pe-3"></i>Partenaires</a>
						</li>
						<li class="mb-2">
							<a href="{{ path('app_press') }}" class="text-white text-decoration-none detect-rotate">
								<i class="fa-solid fa-dice-{{dices[3]}} pe-3"></i>Presse</a>
						</li>
					</ul>
				</div>
				<!--Grid column-->

				<!--Grid column-->
				<div class="order-lg-3 col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase mb-4 text-info shadow text-center p-1">Légale</h5>
					<ul class="list-unstyled text-start ps-1">
						<li class="mb-2">
							<a href="{{ path('app_conditions_generale_de_vente') }}" class="text-white text-decoration-none detect-rotate">
								<i class="fa-solid fa-dice-{{dices[1]}} pe-3"></i>CGV</a>
						</li>
						<li class="mb-2">
							<a href="{{ path('app_mentions_legales') }}" class="text-white text-decoration-none detect-rotate">
								<i class="fa-solid fa-dice-{{dices[2]}} pe-3"></i>Mentions / CGU</a>
						</li>
						<li class="mb-2">
							<a href="{{ path('app_contact') }}" class="text-white text-decoration-none detect-rotate">
								<i class="fa-solid fa-dice-{{dices[3]}} pe-3"></i>
							</i>Contact</li>
					</a>
				</li>
			</ul>
		</div>
		<!--Grid column-->
	</div>
	<!--Grid row-->
</div>
<!-- Grid container -->

<!-- Copyright -->
<div class="text-center pb-1">
	2021 -
	{{ "now" | date("Y") }}<br/>
	<a class="text-decoration-none cursor-alias small text-secondary" href="https://www.je-developpe.fr/" target="_blank">Je-Développe</a>
</div>
<!-- Copyright --></footer></div><!-- End of .container -->
