<nav id="navbar-top" class="navbar navbar-expand-lg bg-dark mt-2" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home') }}">RVJ3</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catalogues</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ path('app_catalogue_pieces_detachees') }}">Pièces détachées</a>
                <a class="dropdown-item" href="{{ path('app_catalogue_occasions') }}">Jeux d'occasion</a>
                <a class="dropdown-item" href="#">Articles</a>
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_partenaires') }}">Partenaires</a>
        </li>
   
      </ul>
      <ul class="navbar-nav">
        {% if is_granted('ROLE_USER') %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mon espace</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ path('member') }}">Espace membre</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              {% if is_granted('ROLE_ADMIN') %}
                <a class="dropdown-item" href="{{ path('admin') }}"><i class="fa-solid fa-lock text-info"></i> ADMINISTRATION</a>
              {% endif %}
              <a class="dropdown-item" href="{{ path('logout') }}"><i class="fa-solid fa-power-off text-danger"></i> Déconnexion</a>
            </div>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}"><i class="fa-solid fa-user"></i></a>
          </li>
        {% endif %}
        <li class="nav-item">
          {% if is_granted('ROLE_USER') %}
            {% if app.user.paniers | length > 0 %}
              <a class="nav-link" href="{{ path('panier') }}">Panier ({{ app.user.paniers | length }})</a>
            {% else %}
              <a class="nav-link">Panier (0)</a>
            {% endif %}
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>