
{# si c'est un occasion passe en parametre #}

    {% set boite = product.boite %}
    {% set card_item = product %}
    {% set setEntityId = product.id %}
    {% set entityNameController = 'Occasion' %}
    

    <div id="{{ setEntityId }}" class="card_ d-flex flex-wrap h-100 mx-2 position-relative">
        <a href="{{ path('occasion', {'reference_occasion': occasion.reference, 'editor_slug': occasion.boite.editor.slug, 'boite_slug': occasion.boite.slug | lower }) }}" class="_card_full_button"></a>
        <div class="card_div_img">
            <img class="card_catalog_img" src="{{ vich_uploader_asset(boite, 'imageFile') }}" alt="Image de la boite de jeu {{ boite.name }} - {{ boite.editor }}"/><br/>
        </div>
        <div class="card_boite_name mt-3">{{ boite.name | raw }}</div>
        <div class="col-12 px-0">
            {% include "components/catalog/_players&age.html.twig" with {'item': boite } %}
        </div>
        <div class="col-12 px-0 mb-2">
            {% include "components/catalog/_durationOfTheGame.html.twig" with {'item': boite } %}
        </div>
        <div class="col-12 d-flex flex-wrap justify-content-around align-items-center mb-3 px-0">
            <div class="col-6 p-0 text-orange fw-bold">
                {% include "components/occasion/_display_occasion_price.html.twig" with {'product': product, 'tax': tax} %}
            </div>
            <div class="col-6 d-flex justify-content-end">
                {% include "site/pages/catalog/components/_cardOccasion_button_add_cart.html.twig" with {'entityNameInController': entityNameController, 'buttonLength': 'small'} %}
            </div>

            {# <div class="col-6 d-flex justify-content-end p-0">
                {% include "site/pages/catalog/components/_cardOccasion_button.html.twig" with {'item': card_item }%}
            </div> #}
        </div>
    </div>

