    <div id="{{ occasion.id }}" class="card_ d-flex flex-wrap h-100 mx-2 position-relative">
        <a href="{{ path('occasion', {'reference_occasion': occasion.reference, 'editor_slug': occasion.boite.editor.slug, 'boite_slug': occasion.boite.slug | lower }) }}" class="_card_full_button"></a>
        <div class="card_div_img p-0">
            <img class="card_catalog_img" src="{{ vich_uploader_asset(occasion.boite, 'imageFile') | imagine_filter('occasion') }}" alt="Image de la boite de jeu {{ occasion.boite.name }} - {{ occasion.boite.editor }}"/><br/>
        </div>
        <div class="card_boite_name mt-0 mt-md-1">{{ occasion.boite.name | raw }}</div>
        <div class="col-12 px-0">
            {% include "components/catalog/_players&age.html.twig" with {'item': occasion.boite } %}
        </div>
        <div class="col-12 px-0 mb-2">
            {% include "components/catalog/_durationOfTheGame.html.twig" with {'item': occasion.boite } %}
        </div>
        <div class="col-12 d-flex flex-wrap justify-content-around align-items-center mb-3">
            <div class="col-6">
                {% include "components/occasion/_display_occasion_price.html.twig" with {'product': occasion, 'tax': tax} %}
            </div>
            <div class="col-6 d-flex justify-content-end">
                {% include "site/pages/catalog/components/_cardOccasion_button_add_cart.html.twig" with {'occasion': occasion, 'buttonLength': 'small'} %}
            </div>
        </div>
    </div>