{% if is_granted('ROLE_USER') %}

    {% if delivery is defined %}
        {% if delivery is null %}

            <a class="btn btn-dark mt-2" href="{{ path('member_adresses') }}"><i class="fas fa-lightbulb text-info mr-1"></i> Pensez à renseigner une adresse de livraison...</a>

        {% else %}

            {% if delivery == true %}
            
                <a class="btn btn-dark mt-3" href="{{ path('panier_add_occasion', {'occasion_id': item.id }) }}">Ajouter au panier</a>

            {% else %}

                <a class="btn btn-orange mt-2" href="{{ path('member_adresses') }}"><i class="fas fa-lightbulb text-info mr-1"></i> Vous semblez être trop loin pour un retrait...</a>

            {% endif %}

        {% endif %}
    {% else %}

        <a href="{{ path('occasion', {'reference_occasion': occasion.reference, 'editor_slug': occasion.boite.editor.slug, 'boite_slug': occasion.boite.slug | lower }) }}" class="btn btn-dark mt-3 mb-2 ">Détails</a>
        
    {% endif %}

{% else %}

    <a href="{{ path('app_login') }}" class="btn btn-dark mt-3 mb-2 ">S'identifier</a>
    
{% endif %}