{% include "components/forms/_display_form_errors.html.twig" %}

    {{ form_start(form) }}
        <div class="col-10 col-sm-10 col-md-12 px-0 d-flex flex-column flex-wrap justify-content-around">
            <div class="col-10 col-sm-8 col-md-12 col-xl-10 mb-3">
                <label class="label_in_occasion_search_form">{{ form_label(form.search) }}</label>
                {{ form_widget(form.search) }}
            </div>
            <div class="col-7 col-sm-6 col-md-12 col-xl-10 mb-3">
                <label class="label_in_occasion_search_form">{{ form_label(form.age_start) }}</label>
                {{ form_widget(form.age_start) }}
            </div>
            <div class="col-11 mb-3">
                <label class="label_in_occasion_search_form">{{ form_label(form.playerMin) }}</label>
                <ul class="d-flex flex-wrap justify-content-start px-0 col-12">
                    {% for player in form.playerMin %}
                            <li class="list-unstyled col-2 col-md-3 col-xl-2 p-0 my-1 d-flex flex-wrap justify-content-center align-items-center">
                                <div class="d-flex justify-content-center align-items-center li_players position-relative">{{ form_widget(player) }}</div>
                                <span class="col-6 d-flex justify-content-center align-items-center li_players_label p-0 position-absolute">{{ form_label(player) }}</span>
                            </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-11 mb-3">
                <label class="label_in_occasion_search_form">{{ form_label(form.duration) }}</label>
                <ul class="d-flex flex-wrap justify-content-start px-0 col-12">
                    {% for time in form.duration %}
                            <li class="list-unstyled col-6 col-md-11 p-0 my-1 d-flex flex-wrap justify-content-center align-items-center">
                                <div class="d-flex justify-content-end align-items-center li_durations">{{ form_widget(time) }}</div>
                                <span class="col-9 li_durations_label">{{ form_label(time) }}</span>
                            </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-11">
                {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
                <div class="input-group-append text-center col-12">
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-dark">Chercher</button>
                        <a href="{{ currentPath }}" type="button" class="btn btn-orange">Reset</a>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
