{% include "components/forms/_display_form_errors.html.twig" %}
{{ form_start(form, {'attr': {'id': 'search_occasions_in_catalogue' }}) }}
    <div class="col-12 ps-4 d-flex flex-wrap">
        {# <div class="col-10 col-sm-8 col-md-12 col-xl-10 mb-3">
            <label class="label_in_occasion_search_form">{{ form_label(form.search) }}</label>
            {{ form_widget(form.search) }}
        </div> #}
        <div class="col-7 col-md-12 mb-3">
            <label class="label_in_occasion_search_form">{{ form_label(form.playerMin) }}</label>
            <ul class="d-flex flex-wrap justify-content-start px-0 col-12">
                {% for player in form.playerMin %}
                    <li class="list-unstyled col-2 p-0 my-1 mx-0 mx-md-1 mx-xl-0 d-flex flex-wrap justify-content-center align-items-center">
                        <div class="li_players">{{ form_widget(player) }}</div>
                        <span class="li_players_label">{{ form_label(player) }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-6 col-md-11 mb-3">
            <label class="label_in_occasion_search_form">{{ form_label(form.age_start) }}</label>
            <ul class="d-flex flex-wrap justify-content-start px-0 col-12">
                {% for age in form.age_start %}
                    <li class="list-unstyled col-6 col-md-12 p-0 my-1 d-flex flex-wrap">
                        <div class="li_ages">{{ form_widget(age) }}</div>
                        <span class="li_ages_label ps-2">{{ form_label(age) }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-6 col-md-11 mb-3">
            <label class="label_in_occasion_search_form">{{ form_label(form.duration) }}</label>
            <ul class="p-0 m-0">
                {% for time in form.duration %}
                    <li class="list-unstyled col-12 p-0 my-1 d-flex flex-wrap">
                        <div class="li_durations">{{ form_widget(time) }}</div>
                        <span class="li_durations_label ps-2">{{ form_label(time) }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-11 text-end text-md-start">
                {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
                {# <button type="submit" class="btn btn-dark">Chercher</button> #}
                <a id="resetFormButton" type="button" class="text-purple text-decoration-none">Effacer les filtres</a>
        </div>
    </div>
{{ form_end(form) }}