<form method="post" class="col-12 col-md-6 mx-auto">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3 bg-danger p-4 rounded text-center">
            Déjà connecté(e) en tant que: {{ app.user.userIdentifier }}<br/> <a href="{{ path('logout') }}">Me déconnecter</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal col-12 text-center my-4">Connexion</h1>
    <label for="inputEmail">Email:</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe:</label>
    <input type="password" name="password" id="inputPassword" class="form-control mb-3" autocomplete="current-password" required>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button class="btn btn-lg btn-primary" type="submit">S'identifier</button>

</form>
    <div class="col-12 text-end">
        <a href="{{ path('app_check_email') }}">Mot de passe oublie ?</a>
    </div>