{% extends "components/_base.html.twig" %}

{% block title %}Espace membre{% endblock %}

{% block body %}

   {% include "member/components/_nav.html.twig" with {'pageMember': 'compte'} %}

   <div class="row bg-white py-5">
      <div class="col-12 col-md-6 mx-auto">
         {{ form_start(form) }}
            {{ form_widget(form.email) }}
            <p class="col-12 text-end"><a href="{{ path('check_email') }}">Changer de mot de passe ?</a></p>
            {{ form_widget(form.phone) }}
            {{ form_widget(form.country) }}
            <div class="col-12 d-flex justify-content-around text-center">
               <button class="btn btn-success my-3">{{ button_label|default('Enregistrer') }}</button>
            </div>
         {{ form_end(form) }}
      </div>
      <div class="col-12 col-lg-11 mt-3 d-flex justify-content-end">
         <a class="btn btn-dark" href="{{ path('app_contact') }}"><small>Une question ?</small></a>
      </div>

   </div>
{% endblock %}