{% extends "components/_base.html.twig" %}

{% block title %}Espace membre{% endblock %}

{% block body %}

 <h2 class="col-12 text-center py-4">Changer de <span class="text-purple">mot de passe</span></h2>

        {% if not emailForSendResetPasswordForm.vars.valid %}
            <ul class="col-12 col-md-6 text-center text-danger mx-auto py-3">
                {# Loop through every form item #}
                {% for child in emailForSendResetPasswordForm.children %}
                    {# Display the errors of the form item #}
                    {% for error in child.vars.errors %}
                        <li class="list-unstyled">{{error.message}}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
    <div class="row bg-white justify-content-around py-5">
        {{ form_start(emailForSendResetPasswordForm) }}
            <div class="col-12 d-flex flex-wrap justify-content-around">
                <div class="my-3 col-10 col-sm-9 mx-auto col-md-6 col-lg-4 col-xl-3 mx-md-0">
                    <label class="form-label">{{ form_label(emailForSendResetPasswordForm.email) }}</label>
                    {{ form_widget(emailForSendResetPasswordForm.email) }}
                    <div id="emailHelp" class="form-text text-purple">Veuillez saisir votre adresse email pour recevoir un lien.</div>
                </div>
                <div class="col-12 d-flex justify-content-center text-cente mt-3">
                    <button type="submit" class="btn btn-success">Demander</button>
                </div>
            </div>
        {{ form_end(emailForSendResetPasswordForm) }}
    </div>

{% include "components/_separateur_wave.html.twig" %}

{% endblock %}