{% extends 'member/base.html.twig' %}

{% block member %}

   <h1 class="col-12 text-center my-5">Mon historique</h1>

   {% include "member/nav.html.twig" %}

   <div class="row">
      <p class="col-12 text-center text-danger"><i class="fas fa-info-circle"></i> Les devis de plus de {{ docParams.delayBeforeDeleteDevis * 2 }} jours sont automatiquement supprimés.</p>
   </div>

   <div class="row mb-3 justify-content-center">
      {% if documents | length > 0 %}
         {% for document in documents %}
               <div class="card col-12 col-md-8 col-xl-7 p-0 mb-3">
                  <div class="card-header d-flex justify-content-between">
                     <div class="col-8">
                        {% if document.billNumber is not null %}
                           {{ document.billNumber }}
                        {% else %}
                           {{ document.quoteNumber }} du {{ document.createdAt|date('d-m-Y') }}
                        {% endif %}
                     </div>
                     <div class="col-4 text-end">{{ (document.totalWithTax / 100) |number_format(2, '.', ',') }} €</div>
                  </div>
                  <div class="card-body d-flex align-items-center">
                        {% if document.billNumber is not null %}
                           <div class="col-8">
                              Payé le {{ document.payment.timeOfTransaction|date('d-m-Y') }} <br/>{{ document.payment.details }}
                           </div>
                           <div class="col-4 text-center">
                              <a href="{{ path('member_facture_download', {'tokenDocument': document.token }) }}" data-toggle="tooltip" data-html="true" title="Facture en pdf"><i class="fas fa-print fa-2x"></i></a>
                           </div>
                        {% else %}
                           <div class="col-6 text-center">
                              <span class='text-primary'>PAS DE PAIEMENT</span><br/>
                              Valable jusqu'au {{ document.endOfQuoteValidation | date('d-m-Y') }}<br/>
                                 {% if document.isQuoteReminder == false %}
                                    {% set color = 'danger' %}
                                 {% else %}
                                    {% set color = 'success' %}
                                 {% endif %}
                              Relancé par email: <i class="fa-solid fa-paper-plane text-{{ color }}"></i>
                           </div>
                           <div class="col-6 text-center">
                              <a class="btn btn-outline-warning" href="{{ path('document_view', {'tokenDocument': document.token }) }}">Visualiser le devis</a>
                           </div>
                        {% endif %}
                  </div>
                  <div class="card-footer d-flex justify-content-between align-items-center">
                     <div class="col-5 text-center">{{ document.documentStatus.name }}</div>
                     <div class="col-5 text-center">
                        {% if document.sendingAt is not null %}
                           {{ document.shippingMethod.name }}<br/>le: {{ document.sendingAt | date('d-m-Y') }}<br/>
                           {% if document.sendingNumber is not null %}
                              Numéro de suivi: {{ document.sendingNumber }}
                           {% else %}
                              Pas de numéro de suivi.
                           {% endif %}
                        {% else %}
                           Pas encore envoyé...
                        {% endif %}
                     </div>
                  </div>
               </div>
          
         {% endfor %}
      {% else %}
         <div class="col-12 text-center">PAS ENCORE DE DOCUMENTS</div>
      {% endif %}
   </div>

   <div class="row mb-3">
      <div class="col-12 d-flex justify-content-center">
            {{ knp_pagination_render(documents, 'components/pagination.html.twig') }}
      </div>
   </div>

{% endblock %}
