{% extends "components/_base.html.twig" %}

{% block title %}Devenir ambassadeur / ambassadrice{% endblock %}

{% block body %}

    <div class="js-locations" data-locations="{{ donnees }}"></div>

    <h1 class="col-12 text-center my-5">Devenir ambassadeur / ambassadrice</h1>

    <div class="row justify-content-center my-5">
        <div class="col-11 d-flex justify-content-center align-items-center">
            <p class="fs-4">{{ metas.description }}</p>
        </div>

        <div class="col-11 text-justify my-4">
            Où que vous soyez en France, que vous soyez un particulier ou une structure, cette mission consiste à collecter des jeux près de chez vous et à nous les faire parvenir.
            <p class="text-warning lead">Nous prenons en charge les frais de port !</p>
        </div>

        <div class="col-12 text-center">
            <a class="btn btn-outline-info btn-lg" href="{{ path('app_download_ambassador_quide') }}">Télécharger le guide des ambassadeurs</a>
        </div>
    </div>

    <div class="row justify-content-center my-5">

        <h3 id="collectPoints" class="col-12 text-center my-5">Nos points de collecte</h3>

        <div class="col-11 col-md-9 col-lg-6 mx-auto">
            <script type="text/javascript" src="{{ asset('map/mapdata_france.js') }}"></script> 
            <script type="text/javascript" src="{{ asset('map/countrymap_france.js') }}"></script> 
            <div id="map_france"></div>
        </div>

    </div>

    <div class="row justify-content-center my-5">

        {% include "site/project/components/_link_to_contact_page.html.twig" %}

    </div>

{% endblock %}
