{% extends "site/base.html.twig" %}

{% block title %}Donner ses jeux{% endblock %}

{% block body %}

<h1 class="col-12 text-center my-5">Donner ses jeux</h1>

<div class="row justify-content-center">
    <div class="col-11 col-md-9 col-xl-7">
        <ul>
            <li>Le service récupère les jeux complets et incomplets ainsi que les pièces détachées (pions, dés, sabliers…).
                <ol><span class="text-danger">Nous ne récupérons pas les puzzles ni les jouets.</span></ol>
            </li>
            <li class="pt-3">Si vous êtes sur Caen, vous pouvez les déposer à la Coop 5 pour 100 – 33 route de Trouville – Caen.</li>
            <li class="pt-3">Si vous êtes d’une autre région vous pouvez les envoyer par voie postale ou colissimo à l’adresse suivante :
                <ol>{{ legales.publicationManagerFirstName }} {{ legales.publicationManagerLastName }}, {{ legales.streetCompany }} {{ legales.postalCodeCompany }} {{ legales.cityCompany }}</ol>
                <ol><span class="text-danger">Le service ne peut pas prendre en charge les frais de port.</span></ol>
            </li>
            <li class="pt-3">Vous pouvez aussi les expédier via Mondial Relay:
                <ol> -> point relais CORA CAEN à Rots.</ol>
                <ol> Email: {{ legales.emailCompany }}</ol>
            </li>
        </ul>
    </div>

    <div class="col-11 col-md-9 col-xl-7 mt-2 mb-5 text-justify">
        Si vous habitez près de Rots vous pouvez aussi déposer vos jeux à mon domicile (24 rue froide).<br/>
        En mon absence il est possible de les déposer devant la porte, elle est abritée.<br/>
        Nous vous remercions par avance pour vos dons ! Nous nous ferons un plaisir de les ajouter aux catalogues !
    </div>

    <div class="col-11 figure-caption text-center my-4">Exemple de dons / collectes.</div>

</div>

<div class="row justify-content-center mb-5">
    <div class="col-8 col-sm-7 col-md-5 col-lg-4 col-xl-3 mt-3 mt-md-0">
        <div class="card border-0 shadow-lg h-100">
            <div class="card-body d-flex flex-column align-items-center justify-content-center py-4">
                <img src="{{ asset('build/images/design/collecte-en-entreprise-1.jpeg') }}" alt="Image d'une collecte en entreprise" style="border-radius:10%;max-width:100%;">
            </div>
        </div>
    </div>
    <div class="col-8 col-sm-7 col-md-5 col-lg-4 col-xl-3 mt-3 mt-md-0">
        <div class="card border-0 shadow-lg h-100">
            <div class="card-body d-flex flex-column align-items-center justify-content-center py-2">
                <img src="{{ asset('build/images/design/collecte-en-entreprise-2.jpeg') }}" alt="Image d'une collecte en entreprise" style="border-radius:10%;max-width:100%;">
            </div>
        </div>
    </div>

    {% include "site/project/components/_link-to-formulaire.html.twig" %}

</div>

{% endblock %}