{% extends 'components/_base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<div class="row justify-content-around my-4">
        <h1 class="col-11 text-center my-3">
            Inscription au <span class="text-purple">service</span>
        </h1>
    
    {# For convenience sake of this snippet, store the errors in a variable #}
    {% set formErrors = registrationForm.vars.errors.form.getErrors(true) %}
                                        
    {# If there are errors in the form, display them in this unorganized list #}
    {% if formErrors|length %}
        <ul>
            {% for error in formErrors %}
                <li class="text-danger">{{ error.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="col-12 col-md-6 mx-auto my-3">
        {{ form_start(registrationForm) }}

            <div class="form-group col-6">
                <label for="exampleInputEmail1">{{ form_label(registrationForm.email) }}</label>
                {{ form_widget(registrationForm.email) }}
            </div>
            <div class="form-group col-6">
                <label for="exampleInputEmail1">{{ form_label(registrationForm.phone) }}</label>
                {{ form_widget(registrationForm.phone) }}
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">{{ form_label(registrationForm.plainPassword) }}</label>
                {{ form_widget(registrationForm.plainPassword) }}
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">{{ form_label(registrationForm.plainPasswordVerification) }}</label>
                {{ form_widget(registrationForm.plainPasswordVerification) }}
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">{{ form_label(registrationForm.country) }}</label>
                {{ form_widget(registrationForm.country) }}
            </div>


            <button type="submit" class="btn btn-orange mt-4">Créer un compte</button>
        {{ form_end(registrationForm) }}
    </div>
</div>

{% endblock %}