{% extends 'site/base.html.twig' %}

{% block title %}Comment ça marche{% endblock %}

{% block body %}

<div class="row">
    <div class="col-12 col-md-2">
        {% include "site/informations/comment-ca-marche/_menu-ccm.html.twig" %}
    </div>
    <div class="col-12 col-md-10 h-100">
        <section id="commande" class="pt-0 pt-md-5">
            <h2 class="col-12 text-center mt-5">Passer une commande</h2>
            <div class="row py-2">
                <div class="col-11 col-lg-10 mx-auto py-3 px-0">
                    <p class="py-2 col-11 mx-auto">
                    Vous avez un ou plusieurs jeux incomplets ?<br />
                    Pas de panique ! Le service a peut-être en stock la ou les pièces qu'il vous manque.<br/>
                    Voici comment fonctionne le service :
                    </p>
                </div>
                <div class="col-11 mx-auto py-3 mb-2">
                        <ul class="mt-3">
                            <li class="mt-3 mb-2">Étape 1: remplir le formulaire de demande.</li>
                                <ol>Il est essentiel de bien préciser le nombre de pièces que vous souhaitez ainsi que les autres caractéristiques (noms, couleurs, formes).</ol>
                                <ol class="ml-5 text-danger mb-2">Exemple : « Bonjour, je souhaiterais commander 3 jetons verts et 1 jeton rouge du jeu COLORINO ».</ol>
                                <ol>Il vous est possible de joindre 1 ou 2 photos pour expliciter votre demande.</ol>
                                <ol>Il ne vous reste plus qu’à cliquer sur le bouton « ajouter au panier ».</ol>

                            
                            <li class="mt-3 mb-2">Étape 2: validez votre panier.</li>
                                <ol>Il vous suffit de cliquer sur le symbole « panier » en haut à droite du site internet.<br/>
                                    Après avoir renseigné le formulaire, vous n’avez plus qu’à cliquer sur le bouton « demander un devis ».<br/>
                                    Un mail de confirmation vous est automatiquement envoyé (penser à vérifier vos spams).<br/>
                                    Votre demande est traitée dès que possible.<br/>
                                    Vous recevez alors un mail contenant un lien vous permettant de visualiser le devis.
                                </ol>
                            
                            <li class="mt-3 mb-2">Étape 3: paiement de la commande.</li>
                                <ol>Sur le devis se trouve un bouton « payer ma commande ». En cliquant sur le lien vous serez automatiquement dirigé vers la page de paiement sécurisé.</ol>
                                <ol>Le paiement sécurisé se fait par carte bancaire sur le site de <a href="<?php echo $GLOBALS['urlService']; ?>" class="text-info" target="_blank"><?php echo $GLOBAL['servicePaiement']; ?></a>.</ol>
                            
                            <li class="mt-3 mb-2">Étape 4: Envoi de votre commande.</li>
                                <ol>Dès validation du paiement, le service est tenu informé. Votre commande est alors préparée. En fonction de ce que vous avez choisi, elle est envoyée par voie postale ou déposée à la Coop 5 pour 100 à Caen.</ol>
                        </ul>
                        
                </div>
                <div class="col-12 mt-4 d-flex justify-content-around">
                    <figure class="figure col-4 col-sm-3 col-md-2 col-lg-2">
                        <img src="{{ asset('build/images/design/dons_rangements/exemple-rangement-pieces-detachees-1.jpg') }}" class="figure-img img-fluid img-thumbnail border-primary" alt="photo rangement jeux">
                        <figcaption class="figure-caption text-center text-white">En pile...</figcaption>
                    </figure>

                    <figure class="figure col-4 col-sm-3 col-md-2 col-lg-2">
                        <img src="{{ asset('build/images/design/dons_rangements/exemple-rangement-pieces-detachees-2.jpg') }}" class="figure-img img-fluid img-thumbnail border-primary" alt="photo rangement jeux">
                        <figcaption class="figure-caption text-center text-white">En pile...</figcaption>
                    </figure>

                    <figure class="figure col-4 col-sm-3 col-md-2 col-lg-2">
                        <img src="{{ asset('build/images/design/dons_rangements/exemple-rangement-pieces-detachees-3.jpg') }}" class="figure-img img-fluid img-thumbnail border-primary" alt="photo rangement jeux">
                        <figcaption class="figure-caption text-center text-white">En pile...</figcaption>
                    </figure>
                </div>
            </div>
        </section>

        <hr class="my-4"></hr>

        <section id="expedition">
            <h2 class="col-12 text-center mt-5">Expédition et retrait</h2>
            <div class="row py-2">
                <div class="col-11 col-md-8 mx-auto py-3">
                    <p class="py-2 col-11 mx-auto text-center p-0">
                    Le service propose plusieurs options pour récupérer votre commande :
                        <ul>
                            <li class="mt-3 mb-2">Le retrait à la Coop 5 pour 100, 33 route de Trouville 14000 Caen : pas de frais de port.</li>
                                <ol>La commande est déposée à la Coop dans un délai de maximum 7 jours après validation du paiement.<br/>
                                Vous pouvez la retirer à la caisse du magasin en indiquant votre nom et prénom <ins class="text-danger">(prévoir une pièce d'identité)</ins>.<br/>
                                Le magasin est ouvert du mercredi au vendredi de 11h à 19h et le samedi de 11h à 18h.</ol>
                            <li class="mt-3 mb-2">L'envoi par voie postale : </li>
                                <ol>Les petites pièces sont envoyées sous enveloppe / enveloppe à bulles (pas de suivi d'envoi). A partir de <?php echo str_replace(".",",",$donneesConfig[20]['valeur']);?> €.</ol>
                                <ol class="mt-2">Les plateaux de jeux ainsi que les pièces dont l'épaisseur dépasse 3 cm sont envoyés par colis.</ol>
                                    <ul class="mt-3 ml-5">Vous avez le choix entre deux options :
                                        <li>Mondial Relay : colis à retirer dans le point relais de votre choix. A partir de <?php echo str_replace(".",",",$donneesConfig[23]['valeur']);?> €.</li>
                                        <li>Colissimo : colis expédié directement chez vous. A partir de <?php echo str_replace(".",",",$donneesConfig[22]['valeur']);?> €.</li>
                                    </ul>
                        </ul>
                    </p>

                    <p class="py-2 col-11 mx-auto text-center text-danger">
                    Le service peut faire des envois à l'étranger, le frais postaux sont alors majorés.
                    </p>
                </div>
            </div>
        </section>

        <hr class="my-4"></hr>

        <section id="tableau_envois_retraits">
            <h2 class="col-12 text-center mt-5">Tableau des envois / retraits</h2>
                <div class="row py-2">
                    <div class="col-11 col-lg-9 mx-auto py-3 px-0">
                        {% include "site/components/tableau_des_envois.html.twig" %}
                    </div>
                </div>
        </section>

        <hr class="my-4"></hr>

        <section id="tarifs">
            <h2 class="col-12 text-center my-5">Les tarifs</h2>
                <div class="row">
                    <div class="col-11 mx-auto text-justify">
                        Lors de la première commande, une adhésion client de <?php echo str_replace(".",",",$donneesConfig[28]['valeur']);?> euros est demandée. Elle représente un soutien au projet et valorise le temps passé par les membres du service.
                        Cette adhésion est valable 1 an de date à date. Pour toute nouvelle commande passée durant l’année, seuls le tarif des jeux, des pièces détachées et des éventuels frais de port seront facturés.
                    </div>
                </div>
                             <!-- TARIFS DES ENVOIS -->
                <div class="row my-5">
                    <h2 class="col-12 text-center">Tarifs d'envoi / de retrait</h2>
                    <div class="col-11 mx-auto">
                        <table class="table table-sm col-12 col-sm-10 mt-4 mx-auto">
                            <thead class="thead-dark text-center">
                                <tr>
                                    <th scope="col">Mode d'envoi</th>
                                    <th scope="col">Prix Unitaire € TTC</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Retrait à la Coop 5 pour 100 à Caen</td>
                                    <td class="text-center">Gratuit</td>
                                </tr>
                                <tr>
                                    <td>Enveloppe simple</td>
                                    <td class="text-center">{{ (infosAndConfig.config.enveloppeSimple) | number_format(2, ',', '.') }}</td>
                                </tr>
                                <tr>
                                    <td>Enveloppe à bulles</td>
                                    <td class="text-center">A partir de {{ (infosAndConfig.config.enveloppeBulle) | number_format(2, ',', '.') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-11 col-md-9 col-xl-6 mx-auto text-justify my-4 d-flex">
                        <div class="col-1"><i class="fas fa-lightbulb text-info fa-2x"></i></div>
                        <div class="col-10">Les frais de port sont calculés en fonction du poids, de la taille des pièces commandées.</div>
                    </div>
                </div>
                <!-- TARIFS DES JEUX D'OCCASION -->
                <div class="row my-5">
                    <h2 class="col-12 text-center">Tarifs des jeux</h2>
                    <div class="col-11 text-justify mx-auto">
                        Le tarif des jeux complets correspond au maximum à 50% du prix du jeu neuf.<br/>
                        Ce tarif est minoré si l’état de la boîte ou du matériel est moyen ou si la règle du jeu est une photocopie.<br/>
                        Ce tarif est majoré si le jeu est comme neuf.
                    </div>
                </div>
                <!-- TARIFS DES PIECES -->
                <div class="row my-5">
                    <h2 class="col-12 text-center">Tarifs des pièces détachées</h2></div>
                    <div class="col-11 mx-auto">
                        <table class="table table-sm col-12 col-sm-10 mt-4 mx-auto">
                            <thead class="thead-dark text-center">
                                <tr>
                                    <th scope="col">Pièce</th>
                                    <th scope="col">Prix Unitaire € TTC</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Grand plateau de jeu / support de jeu en bois</td>
                                    <td class="text-center">
                                        {{ (infosAndConfig.config.grandPlateauBois) | number_format(2, ',', '.') }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Grand plateau de jeu / support de jeu en carton ou en plastique</td>
                                    <td class="text-center">
                                        {{ (infosAndConfig.config.grandPlateauPlastique) | number_format(2, ',', '.')}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Petit plateau de jeu / support de jeu en bois</td>
                                    <td class="text-center">
                                        {{ (infosAndConfig.config.petitPlateauBois) | number_format(2, ',', '.') }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Petit plateau de jeu / support de jeu en carton ou en plastique</td>
                                    <td class="text-center">
                                        {{ (infosAndConfig.config.petitPlateauPlastique) | number_format(2, ',', '.') }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Pièce en 1 seul exemplaire dans le jeu<br/>
                                    <span class="small">Exemples : dé spécial, sablier, pion spécifique…</span>
                                    </td>
                                    <td class="text-center">
                                        {{ infosAndConfig.config.pieceUnique }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Pièces en bois ou en métal<br/>
                                    </td>
                                    <td class="text-center">
                                        {{ infosAndConfig.config.pieceMetalBois }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Pièces en grande quantité dans le jeu<br/>
                                    <span class="small"> Exemples : jetons de Mastermind, de Touché-Coulé</span></td>
                                    <td class="text-center">
                                        {{ infosAndConfig.config.pieceMultiple }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Autres pièces de jeu</td>
                                    <td class="text-center">
                                        {{ infosAndConfig.config.autrePiece }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-11 col-md-9 col-xl-6 mx-auto text-justify my-4 d-flex">
                        <div class="col-1"><i class="fas fa-lightbulb text-info fa-2x"></i></div>
                        <div class="col-10">En fonction du nombre des pièces achetées, un prix forfaitaire avantageux pourra être proposé (exemples : lot de cartes ou de jetons).</div>
                    </div>
                </div>
        </section>
        <section id="paiement">
                <!-- PAIEMENTS -->
                <div class="row my-5">
                    <h2 class="col-12 text-center">Paiement</h2>
                    <div class="col-11 col-md-9 col-xl-6 mx-auto text-justify my-4">
                        <div class="col-12">Les paiements sont effectués par carte bancaire via des pages sécurisées.</div> 
                        <div class="col-9 col-md-6 text-center mt-3 mx-auto">
                            <img class="img-thumbnail" src="{{ asset('build/images/design/paiement/logo-' ~ module_paiement ~ '.png') }}" alt="Paiement avec {{ module_paiement }}"/>
                        </div>
                        <div class="col-12 mt-5">Après le paiement de la commande il vous est possible de demander une facture.</div>
                    </div>
                    </div>
                </div>
 


        </section>
    </div>
</div>

{% endblock %}