{% extends "components/_base.html.twig" %}

{% block title %}Donner ses jeux{% endblock %}

{% block body %}

<div class="js-locations" data-locations="{{ donnees }}"></div>

{% include "site/pages/components/_row_page_header.html.twig" with {'siteControllerServiceContent': siteControllerServiceContent } %}

<div id="carte-des-points-de-collecte" class="row g-0 justify-content-center align-items-center bg-white py-5">
    <h2 class="col-11 text-center ">
        Trouver un point de<br/>collecte <span class="text-purple">près de chez moi</span>
    </h2>
    <div class="col-12 d-flex flex-wrap justify-content-center mt-5">
        <div class="col-9 col-md-6 col-lg-5 d-flex justify-content-center align-items-center">
            <div class="col-12 col-lg-11">
                {# affichage de la carte de France #}
                <script type="text/javascript" src="{{ asset('map/mapdata_france.js') }}"></script> 
                <script type="text/javascript" src="{{ asset('map/countrymap_france.js') }}"></script> 
                <div id="map_france"></div>
            </div>
        </div>
        <div class="d-flex flex-wrap col-9 mt-4 col-md-6 col-lg-5 mt-md-0">
            <div class="col-12 overflow-auto" style="height : 400px">
                <ul class="list-group">
                    {% for key, ambassador in ambassadors %}
                        <li class="list-group-item d-flex list-partners" id="{{ key }}">
                            <div class="col-2 col-lg-1 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-location-pin fa-3x text-green position-relative"></i>
                                <i class="fa-solid fa-shop text-white position-absolute mt-n2"></i>
                            </div>
                            <div class="col-10 col-lg-11 ps-2">
                                {% if ambassador.organization is not null or ambassador.organization | length > 1 %}
                                    <b>{{ ambassador.organization }}</b><br/>
                                {% endif %}
                                {% if ambassador.lastname is not null %}
                                    <span class="small">{{ ambassador.lastname }} {{ ambassador.firstname }}</span><br/>
                                {% endif %}
                                <span class="small">{{ ambassador.street }} {{ ambassador.city.postalcode }} {{ ambassador.city.name }}</span><br/>
                                <span class="small">{{ ambassador.description | raw }}</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12 text-center mt-4">Vous souhaitez devenir point de collecte ?</div>
            <div class="col-12 d-flex justify-content-around">
                <a class="btn btn-dark text-uppercase mt-4" href="{{ path('app_organize_a_collection') }}#devenir-ambassadeur">DEVENIR AMBASSADEUR·RICE</a>
            </div>
        </div>
    </div>
</div>

{% include "components/_separateur_wave.html.twig" %}

<div id="envoyer-des-jeux" class="row g-0 justify-content-around bg-white py-4">
    <h2 class="col-11 mt-5 text-center mb-4 ">Envoyer des jeux <span class="text-purple">par colis</span></h2>
    <div class="col-11 d-flex flex-wrap justify-content-around">
        <div class="col-11 col-md-4 d-flex justify-content-center align-items-center">
            <img src="{{ asset('build/images/design/donner_jeux/donner_colis.png') }}" alt="Image donner un colis">
        </div>
        <div class="col-11 mt-3 col-md-8 mt-md-0 d-flex flex-wrap">
            <div class="col-12 text-center mb-3">
                <b>Pas de point de collecte près de chez vous ?</b><br/>
                Vous pouvez aussi nous envoyer les jeux par la Poste ou via Mondial Relay.
            </div>
            <div class="col-12 col-md-6 text-center">
                <h4 class="text-yellow">LA POSTE</h4>
                <p>
                    <b>Voie postale ou Colissimo</b><br/>
                    Refaites vos jeux 24 rue froide, 14980 ROTS
                </p>
            </div>
            <div class="col-12 col-md-6 text-center">
                <h4 class="text-yellow">MONDIAL RELAY</h4>
                <p>
                    <b>Point Relais</b><br/>
                    Destinataire : {{ legales.companyName }}<br/>
                    CARREFOUR EXPRESS, 14120 Mondeville.<br/>
                    Email: {{ legales.emailCompany }}<br/>
                    Téléphone : {{ legales.phoneCompany }}
                </p>
            </div>
        </div>   
    </div>

</div>

{% include "components/_separateur_wave.html.twig" %}
{% endblock %}

{% block javascript %}
    <script>
        let list_partners = document.getElementsByClassName("list-partners");

        Array.from(list_partners).forEach(element => {
            element.addEventListener(
            "mouseenter",
            function (event) {
                // on met l'accent sur la cible de mouseenter
                let markers = document.getElementsByClassName("sm_location");
                // markers[element.id].classList.add("bounce-top");
                markers[element.id].style.fill = "#5F49CE";

                // on réinitialise la couleur après quelques instants
                setTimeout(function () {
                    // markers[element.id].classList.remove("bounce-top");
                    markers[element.id].style.fill = "#00BB9D";

                }, 1000);
            },
            false,
            );
        });

    </script>
{% endblock %}