{% set underlineHistorique = 'text-decoration-none' %}
{% set underlineAdresses = 'text-decoration-none' %}
{% set underlineCompte = 'text-decoration-none' %}

{% if pageMember == 'historique' %}
  {% set underlineHistorique = 'underlineMemberLink' %}
{% endif %}
{% if pageMember == 'adresses' %}
  {% set underlineAdresses = 'underlineMemberLink' %}
{% endif %}
{% if pageMember == 'compte' %}
  {% set underlineCompte = 'underlineMemberLink' %}
{% endif %}

<ul class="nav d-flex flex-wrap justify-content-center align-items-center py-3">
  <li class="nav-item col-12 text-center col-sm-4 col-md-3">
    <h3><a class="text-dark pb-2 {{ underlineHistorique }}" href="{{ path('member_historique') }}">Historique</a></h3>
  </li>
  <li class="nav-item col-12 text-center col-sm-4 col-md-3">
    <h3><a class="text-dark pb-2 {{ underlineAdresses }}" href="{{ path('member_adresses') }}">Gestion des adresses</a></h3>
  </li>
  <li class="nav-item col-12 text-center col-sm-4 col-md-3">
    <h3><a class="text-dark pb-2 {{ underlineCompte }}" href="{{ path('member_compte') }}">Compte</a></h3>
  </li>
</ul>