{{ form_start(form, {'attr': {'id': 'search_occasions_in_catalogue' }}) }}
        <div class="col-12">
            <label class="label_in_occasion_search_form">{{ form_label(form.players) }}</label>
            <ul class="d-flex flex-wrap p-0">
                {% for player in form.players %}
                    <li class="list-unstyled p-0 my-1 mx-1 d-flex justify-content-center align-items-center">
                        <div class="li_players position-relative">{{ form_widget(player) }}</div>
                        <div class="li_players_label position-absolute">{{ form_label(player) }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-12">
            <label class="label_in_occasion_search_form">{{ form_label(form.ages) }}</label>
            <ul class="d-flex flex-wrap p-0">
                {% for age in form.ages %}
                    <li class="list-unstyled ps-1 my-1 d-flex col-4 col-md-12 align-items-center">
                        <div class="li_ages">{{ form_widget(age) }}</div>
                        <div class="li_ages_label ps-1">{{ form_label(age) }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-12">
            <label class="label_in_occasion_search_form">{{ form_label(form.durations) }}</label>
            <ul class="d-flex flex-wrap p-0">
                {% for time in form.durations %}
                    <li class="list-unstyled px-2 my-1 d-flex col-md-12">
                        <div class="li_durations">{{ form_widget(time) }}</div>
                        <div class="li_durations_label ps-1">{{ form_label(time) }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-12 mt-2">
                {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
                {# <button type="submit" class="btn btn-dark">Chercher</button> #}
                <a id="resetFormButton" type="button" class="text-purple text-decoration-none">Effacer les filtres</a>
        </div>
{{ form_end(form) }}
{% include "components/forms/_display_form_errors.html.twig" %}