{% extends "components/_base.html.twig" %}

{% block title %}Soutenir l'association{% endblock %}

{% block body %}

<div class="row justify-content-center align-items-center my-5">
    <div class="col-11 col-md-6 d-flex flex-column justify-content-around pt-3">
        <h1 class="col-11">
            <span class="text-purple">Soutenir</span> l'association
        </h1>
        <div class="col-11">
            Refaites Vos Jeux, c’est une équipe de bénévoles soucieux de favoriser le réemploi des jeux et le lien social depuis 2020. L’équipe s’affaire tous les jours pour collecter, trier et valoriser les dons faits par les particuliers ou les structures (près de 230 jeux par mois !). L’association propose également différentes prestations : animation de jeux vintage, inventaire des stocks de jeux, formation…
        </div>

        <div class="col-11 d-flex justify-content-around mt-3">
            <a class="btn btn-dark" href="{{ path('app_support_us') }}#id_missions">Missions</a>
            <a class="btn btn-yellow" href="{{ path('app_support_us') }}#id_support">Nous soutenir</a>
        </div>

    </div>
    <div class="col-11 mt-3 mt-md-0 col-md-4 d-flex justify-content-around">
        <img src="{{ asset('build/images/design/prestations/prestation_header.png') }}" alt="Image de pièces au détail">
    </div>
</div>

<div id="id_missions" class="row justify-content-center align-items-center bg-white py-5">
    <h2 class="col-12 text-center">
        Nos <span class="text-purple">missions</span>
    </h2>
    <div class="col-11 text-center fw-bolder">
        Chaque année en France, près de 100 000 tonnes de jouets sont jetées !
    </div>
    <div class="col-11 col-md-8 text-justify mt-2">
        C’est de cette volonté d’agir contre le gaspillage et pour l’environnement que Refaites Vos Jeux est née en septembre 2020, avant d’obtenir le statut associatif en 2023. À travers son action, l’association souhaite sensibiliser les particuliers et les professionnels aux enjeux liés à la sobriété et à la réduction des déchets. Actuellement, l’équipe n’est composée que de bénévoles. À moyen terme, l’association espère pouvoir créer un ou plusieurs postes salariés et s’inscrire pleinement dans les valeurs de l’Économie Sociale et Solidaire.
    </div>

    <div class="col-12 d-flex flex-wrap justify-content-around justify-content-md-center mt-4 align-items-center">
        <div class="col-9 mt-3 mt-md-0 col-sm-6 col-md-5 col-lg-4">
            <div class="card card_collectons py-4 border-0 bg-white">
                <div class="col-12 card_collectons_img">
                    <img src="{{ asset('build/images/design/association/Groupe de masques 17.png') }}" alt="Lot de jeux récoltés">
                </div>
                <h4 class="text-center mt-4">VENTE DE JEUX</h5>
                <div class="card-body">
                    <div class="card-text">
                        Les jeux collectés sont, pour la plupart, complétés grâce à notre stock de jeux incomplets. Ils sont alors remis en vente à prix solidaires (maximum 50 % du prix d’un jeu neuf) ou donnés à des associations.
                    </div>
                    <div class="card-text text-center mt-3">
                        <a class="btn btn-dark" href="{{ path('app_catalogue_occasions') }}">ACHETER UN JEU</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9 col-sm-6 col-md-5 col-lg-4">
            <div class="card card_collectons py-4 border-0 bg-white">
                <div class="col-12 card_collectons_img">
                    <img src="{{ asset('build/images/design/association/colorful-game-pieces-with-dice-on-board-2023-11-27-05-32-20-utc.png') }}" alt="Lot de jeux récoltés">
                </div>
                <h4 class="text-center mt-4">VENTE DE PIÈCES DÉTACHÉES</h5>
                <div class="card-body">
                    <div class="card-text">
                        Certaines pièces détachées sont proposées à la vente à l’unité et permettent aux particuliers et aux professionnels de compléter leurs jeux. L’inventaire est encore en cours, le catalogue se remplira bientôt !
                    </div>
                    <div class="card-text text-center mt-3">
                        <a class="btn btn-dark" href="{{ path('app_catalogue_pieces_detachees') }}">VISITER LA BOUTIQUE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9 mt-3 col-sm-6 col-md-5 mt-md-0 col-lg-4">
            <div class="card card_collectons py-4 border-0 bg-white">
                <div class="col-12 card_collectons_img">
                    <img src="{{ asset('build/images/design/association/450900705_1106120011238310_5624333892940681501_n.png') }}" alt="Lot de jeux non récoltés">
                </div>
                <h4 class="text-center mt-4">PRESTATIONS</h5>
                <div class="card-body">
                    <div class="card-text">
                        //TODO
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.
                    </div>
                    <div class="card-text text-center mt-3">
                        <a class="btn btn-dark" href="{{ path('app_prestations') }}">VOIR NOS PRESTATIONS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "components/_separateur_wave.html.twig" %}


<div class="row justify-content-around py-5 bg-white">
    <h2 id="id_inventaires" class="col-12 text-center">Comment <span class="text-purple">nous soutenir ?</span></h2>
    <div class="col-11 col-lg-6 text-center">
        Que vous soyez un particulier, un professionnel du monde du jeu ou du réemploi, ce projet a besoin de vous pour se pérenniser et se développer.
    </div>
</div>

<div class="row justify-content-center align-item-center bg-white py-3">
    {% for donnee in donnees %}
        <div class="col-10 col-sm-6 col-md-5 mb-5 px-2 px-lg-5">
            <div class="card card_ h-100 p-0">
                <img src="{{ asset('build/images/design/association/' ~ donnee.img ~ '') }}" alt="">
                <div class="card-body bg-secondary d-flex flex-column justify-content-between">
                    <p class="card-title py-2 h3 text-orange text-center">{{ donnee.title }}</p>
                    <p class="card-text">{{ donnee.description }}</p>
                    <div class="col-12 d-flex justify-content-center mt-auto">
                        <a class="btn btn-dark text-uppercase" href="{{ donnee.link }}">{{ donnee.button_text }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% include "components/_separateur_wave.html.twig" %}

{% endblock %}
