{# templates/admin/my-custom-page.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}TRAITEMENT DES COMMANDES{% endblock %}

{% block page_actions %}

{% endblock %}

{% block main %}

    {% include "site/_flash_message.html.twig" %}

    <div class="row">
        {% for data in datas %}
            <div class="card col-12 p-0 my-5">
                <div class="card-header">{{ data.value }}</div>
                <div class="card-body">
                    {% if data .documents | length > 0 %}
                        {% for document in data.documents %}
                            <div class="card mb-4">
                                <div class="card-header">{{ document.quoteNumber }}</div>
                                <div class="card-body d-flex align-items-center">
                                    <div class="col-3">
                                        Payée le:
                                            <p>{{ document.payment }}</p>
                                    </div>
                                    <div class="col-3">
                                        Envoi / retrait:
                                        <p>{{ document.sendingMethod }}</p>
                                    </div>
                                    <div class="col-3">
                                        Adresse:
                                        <p>{{ document.deliveryAddress | raw }}</p>
                                    </div>
                                    <div class="col-3 text-center">
                                        {% include "components/admin_group_buttons_traited_daily.html.twig" with {'command': data.action, 'token':document.token } %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        "NOTHING FOR THE MOMENT..."
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}