{% extends 'components/_base.html.twig' %}

{% block title %}
	{{ boite.name | raw }} | {{ boite.editor | raw }}
	{% if boite.year is not null %}
		{{ boite.year }}
	{% endif %}
{% endblock %}

{% block body %}

		{% set currentPath = app.request.getSchemeAndHttpHost() %}

		{# BLOC BUTTON RETOUR #}
		{% include "components/catalog/_retour-button.html.twig" %}

		{# BLOC PRESENTATION DU JEU #}
		<!-- BLOC PRESENTATION DU JEU  -->
		<div class="row g-0 justify-content-center bg-white">
			<div class="col-12 d-flex flex-wrap justify-content-center align-items-center py-4">
				<div class="col-12 col-md-5 text-center">
					<div class="divImgPresentation col-12">
						<div class="zoom">
							<div class="zoom__top zoom__left"></div>
							<div class="zoom__top zoom__centre"></div>
							<div class="zoom__top zoom__right"></div>
							<div class="zoom__middle zoom__left"></div>
							<div class="zoom__middle zoom__centre"></div>
							<div class="zoom__middle zoom__right"></div>
							<div class="zoom__bottom zoom__left"></div>
							<div class="zoom__bottom zoom__centre"></div>
							<div class="zoom__bottom zoom__right"></div>
							{# <img class="zoom__image" src="data:image/png;base64,{{ images[key] }}"/> #}
							<img class="zoom__image" src="{{ vich_uploader_asset(boite, 'imageFile') }}"/>
						</div>
					</div>
					<span class="col-12 col-md-6 text-muted small text-center">
						Photo non contractuelle
					</span>
				</div>
				<div class="col-11 col-md-5 d-flex flex-wrap">
					<div class="col-12 occasion_detail_editor pt-5 text-center text-md-start">
						<h1 class="col-12 occasion_detail_name text-center text-md-start">{{ boite.name | raw }}</h1>
							{% if boite.year > 0 %}
								Edition <span class="small">{{ boite.year }}</span> |
							{% endif %}
							{{ boite.editor }}
						</div>

					{# CONTENU DE LA BOITE COMPLETE #}
					{% include "components/catalog/_boite_content.html.twig" %}
				</div>
			</div>
		</div>

	{% include "components/_separateur_wave.html.twig" %}

	<div class="row g-0 justify-content-around align-items-center py-4 bg-white">
		<h2 class="col-12 text-center"><span class="text-purple">Pièces détachées</span> disponibles</h2>
	</div>

		{# BLOC DES DIFFERENTS ARTICLE CLASSES PAR FAMILLE #}
		<div class="row g-0 justify-content-center bg-white">

			<div class="col-12 d-flex flex-wrap justify-content-center align-items-center">
				<a class="btn btn-light btn-block me-2 groups" id="all_items">Tout <span class="text-yellow fw-bolder">{{ groups| length }}</span></a>
				{% for group in groups %}
					<a class="btn btn-light btn-block mx-2 groups" id="{{ group.group.name | lower }}">{{ group.group.name }} <span class="text-yellow fw-bolder">{{ group.items | length }}</span></a>
				{% endfor %}
			</div>
			<div class="col-11 d-flex flex-wrap justify-content-arround align-items-center my-5">
				{% for group in groups %}
					{% for item in group.items %}
						<div class="col-6 col-md-4 col-lg-3 {{ group.group.name | lower }} all_items">
							<div class="card col-11 mx-auto text-center">
								<div class="divImgPresentation col-12">
									<div class="zoom">
										<div class="zoom__top zoom__left"></div>
										<div class="zoom__top zoom__centre"></div>
										<div class="zoom__top zoom__right"></div>
										<div class="zoom__middle zoom__left"></div>
										<div class="zoom__middle zoom__centre"></div>
										<div class="zoom__middle zoom__right"></div>
										<div class="zoom__bottom zoom__left"></div>
										<div class="zoom__bottom zoom__centre"></div>
										<div class="zoom__bottom zoom__right"></div>
										{# <img class="zoom__image" src="data:image/png;base64,{{ images[key] }}"/> #}
										<img class="zoom__image" src="{{ vich_uploader_asset(item, 'imageFile') }}"/>
									</div>
								</div>
								<div class="card-body">
									{{ item.name }}
									{{ item.priceExcludingTax }}
								</div>
							</div>
						</div>
					{% endfor %}

				{% endfor %}
			</div>
		</div>

		{% include "components/_separateur_wave.html.twig" %}

		<script>
			let groups = document.getElementsByClassName('groups');

			Array.from(groups).forEach( function (element,index){
				element.addEventListener('click', () => {
					let groupName = element.id;
					let allItems = document.getElementsByClassName('all_items');
					const ArrayAllItems = Array.from(allItems);
					ArrayAllItems.forEach( function (element,index){
						if(element.classList.contains(groupName)){
							element.classList.remove("d-none");
						}else{
							element.classList.add("d-none");
						}
					});
				})
			});

		</script>

{% endblock %}
