{% extends 'components/_base.html.twig' %}

{% block title %}
	{{ boite.name | raw }} | {{ boite.editor | raw }}
	{% if boite.year is not null %}
		{{ boite.year }}
	{% endif %}
{% endblock %}

{% block body %}

		{% set currentPath = app.request.getSchemeAndHttpHost() %}

		{# BLOC BUTTON RETOUR #}
		{% include "components/catalog/_retour-button.html.twig" %}

		{# BLOC PRESENTATION DU JEU #}
		<!-- BLOC PRESENTATION DU JEU  -->
		<div class="row g-0 justify-content-center bg-white">
			<div class="col-12 d-flex flex-wrap justify-content-center align-items-center py-4">
				<div class="col-12 col-md-5 text-center">
					<div class="divImgPresentation col-12">
						<div class="zoom">
							<div class="zoom__top zoom__left"></div>
							<div class="zoom__top zoom__centre"></div>
							<div class="zoom__top zoom__right"></div>
							<div class="zoom__middle zoom__left"></div>
							<div class="zoom__middle zoom__centre"></div>
							<div class="zoom__middle zoom__right"></div>
							<div class="zoom__bottom zoom__left"></div>
							<div class="zoom__bottom zoom__centre"></div>
							<div class="zoom__bottom zoom__right"></div>
							{# <img class="zoom__image" src="data:image/png;base64,{{ images[key] }}"/> #}
            				<img class="zoom__image" src="{{ vich_uploader_asset(boite, 'imageFile') | imagine_filter('boite') }}" alt="Image de la boite de jeu {{ boite.name }} - {{ boite.editor }}"/>
						</div>
					</div>
					<span class="col-12 col-md-6 text-muted small text-center">
						Photo non contractuelle
					</span>
				</div>
				<div class="col-11 col-md-5 d-flex flex-wrap">
					<div class="col-12 occasion_detail_editor pt-5 text-center text-md-start">
						<h1 class="col-12 occasion_detail_name text-center text-md-start">{{ boite.name | raw }}</h1>
							{% if boite.year > 0 %}
								Edition <span class="small">{{ boite.year }}</span> |
							{% endif %}
							{{ boite.editor }}
						</div>

					{# CONTENU DE LA BOITE COMPLETE #}
					{% include "components/catalog/_boite_content.html.twig" %} //TODO  
				</div>
			</div>
		</div>

	{% include "components/_separateur_wave.html.twig" %}

	<div class="row g-0 justify-content-around align-items-center py-4 bg-white">
		<h2 class="col-12 text-center"><span class="text-purple">Pièces détachées</span> disponibles</h2>
	</div>

		{# BLOC DES DIFFERENTS ARTICLE CLASSES PAR FAMILLE #}
		<div class="row g-0 justify-content-center bg-white">
			<div class="col-12 d-flex flex-wrap justify-content-center align-items-center">
				<a class="btn btn-light btn-block m-1 groups" id="all_items">Tout <span class="text-yellow fw-bolder">{{ affichages.totalItems }}</span></a>
				{% for group in groups %}
					{% if group.count > 0 %}
						<a class="btn btn-light btn-block m-1 groups" id="{{ group.group.name | lower }}">{{ group.group.name }} <span class="text-yellow fw-bolder">{{ group.count }}</span></a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="row g-0 justify-content-center align-items-center bg-white py-5">
			{% for group in groups %}
				{% for item in group.items %}
					{% if item.stockForSale > 0 %}
						<div class="col-9 col-sm-7 col-md-4 col-lg-3 mb-3">
							<div class="card_ col-11 mx-auto d-flex flex-wrap justify-content-center align-items-center py-4 {{ group.group.name | lower }} all_items">
								<img class="zoom__image" src="{{ vich_uploader_asset(item, 'imageFile') | imagine_filter('boite') }}" alt="Article {{ item.name }} - {{ boite.name }}"/>
								<div class="col-12 mb-2">
									{{ item.name }}
								</div>
								<div class="col-12 d-flex flex-wrap justify-content-between">
									<div class="col-12 mb-3"><span class="text-orange" style="font-size: 20px">{{ (item.priceExcludingTax * ( 1 + (tax.value / 100)) / 100) | number_format(2, ',', ',') }} €</span></div>
									<div class="col-12">
										<form class="offset-6 col-6 offset-sm-4 col-sm-8 form-group" action="{{ path('panier_add_article_realtime') }}" method="POST">
											<div class="input-group mb-3">
												<input type="number" name="qte" class="form-control text-center" value="1" min="1" max="99" />
												<input type="hidden" name="itemId" value="{{ item.id }}">
												<div class="input-group-append ms-2">
													<button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-cart-arrow-down"></i></button>
												</div>
											</div>
										</form>
									</div>
									<div class="col-12">
										<div class="text-end small fw-italic">En stock: {{ item.stockForSale }}</div>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}

			{% endfor %}
		</div>

		{% include "components/_separateur_wave.html.twig" %}

		<script>
			let groups = document.getElementsByClassName('groups');

			Array.from(groups).forEach( function (element,index){
				element.addEventListener('click', () => {
					let groupName = element.id;
					let allItems = document.getElementsByClassName('all_items');
					const ArrayAllItems = Array.from(allItems);
					ArrayAllItems.forEach( function (element,index){
						if(element.classList.contains(groupName)){
							element.classList.remove("d-none");
						}else{
							element.classList.add("d-none");
						}
					});
				})
			});

		</script>

{% endblock %}
