{% extends 'components/_base.html.twig' %}

{% block title %}
	{{ boite.name | raw }} | {{ boite.editor | raw }}
	{% if boite.year is not null %}
		{{ boite.year }}
	{% endif %}
{% endblock %}

{% block body %}

		{% set currentPath = app.request.getSchemeAndHttpHost() %}

		{# BLOC BUTTON RETOUR #}
		<div class="row my-3">
			<div class="col-12 col-md-6">
				<a class="btn btn-yellow" href="{{ path('app_catalogue_pieces_detachees') }}">Retour au catalogue</a>
			</div>
		</div>

		{# BLOC PRESENTATION DU JEU #}
		<!-- BLOC PRESENTATION DU JEU  -->
		<div class="row g-0 justify-content-center bg-white">
			<div class="col-12 d-flex flex-wrap justify-content-center align-items-center py-4">
				<div class="col-12 col-md-5 text-center">
					<div class="divImgPresentation col-12">
						<div class="zoom">
							<div class="zoom__top zoom__left"></div>
							<div class="zoom__top zoom__centre"></div>
							<div class="zoom__top zoom__right"></div>
							<div class="zoom__middle zoom__left"></div>
							<div class="zoom__middle zoom__centre"></div>
							<div class="zoom__middle zoom__right"></div>
							<div class="zoom__bottom zoom__left"></div>
							<div class="zoom__bottom zoom__centre"></div>
							<div class="zoom__bottom zoom__right"></div>
							{# <img class="zoom__image" src="data:image/png;base64,{{ images[key] }}"/> #}
            				<img class="zoom__image" src="{{ vich_uploader_asset(boite, 'imageFile') | imagine_filter('boite') }}" alt="Image de la boite de jeu {{ boite.name }} - {{ boite.editor }}"/>
						</div>
					</div>
					<span class="col-12 col-md-6 text-muted small text-center">
						Photo non contractuelle
					</span>
				</div>
				<div class="col-11 col-md-5 d-flex flex-wrap">
					<div class="col-12 text-center text-md-start mb-4">
						<h1 class="col-12 occasion_detail_name text-center text-md-start">{{ boite.name | raw }}</h1>
						<span class="occasion_detail_editor">
							{% if boite.year > 0 %}
								Edition <span class="small">{{ boite.year }}</span> |
							{% endif %}
						</span>
						<span class="occasion_detail_editor">
							{{ boite.editor }}
						</span>
					</div>

					{# CONTENU DE LA BOITE COMPLETE #}
					{% include "components/catalog/_boite_content.html.twig" %}
				</div>
			</div>
		</div>

	{% include "components/_separateur_wave.html.twig" %}

	<div class="row g-0 justify-content-around align-items-center py-4 bg-white">
		<h2 class="col-12 text-center"><span class="text-purple">Pièces détachées</span> disponibles</h2>
	</div>

		{# BLOC DES DIFFERENTS ARTICLE CLASSES PAR FAMILLE #}
		<div class="row g-0 justify-content-center bg-white">
			<div class="col-12 d-flex flex-wrap justify-content-center align-items-center">
				<a class="btn btn-light btn-block m-1 groups" id="all_items">Tout <span class="text-yellow fw-bolder">{{ affichages.totalItems }}</span></a>
				{% for group in groups %}
					{% if group.count > 0 %}
						<a class="btn btn-light btn-block m-1 groups" id="{{ group.group.name | lower }}">{{ group.group.name }} <span class="text-yellow fw-bolder">{{ group.count }}</span></a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="row g-0 justify-content-center align-items-center bg-white py-5">
			{% for group in groups %}
				{% for item in group.items %}
					{% if item.stockForSale > 0 %}
						<div class="col-8 col-sm-6 col-md-4 col-lg-3 mb-3 {{ group.group.name | lower }} all_items">
							<div class="card_ col-11 mx-auto pt-2 pb-1">
								<img class="p-1 border border-2 border-black rounded-4 w-100 z-index-1" src="{{ vich_uploader_asset(item, 'imageFile') | imagine_filter('boite') }}" alt="Article {{ item.name }} - {{ boite.name }}"/>
								<div class="col-12 my-2">
									{{ item.name }}	
								</div>
								<div class="col-12 d-flex flex-wrap justify-content-between">
									<div class="col-12 mb-3"><span class="text-orange" style="font-size: 20px">{{ (item.priceExcludingTax * ( 1 + (tax.value / 100)) / 100) | number_format(2, ',', ',') }} €</span></div>
									<div class="col-12 d-flex justify-content-between align-items-center">
										{% set offset = "offset-4" %}
										{% if item.comment is not null %}
											{% set offset = "" %}
											{% include "site/pages/catalog/pieces_detachees/_modal.comment.html.twig" with { item: item } %}
										{% endif %}
										<form class="form-group {{ offset }}" action="{{ path('panier_add_article_realtime') }}" method="POST">
											<div class="input-group mb-3">
												<input type="number" name="qte" class="form-control-sm text-center" value="1" min="1" max="99" />
												<input type="hidden" name="itemId" value="{{ item.id }}">
												<div class="input-group-append ms-2">
													<button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-cart-arrow-down"></i></button>
												</div>
											</div>
										</form>
									</div>
									<div class="col-12">
										<div class="text-end small fw-italic">En stock: {{ item.stockForSale }}</div>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>

		{% include "components/_separateur_wave.html.twig" %}

{% endblock %}
{% block javascript %}
	<script>
		window.onload = function() {
			let groups = document.querySelectorAll('.groups');

			Array.from(groups).forEach(group => {
				group.addEventListener('click', function(e) {
					let items = document.querySelectorAll('.all_items');
					Array.from(items).forEach(item => {
						if(item.classList.contains(group.id)){
							item.classList.remove('d-none');
						}else{
							item.classList.add('d-none');
						}
					})
				})
			})
		}
	</script>
{% endblock %}