{% extends 'components/_base.html.twig' %}

{% block title %}
{{ boite.name | raw }} | {{ boite.editor | raw }}
{% if boite.year > 0 %} | {{ boite.year }}{% endif %}
{% endblock %}

{% block body %}

		{% set currentPath = app.request.getSchemeAndHttpHost() %}

		<!-- BLOC BUTTON RETOUR  -->
		{% include "components/catalog/_retour-button.html.twig" %}

		<!-- BLOC PRESENTATION DU JEU  -->
		<div class="row justify-content-center mt-3 mb-5">
			<div class="card col-11 col-lg-10 p-0 border shadow mb-3">
				<h1 class="col-12 text-center text-md-start mt-4 h2">
					{{ boite.name }}<br/>
					{{ boite.editor }}<br/>
						{% if boite.year is not null %}
							<span class="small">{{ boite.year }}</span>
						{% else %}
							<span class="small">Année inconnue</span>
						{% endif %}
				</h1>
				<!-- BLOC PARTAGE RESEAUX SOCIAUX  -->
				{# <div class="col-12 d-flex justify-content-center">
					{% include "components/catalog/_share_buttons.html.twig" %}
				</div> #}
				<div class="card-body d-flex flex-wrap align-items-center mb-3">
					<!-- IMAGE DE LA BOITE -->
					{% include "components/catalog/_boite_image.html.twig" %}

					<!-- CONTENUS DE LA BOITE -->
					{% include "components/catalog/_boite_content.html.twig" %}

					<!-- MESSAGE D'INFO SUR LA BOITE -->
					{% include "components/catalog/_boite_message.html.twig" %}

	
					<!-- formulaire de demande -->
					{# <form class="col-12 p-0 d-flex flex-wrap" method="post" class="border-primary pt-3" action="{{ path('panier-ajout-pieces-detachees') }}" name="formulaireDemandePiece" enctype="multipart/form-data">
						<div class="form-group col-12 col-md-6 p-0">
							<textarea class="form-control mt-3" rows="3" id="message" name="message" onkeyup="limiteur();" placeholder="Bonjour, avez vous cette pièce ?..." minlength="15" maxlenght="300" required></textarea>
							<span id="precision" class="jumbotron bg-primary text-light p-2">
								<i class="fas fa-lightbulb text-primary"></i>
								N’oubliez pas d’être précis dans votre demande :
								<ul class="m-0">
									<li>namebre de pièces souhaité</li>
									<li>couleur</li>
									<li>forme</li>
									<li>etc...</li>
								</ul>
								<div class="col-12 p-0 text-end">Merci</div>
							</span>
							<small class="form-text text-danger text-center">Entre 15 et 300 caractères.</small>
							<div class="small text-center" id="caracteresRestantFormulaireContenuJeu">300 caractères restant...</div>
						</div>
						<div class="form-group p-0 col-12 col-md-6 mt-4 mt-md-0">
							<label class="col-12 text-center">Vous pouvez illustrer votre demande avec 2 photos maximum :</label>
							<div class="image-upload text-center">
								<label for="file-input">
									<i class="fas fa-camera fa-3x cursor-grab"></i>
								</label>
								<input type="file" name="photo[]" id="file-input" onchange="getFileInfo()" multiple/>
							</div>
							<div class="col-12 text-center" id="resultatInput"></div>
							<p class="col-12 text-center mt-2">
                            	{% include "/components/informations_upload_images.html.twig" %}
                            </p>
						</div>

						<div class="col-12 text-center">
							<input type="hidden" name="boite" value="{{ boite.id }}">
							<input type="hidden" id="recaptchaResponse" name="recaptcha-response">
							{% if is_granted('ROLE_USER') %}
								<button type="submit" class="btn btn-success mt-3 mb-2">Ajouter au panier</button>
							{% else %}
								<a href="{{ path('app_login') }}" class="btn btn-warning mt-3 mb-2">Merci de vous identifier !</a>
							{% endif %}
						</div>
					</form> #}
				</div>
			</div>

			<h3 class="col-12 text-center mt-5">Les articles disponiblent par famille:</h3>

				{% for group in groups %}

					<div class="card col-11 col-lg-10 mx-auto my-3 p-0">
						<div class="card-header">{{ group.group.name }}</div>
						<div class="card-body d-flex justify-content-around flex-wrap">
							<div class="col-11 col-md-5 d-flex justify-content-center align-items-center mb-3 mb-md-0">
								<div class="divImgPresentation p-4">
									<div class="zoom">
										<img class="zoom__image zoom_image_placeholder" src="{{ asset('build/images/design/default.png') }}"/>
										<div class="zoom__top zoom__left"></div>
										<div class="zoom__top zoom__centre"></div>
										<div class="zoom__top zoom__right"></div>
										<div class="zoom__middle zoom__left"></div>
										<div class="zoom__middle zoom__centre"></div>
										<div class="zoom__middle zoom__right"></div>
										<div class="zoom__bottom zoom__left"></div>
										<div class="zoom__bottom zoom__centre"></div>
										<div class="zoom__bottom zoom__right"></div>
										<img class="zoom__image zoom_image_item d-none" src=""/>
										{# <img class="zoom__image" src="{{ vich_uploader_asset(group.items, 'imageFile') }}"/> #}
									</div>
								</div>
							</div>
							<div class="col-11 col-md-5 d-flex flex-wrap justify-content-center align-items-center p-0">
								<form action="{{ path('panier_add_article') }}" method="POST" class="col-12">
									<div class="form-group mb-3">
										<select name="select-item" class="form-control text-center select-item" required>
											<option value="">-- Choisir un article --</option>
												<optgroup label="Pièces originales">
													{% for item in group.items|sort %}
														
															{% if  item.stockForSale > 0 %}
																<option value="{{ item.id }}" data-image="{{ item.image }}">{{ item.name }} : {{ (item.priceExcludingTax * ( 1 + (tax.value / 100)) / 100) | number_format(2, '.', ',') }} € TTC - (Stock: {{ item.stockForSale }})</option>
															{% else %}
																<option data-image="{{ item.image }}" disabled>{{ item.name }} : Réapprovisionnement en cours...</option>
															{% endif %}												
														
													{% else %}
														<option value="" data-image="{{ asset('build/images/design/default.png') }}" disabled>Victime de son succès...</option>
													{% endfor %}
												</optgroup>
												{# <optgroup label="Pièces similaires">
													{% if boite.itemsSecondaire | length > 0 %}
														{% for item in boite.itemsSecondaire|sort %}
																{% if item in group.items %}
																	{% if  item.stockForSale > 0 %}
																		<option value="{{ item.id }}" data-image="{{ item.image }}">{{ item.name }} : {{ (item.priceExcludingTax * ( 1 + (tax.value / 100)) / 100) | number_format(2, '.', ',') }} € TTC - (Stock: {{ item.stockForSale }})</option>
																	{% endif %}
																{% endif %}
														{% endfor %}
													{% else %}
														<option value="">Victime de son succès...</option>
													{% endif %}
												</optgroup> #}
										</select>
									</div>
									<div class="form-group d-flex justify-content-around align-items-center">
										<div class="col-5 col-xl-2">
											<input type="number" name="qte" min="1" step="1" value="1" placeholder="Qté" class="form-control col-5" required>
										</div>
										<div class="col-5">
											<input type="hidden" name="boiteId" value="{{ boite.id }}">
											<button type="submit" class="btn btn-outline-dark"><i class="fa-solid fa-cart-arrow-down"></i> Panier</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					
				{% endfor %}
		</div>

		<!-- BLOC BUTTON RETOUR  -->
		{% include "components/catalog/_retour-button.html.twig" %}


	<script>
		let currentPath = '{{ currentPath }}';
		let upload_item_image_path = '{{ upload_item_image_path }}';
		let selects = document.getElementsByClassName('select-item');
		const ArraySelects = Array.from(selects);

		ArraySelects.forEach( function (element,index){
			element.addEventListener('change', () => {
				let imageName = '';
				let imageDivPlaceholder = document.getElementsByClassName('zoom_image_placeholder');
				let imageDiv = document.getElementsByClassName('zoom_image_item');
				
				if(element.options[element.selectedIndex].getAttribute('data-image'))
				{

					imageDiv[index].src=currentPath+upload_item_image_path+'/'+element.options[element.selectedIndex].getAttribute('data-image');

				}else{

					// imageDiv[index].src=currentPath+'/build/images/design/default.png';
					imageDiv[index].src=currentPath+upload_item_image_path+'/'+element.options[element.selectedIndex].getAttribute('data-image');


				}
			
				imageDivPlaceholder[index].classList.add("d-none");
				imageDiv[index].classList.remove("d-none");
			})
		});
	</script>

{% endblock %}
