{% set addressModifyText = 'Modifier une adresse' %}

{# {% if billingAndDeliveryForm.billingAddress | length < 1 or billingAndDeliveryForm.deliveryAddress < 1  %}
    {% set addressModifyText = 'Créer une adresse' %}
{% endif %} #}

{{ form_start(billingAndDeliveryForm, { 'attr': {'class': 'col-12 d-flex flex-wrap justify-content-around align-items-center'} }) }}
    <h3 class="col-12">Adresse de facturation:</h3>
    <div class="col-12 text-end">
        <a class="text-purple text-decoration-none" href="{{ path('member_adresses') }}">{{ addressModifyText }}</a>
    </div>
    <div class="col-12">
        {% for address in billingAndDeliveryForm.billingAddress %}
            <div class="col-12 d-flex align-items-center py-2 form-control mb-2">
                {% if loop.first %}
                    <div class="col-2 d-flex justify-content-center align-items-center">{{ form_widget(address,{'attr': {'checked': 'checked'} }) }}</div>
                {% else %}
                    <div class="col-2 d-flex justify-content-center align-items-center">{{ form_widget(address) }}</div>
                {% endif %}
                <div class="col-10">{{ address.vars.label | raw }} </div>
            </div>
        {% endfor %}
    </div>



    {# PARTIE ADRESSE DE RETRAIT OU LIVRAISON #}
    {% set h3TitleLivraisonRetrait = "Adresse de livraison:" %}
    {% set informationDepotACaen = "" %}

    {% if shippingMethod.price == "GRATUIT" %}
        {% set h3TitleLivraisonRetrait = "Adresse de retrait:" %}
        {% set informationDepotACaen = "Prévoir un dépôt sous 7 jours." %}
    {% endif %}
    <h3 class="col-12 px-0 mt-5">{{ h3TitleLivraisonRetrait }}</h3>
    {% if shippingMethod.price == "PAYANT" %}
        <div class="col-12 text-end">
            <a class="text-purple text-decoration-none" href="{{ path('member_adresses') }}">Modifier une adresse</a>
        </div>
    {% endif %}
    <div class="col-12">
        {% for address in billingAndDeliveryForm.deliveryAddress %}
            <div class="col-12 d-flex align-items-center py-2 form-control mb-2">
                {% if loop.first %}
                    <div class="col-2 d-flex justify-content-center align-items-center">{{ form_widget(address,{'attr': {'checked': 'checked'} }) }}</div>
                {% else %}
                    <div class="col-2 d-flex justify-content-center align-items-center">{{ form_widget(address) }}</div>
                {% endif %}
                <div class="col-10">{{ address.vars.label | raw }} </div>
            </div>

        {% endfor %}
    </div>

    <div class="btn-group mt-5 d-flex justify-content-around">
        <a href="{{ path('panier_start') }}" class="btn bg-light"><i class="fa-solid fa-backward-step me-1"></i> Précédent</a>
        <button type="submit" class="btn bg-yellow">Suivant <i class="fa-solid fa-forward-step ms-1"></i></button>
    </div>
{{ form_end(billingAndDeliveryForm) }}