{% set bgPanierOrange = 'cart-step-disabled' %}
{% set bgAdressesOrange = 'cart-step-disabled' %}
{% set bgPaiementOrange = 'cart-step-disabled' %}

{% if page == 'panier' %}
    {% set bgPanierOrange = 'cart-step-active' %}
{% endif %}
{% if page == 'adresses' %}
    {% set bgAdressesOrange = 'cart-step-active' %}
{% endif %}
{% if page == 'paiement' %}
    {% set bgPaiementOrange = 'cart-step-active' %}
{% endif %}

{# <div class="row g-0 bg-white justify-content-center align-items-center py-4 position-relative">
    <div class="col text-center d-flex flex-column align-items-center bg-success">
        <div class="cart_step {{ bgPanierOrange }}">1</div>
        <div class="col-12 d-flex justify-content-center">Mon panier</div>
    </div>
    <div class="cart_step_between"></div>
    <div class="col text-center d-flex flex-column align-items-center">
        <div class="cart_step {{ bgAdressesOrange }}">2</div>
        <div class="col-12 d-flex justify-content-center">Adresses</div>
    </div>
    <div class="cart_step_between"></div>
    <div class="col text-center d-flex flex-column align-items-center">
        <div class="cart_step {{ bgPaiementOrange }}">3</div>
        <div class="col-12 d-flex justify-content-center">Paiement</div>
    </div>
</div> #}

<div class="row g-0 py-5 bg-white justify-content-center">
  <div class="cart-steps col-11 col-md-6">
    <a href="#" class="cart-step {{ bgPanierOrange }}">
      <span class="cart-step-number">1</span>
      <span class="cart-step-text">
        Panier
      </span>
    </a>
    <a href="#" class="cart-step {{ bgAdressesOrange }}">
      <span class="cart-step-number">2</span>
      <span class="cart-step-text">
        Adresses
      </span>
    </a>
    <a href="#" class="cart-step {{ bgPaiementOrange }}">
      <span class="cart-step-number">3</span>
      <span class="cart-step-text">
        Paiement
      </span>
    </a>
  </div>
</div>