<table class="table table-striped align-middle px-0">
    <tr>
        <td class="col-8">Sous-total articles:</td>
        <td class="text-right">{{ (allCartValues['totauxItems']['price'] * ( 1 + (allCartValues['tax'].value / 100)) / 100) | number_format(2, '.', ',') }} €</td>
    </tr>
    {% if allCartValues['remises'].volume.actif == true %}
        <tr>
            <td>
            Remise sur les articles ( - {{ allCartValues['remises'].volume.value }}%):<br/>
                {% if allCartValues['remises'].volume.nextRemiseSupplementaire is not same as false %}
                    Dès {{ allCartValues['remises'].volume.nextQteForRemiseSupplementaire }} articles pour {{ allCartValues['remises'].volume.nextRemiseSupplementaire }} % de remise.
                {% endif %}
            </td>
            <td class="text-right align-middle"> - {{ (allCartValues['remises'].volume.remiseDeQte * ( 1 + (allCartValues['tax'].value / 100)) / 100) | number_format(2, '.', ',') }} €</td>
        </tr>
    {% endif %}
    <tr>
        <td>Sous-total occasions:</td>
        <td class="text-right">{{ (allCartValues['totauxOccasions']['price'] * ( 1 + (allCartValues['tax'].value / 100)) / 100) | number_format(2, '.', ',') }} €</td>
    </tr>
    {% if allCartValues['remises'].voucher.actif == true %}
        <tr>
            <td>Code de réduction ({{ allCartValues['remises'].voucher.token }}):<br/>
            Reste à utiliser: {{ (allCartValues['remises'].voucher.voucherRemaining * ( 1 + (allCartValues['tax'].value / 100)) / 100) | number_format(2, '.', ',') }} €</td>
            <td class="text-right align-middle">- {{ (allCartValues['remises'].voucher.used * ( 1 + (allCartValues['tax'].value / 100)) / 100) | number_format(2, '.', ',') }} €</td>
        </tr>
    {% endif %}
    <tr>
        {% if javascript == true %}
            <td><div id="divTextLivraisonOuRetrait"></div> <small>(poid total: {{ allCartValues['weigthPanier'] }}g)</small>
            </td>
            <td class="align-middle text-right">
                <div id="shippingResult">Calcul en attente...</div>
            </td>
        {% else %}
            {% if allCartValues['deliveryCostWithoutTax'] == 0 %}
                <td>Retrait: <small>(poid total: {{ allCartValues['weigthPanier'] }}g)</small>
                </td>
                <td class="align-middle text-right">
                    0.00 €
                </td>
            {% else %}
                <td>Livraison:<br/>
                    <small>(poid total: {{ allCartValues['weigthPanier'] }}g)</small>
                </td>
                <td class="align-middle text-right">
                    {{ (allCartValues['deliveryCostWithoutTax'] * ( 1 + (allCartValues['tax'].value / 100)) / 100) | number_format(2, '.', ',') }} €
                </td>
            {% endif %}
        {% endif %}
    </tr>
    <tr>
        <td>
            Préparation:
            {% if allCartValues['preparationHt'] == 0 %}
                <br/>Abonnement jusqu'au {{ app.user.membership | date('d-m-Y') }}
            {% endif %}
        </td>
        <td class="text-right">{{ (allCartValues['preparationHt'] * ( 1 + (allCartValues['tax'].value / 100)) / 100) | number_format(2, '.', ',') }} €</td>
    </tr>
    {% if javascript == false %}
        <tr>
            <td>Total HT:</td>
            <td class="text-right">{{ (allCartValues['totalPanierHt'] / 100) | number_format(2, '.', ',') }} €</td>
        </tr>
        <tr>
            <td>TVA:</td>
            <td class="text-right">
            {% if allCartValues['totalPanierHt'] * ( 1 + (allCartValues['tax'].value / 100)) - allCartValues['totalPanierHt'] == 0 %}
                0.00 €
            {% else %}
                {{ ((allCartValues['totalPanierHt'] * ( 1 + (allCartValues['tax'].value / 100)))  - allCartValues['totalPanierHt']) / 100 | number_format(2, '.', ',')  }} €</td>
            {% endif %}
        </tr>
    {% endif %}
    <tr>
        <td>Total à payer TTC:</td>
        <td class="text-right font-weight-bolder">
            {% if javascript == true %}
                <div id="DivTotalTTC">Calcul en attente...</div>
            {% else %}
                {{ (allCartValues['totalPanierHt'] * ( 1 + (allCartValues['tax'].value / 100)) / 100) | number_format(2, '.', ',') }} € TTC
            {% endif %}
        </td>
    </tr>
</table>