{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% if displayProductsInCart == true %}
    {% if allCartValues['panier_items'] | length > 0 %}
        <div class="card col-12 mb-3">
            <table class="table table-striped text-center align-bottom m-0">
                <thead>
                    <th>Article</th>
                    <th>Référence</th>
                    <th>Qté</th>
                    <th>Prix Total</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for panier in allCartValues['panier_items'] %}
                        <tr>
                            <td class="align-middle text-center">{{ panier.item.name }}</td>
                            <td class="align-middle text-center">{{ panier.item.reference }}</td>
                            <td class="align-middle text-center">{{ panier.qte }}</td>
                            <td class="align-middle text-center">{{ (panier.priceWithoutTax  * (1 + (allCartValues['tax'].value / 100)) / 100) | number_format(2, '.', ',') }}</td>
                            <td class="align-middle text-center xmarks">
                                {% if '/panier/verification-avant-paiement' not in currentPath %}
                                    <a href="{{ path('delete_cart_line_realtime', {'cart_id': panier.id }) }}"><i class="fa-solid fa-xmark text-yellow fa-2x" alt="supprimer du panier"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}





    {# AFFICHAGE DES OCCASIONS #}
    {% for key, panier in allCartValues['panier_occasions'] %}
        <!-- item_panier -->
        <div class="col-12 card rounded-4 mb-3 p-0">
            <div class="col-12 text-end d-md-none pt-2 pe-2"><a href="{{ path('delete_cart_line_realtime', {'cart_id': panier.id }) }}"><i class="fa-solid fa-xmark text-yellow fa-2x" alt="supprimer du panier"></i></a></div>
            <div class="card-body d-flex flex-wrap flex-row justify-content-around align-items-strecht">
                <!-- item_panier_img -->
                <div class="col-12 col-sm-4 d-flex flex-column justify-content-center align-items-center p-1">
                    <img class="panier_img_boite" src="{{ vich_uploader_asset(panier.occasion.boite, 'imageFile') }}"/>
                    <p class="info_photo m-0">Photo non contractuelle</p>
                </div>
                <!-- item_panier_details -->
                <div class="col-12 col-sm-8 ps-2">
                    {% if '/panier/verification-avant-paiement' not in currentPath %}
                        <div class="col-12 text-end d-none d-md-block"><a href="{{ path('delete_cart_line_realtime', {'cart_id': panier.id }) }}"><i class="fa-solid fa-xmark text-yellow fa-2x" alt="supprimer du panier"></i></a></div>
                    {% endif %}
                    <div class="col-12 occasion_detail_editor">{{ panier.occasion.boite.editor }}</div>
                    <div class="col-12">{{ panier.occasion.boite.name | raw }}</div>
                    <div class="col-12 d-flex flex-wrap flex-column justify-content-around">
                        <table class="col-12 small">
                            <tr>
                                <td>Boite <i class="fa-solid fa-circle" style="color : {{ panier.occasion.boxCondition.color }};width:2px;height:2px;"></i></td>
                                <td>Matériel <i class="fa-solid fa-circle" style="color : {{ panier.occasion.equipmentCondition.color }};width:2px;height:2px;"></i></td>
                                <td>Règle du jeu <i class="fa-solid fa-circle" style="color : {{ panier.occasion.gameRule.color }};width:2px;height:2px;"></i></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-11 d-flex flex-wrap align-items-center">
                        <div class="col-6 __shop"><img src="{{ asset('build/images/design/cart/shop_retrait.svg') }}" alt="Logo shop_retrait"> Retrait sur Caen</div>
                        <div class="col-6 mt-3 text-end fw-bolder">{% include "components/occasion/_display_occasion_price.html.twig" with {'product': panier.occasion,'tax': allCartValues['tax']} %}</div>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}