
{{ form_start(billingAndDeliveryForm, { 'attr': {'class': 'col-12 d-flex flex-wrap justify-content-around align-items-center'} }) }}
    <table class="table align-middle mb-5 shadow">
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">Image</th>
            <th class="text-center">Boite</th>
            <th class="text-center">Référence</th>
            <th class="text-center">Prix catalogue HT</th>
            <th class="text-center">Prix de vente HT</th>
        </tr>
        {% for occasion in reserve.occasions %}
            <tr>
                <td class="text-center">#</td>
                <td class="text-center">
                    <img class="card_catalog_img" style="max-width:120px" src="{{ vich_uploader_asset(occasion.boite, 'imageFile') }}"/>
                </td>
                <td>
                    {{ occasion.boite.name }} - {{ occasion.boite.editor }} - {{ occasion.boite.year }}
                    <ul>
                        <li>État de la boite : {{ occasion.boxCondition }}</li>
                        <li>État du matériel : {{ occasion.equipmentCondition }}</li>
                        <li>Règle du jeu : {{ occasion.gameRule }}</li>
                    </ul>
                </td>
                <td class="text-center">{{ occasion.reference }}</td>
                <td class="text-center">{{ (occasion.priceWithoutTax) / 100 |number_format(2, '.', ',') }} €</td>
                <td class="text-center"><input class="text-end" type="number" step="0.01" name="billingPricesHt[]" required value="{{ (occasion.priceWithoutTax) / 100 |number_format(2, '.', ',') }}" onchange="sumOfSousTotalHt()" /></td>
            </tr>
        {% endfor %}
    </table>
    <table class="table my-5 shadow">
        <tr>
            <td class="text-end fw-bolder" colspan="5">SOUS TOTAL HT:</td>
            <td class="text-end fw-bolder"><div id="divSousTotalHt"></div></td>
        </tr>
        <tr>
            <td class="text-end fw-bolder" colspan="5">Frais de gestion:</td>
            <td class="text-end fw-bolder"><div id="divCost"></div></td>
        </tr>
        <tr>
            <td class="text-end fw-bolder" colspan="5">Prix de la livraison:</td>
            <td class="text-end fw-bolder"><div id="divLivraisonCost"></div></td>
        </tr>
        <tr>
            <td class="text-end fw-bolder" colspan="5">TOTAL HT:</td>
            <td class="text-end fw-bolder"><div id="divTotalHt"></div></td>
        </tr>
    </table>
   
   
    <div class="col-11 mx-auto col-md-5">
        <h3 class="col-12">Adresse de facturation:</h3>
        <div class="col-12">
            {% for address in billingAndDeliveryForm.billingAddress %}
                <div class="col-12 d-flex align-items-center py-2 form-control mb-2">
                    <div class="col-2 d-flex justify-content-center align-items-center">{{ form_widget(address) }}</div>
                    <div class="col-10">{{ address.vars.label | raw }} </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {# PARTIE ADRESSE DE RETRAIT OU LIVRAISON #}
    {% set h3TitleLivraisonRetrait = "Adresse de livraison:" %}

    {% if shippingMethod.price == "GRATUIT" %}
        {% set h3TitleLivraisonRetrait = "Adresse de retrait:" %}
        {% set informationDepotACaen = "Prévoir un dépôt sous 7 jours." %}
    {% endif %}
    <div class="col-11 mx-auto col-md-5">
        <h3 class="col-12 px-0 mt-5 mt-md-0">{{ h3TitleLivraisonRetrait }}</h3>
            <div class="col-12">
                {% for address in billingAndDeliveryForm.deliveryAddress %}
                    <div class="col-12 d-flex align-items-center py-2 form-control mb-2">
                        <div class="col-2 d-flex justify-content-center align-items-center">{{ form_widget(address) }}</div>
                        <div class="col-10">{{ address.vars.label | raw }} </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-12 text-center my-4">
        <label class="form-label">{{ form_label(billingAndDeliveryForm.confirm) }}</label>

        {{ form_widget(billingAndDeliveryForm.confirm) }}
    </div>

    <div class="col-12 d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-success">Générer la facture<br/><span class="small fw-bolder">(Pas de retour en arrière possible...)</span></button>
    </div>

{{ form_end(billingAndDeliveryForm) }}