{{ form_start(detailsForManualInvoice, { 'attr': {'class': 'col-11 mx-auto col-md-6 d-flex flex-wrap justify-content-around align-items-center'} }) }}
    
    <div class="col-12 mb-3">
        {{ form_widget(detailsForManualInvoice.paiement) }}
    </div>
    <div class="col-12 mb-3">
        {{ form_widget(detailsForManualInvoice.shippingMethod) }}
    </div>
    <div class="col-12 mb-5">
        <label class="form-label">{{ form_label(detailsForManualInvoice.transactionDate) }}</label>
        {{ form_widget(detailsForManualInvoice.transactionDate) }}
    </div>

    {% if countAdressFromUser >= 1 %}
        <button type="submit" class="btn btn-success">Valider et poursuivre...</button>
    {% else %}
        <div class="btn btn-danger">L'utilisateur n'a pas saisie d'adresses....</div>
    {% endif %}

{{ form_end(detailsForManualInvoice) }}