{% extends 'member/base.html.twig' %}

{% block member %}

   <h1 class="col-12 text-center my-5">Mes adresses</h1>

   {% include "member/nav.html.twig" %}

    <div class="h3 mt-3" id="facturation">Mon adresse de facturation</div>

    <div class="row justify-content-around align-items-center">
        {% if facturation_adresses | length >  0 %}
            {% for adresse in facturation_adresses %}
                <div class="card col-12 col-md-5 p-0 mt-3 mt-md-0">
                    <div class="card-body d-flex flex-column">
                        <div class="col-12">
                            {{ adresse.organization ?? "" }} {{ adresse.lastname }} {{ adresse.firstname }}, {{ adresse.street }}, {{ adresse.city }}
                        </div>
                        <div class="col-12 d-flex justify-content-center align-items-center pt-4">
                            {{ include('member/adresse/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="card col-12 col-md-7 p-0">
                <div class="card-header">Aucune pour le moment...</div>
            </div>
        {% endif %}
        {% if facturation_adresses | length < 1 %}
            <div class="col-12 text-center">
                <a class="btn btn-outline-primary mt-3" href="{{ path('adresse_new') }}">Créer une nouvelle adresse</a>
            </div>
        {% endif %}
    </div>

    <div class="h3 mt-5" id="facturation">Mon adresse de livraison</div>

    <div class="row justify-content-around align-items-center mb-5">
        {% if livraison_adresses | length >  0 %}
            {% for adresse in livraison_adresses %}
                <div class="card col-12 col-md-5 p-0 mt-3 mt-md-0">
                    <div class="card-body d-flex flex-column">
                        <div class="col-12">
                            {{ adresse.organization ?? "" }} {{ adresse.lastname }} {{ adresse.firstname }}, {{ adresse.street }}, {{ adresse.city }}
                        </div>
                        <div class="col-12 d-flex justify-content-center align-items-center pt-4">
                            {{ include('member/adresse/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="card col-12 col-md-7 p-0">
                <div class="card-header">Aucune pour le moment...</div>
            </div>
        {% endif %}
        {% if livraison_adresses | length < 1 %}
            <div class="col-12 text-center">    
                <a class="btn btn-outline-primary mt-3" href="{{ path('adresse_new') }}">Créer une nouvelle adresse</a>
            </div>
        {% endif %}
    </div>
  


{% endblock %}
