{% extends 'member/base.html.twig' %}

{% block member %}

    <div class="row my-5 card py-2" id="facturation">
        <div class="col-11 mx-auto">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th>Les adresses de facturation</th>
                    </tr>
                </thead>
                <tbody>
                {% for adresse in facturation_adresses %}
                    <tr>
                        <td class="col-9">{{ adresse.organization ?? "" }} {{ adresse.lastname }} {{ adresse.firstname }}, {{ adresse.street }}, {{ adresse.city }}</td>
                        <td class="col-3 text-center align-self-center">
                            {# //TODO
                            <a class="btn btn-warning" href="{{ path('adresse_edit', {'id': adresse.id}) }}">Éditer</a> 
                            {{ include('member/adresse/_delete_form.html.twig') }}#}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">Aucune pour le moment...</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {# //TODO
            {% if facturation_adresses | length < 2 %}
                <a class="btn btn-outline-primary" href="{{ path('adresse_new', {'slug': 'facturation'}) }}">Créer une nouvelle adresse (maximum 2)</a>
            {% else %}
                <p class="p-2 text-center h5">Vous avez le nombre d'adresse maximum autorisées. (modifiez en une...)</p>
            {% endif %} #}
        </div>
    </div>

    {# {% if panier | length > 0 %}
        <div class="row my-2">
            <div class="col-12 text-center">
                <a class="btn btn-secondary" href="{{ path('panier') }}">Retourner au panier</a>
            </div>
        </div>
    {% endif %} #}

    <div class="row my-5 card py-2" id="livraison">
        <div class="col-11 mx-auto">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th>Les adresses de livraison</th>
                    </tr>
                </thead>
                <tbody>
                {% for adresse in livraison_adresses %}
                    <tr>
                        <td class="col-9">{{ adresse.organization ?? "" }} {{ adresse.lastname }} {{ adresse.firstname }}, {{ adresse.street }}, {{ adresse.city }}</td>
                        <td class="col-3 text-center align-self-center">
                            {# //TODO
                            <a class="btn btn-warning" href="{{ path('adresse_edit', {'id': adresse.id}) }}">Éditer</a>
                            {{ include('member/adresse/_delete_form.html.twig') }} #}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">Aucune pour le moment...</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if livraison_adresses | length < 2 %}
                {# //TODO
                <a class="btn btn-outline-primary" href="{{ path('adresse_new', {'slug': 'livraison'}) }}">Créer une nouvelle adresse (maximum 2)</a> #}
            {% else %}
                <p class="p-2 text-center h5">Vous avez le nombre d'adresse maximum autorisées. (modifiez en une...)</p>
            {% endif %}
        </div>
    </div>

{% endblock %}
