{% extends "components/_base.html.twig" %}

{% block title %}Espace membre{% endblock %}

{% block body %}

    {% include "member/components/_nav.html.twig" with {'pageMember': 'adresses'} %}

    <div class="row bg-white py-5">
        <!-- partie addresses de facturation -->
        <div class="col-12 col-md-6 d-flex flex-wrap justify-content-around">
            <h5 class="col-12 text-center text-green">Mes adresses de livraison</h5>
            {% if facturation_adresses | length >  0 %}
                {% for adresse in facturation_adresses %}
                    <div class="col-8 col-sm-6 col-md-8 mb-4 col-lg-6">
                        <div class="card col-12 h-100 rounded-4">
                            <div class="card-body d-flex flex-wrap justify-content-around">
                                <div class="card-text">
                                    {{ adresse.organization ?? "" }} <br>
                                    {{ adresse.lastname }} {{ adresse.firstname }}<br>
                                    {{ adresse.street }},<br>
                                    {{ adresse.city }}
                                </div>
                                <div class="col-12 d-flex justify-content-center align-items-center pt-2 mt-auto">
                                    {{ include('member/adresse/_delete_form.html.twig') }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="card col-12 col-md-7 p-0">
                    <div class="card-header">Aucune pour le moment...</div>
                </div>
            {% endif %}
            {% if facturation_adresses | length < nbrOfAdressesMax %}
                <div class="col-12 d-flex justify-content-around">
                    <a class="btn btn-dark mt-3" href="{{ path('adresse_new') }}">Créer une nouvelle adresse</a>
                </div>
            {% endif %}
        </div>
        <!-- partie addresses de livraison -->
        <div class="col-12 col-md-6 d-flex flex-wrap justify-content-around mt-5 mt-md-0">
            <div class="col-12 p-0">
                <h5 class="col-12 text-center text-green">Mes adresses de facturation</h5>
                {% if livraison_adresses | length >  0 %}
                    {% for adresse in livraison_adresses %}
                        <div class="col-8 col-sm-6 col-md-8 mb-4 col-lg-6">
                            <div class="card col-12 h-100 rounded-4">
                                <div class="card-body d-flex flex-wrap justify-content-around">
                                        {{ adresse.organization ?? "" }} <br>
                                        {{ adresse.lastname }} {{ adresse.firstname }}<br>
                                        {{ adresse.street }},<br>
                                        {{ adresse.city }}
                                    </div>
                                    <div class="col-12 d-flex justify-content-center align-items-center pt-2 mt-auto">
                                        {{ include('member/adresse/_delete_form.html.twig') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    {% include "member/adresse/components/_no_address_to_display.html.twig" %}
                {% endif %}
                {% if livraison_adresses | length < nbrOfAdressesMax %}
                    <div class="col-12 d-flex justify-content-around">
                        <a class="btn btn-dark mt-3" href="{{ path('adresse_new') }}">Créer une nouvelle adresse</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% include "components/_separateur_wave.html.twig" %}
{% endblock %}