<header style="float:left;width:100%">
    <article>
        <div style="float:left;width:50%;font-size:12px">
            <img style="width:25%;margin-bottom:-3%" src="{{ asset('build/images/design/logoSite.png')  }}"/><br/>
            {{ legales.streetCompany }}<br/>
            {{ legales.postalCodeCompany }} {{ legales.cityCompany }}<br/>
            SIRET: {{ legales.siretCompany }}<br/>
        </div>
        <div class="text-center" style="float:right;width:50%;font-weight:bold;font-size:22px">
            FACTURE
        </div>
        <address class="mt-5" style="float:right;width:50%;font-size:14px;">
            {% set facturations = document.billingAddress|split('<br/>') %}
            {% for facturation in facturations %}
                {{ facturation }}<br/>
            {% endfor %}
        </address>
    </article>
    <article class="mt-5">
        <div style="float:left;width:40%;">
            <div class="p-2" style="font-size:12px;border:1px solid black;">
                {% set deliveries = document.deliveryAddress|split('<br/>') %}
                Livraison / Retrait:<br/>
                {{ document.sendingBy }}<br/>
                {% for delivery in deliveries %}
                    {{ delivery }}<br/>
                {% endfor %}
            </div>
        </div>
        <div class="mt-3 text-end" style="float:right;width:40%;">
            <div class="p-2" style="font-size:12px;border:1px solid black;">
            Numéro: {{ document.billNumber }}<br/>
            Payé le: {{ document.payment.timeOfTransaction | date('d-m-Y') }}<br/>
                {% if document.payment.details is not NULL %}
                    {{ document.payment.details }} 
                {% endif %}
            </div>
        </div>
    </article>
</header>