<div class="row my-5">
    <div class="col-6">
        {# <img class="img_full-width" src="{{ asset('build/images/design/logoSite.png')  }}"/><br/> #}
        {{ legales.streetCompany }}<br/>
        {{ legales.postalCodeCompany }} {{ legales.cityCompany }}<br/>
        SIRET: {{ legales.siretCompany }}<br/>
    </div>
    <div class="col-6 d-flex justify-content-center">
        <div class="card align-self-center py-2 px-3 h2">FACTURE</div>
    </div>
</div>