{% if document.cost == 200 %}
{# il s'agit d'une cotisation #}
    {% set tdText = 'Adhésion annuelle:' %}
{% elseif document.cost == 150 %}
{# il s'agit d'une préparation #}
    {% set tdText = 'Préparation:' %}
{% else %}
    {# //TODO nom de la préparation sur les documents #}
    {% set tdText = 'Frais de gestion:' %}
{% endif %}

<div class="row">
    <div class="col-12">
        <table class="table table-bordered text-center">
            <tr>
                <td colspan="9">Totaux</td>
            </tr>
            <tr>
                <td>Occasions</td>
                <td>Pièces détachées</td>
                <td>Articles</td>
                <td>Livraison</td>
                <td>{{ tdText }}</td>
                <td>HT</td>
                <td>TVA ({{ document.taxRateValue }}%)</td>
                <td>TTC</td>
            </tr>
            <tr>
                <td>{{ (document.documentLineTotals.occasionsPriceWithoutTax / 100 * (1 + document.taxRateValue / 100)) | number_format(2, '.', ',') }}</td>
                <td>{{ (document.documentLineTotals.boitesPriceWithoutTax / 100 * (1 + document.taxRateValue / 100))  | number_format(2, '.', ',') }}</td>
                <td>{{ (document.documentLineTotals.itemsPriceWithoutTax / 100 * (1 + document.taxRateValue / 100))  | number_format(2, '.', ',') }}</td>
                <td>{{ (document.deliveryPriceExcludingTax / 100 * tva) | number_format(2, '.', ',') }}</td>
                <td>{{ (document.cost / 100 * tva) | number_format(2, '.', ',') }}</td>
                <td>{{ (document.totalExcludingTax / 100) | number_format(2, '.', ',') }}</td>
                <td>{{ ((document.totalWithTax - document.totalExcludingTax) / 100) | number_format(2, '.', ',') }}</td>
                <td>{{ (document.totalWithTax / 100) | number_format(2, '.', ',')}}</td>
            </tr>
        </table>
    </div>
</div>
