
{# si c'est un occasion passe en parametre #}
    {% set card_item = product %}
    {% set setEntityId = product.id %}
    {% set entityNameController = 'Boite' %}

    <div class="col-9 col-sm-6 col-md-4 mx-md-0 px-3 px-lg-1 my-3">
        <div id="{{ setEntityId }}" class="card_ d-flex flex-column h-100">
            <div class="col-12 card_div_img">
                <img class="card_catalog_img" src="{{ vich_uploader_asset(boite, 'imageFile') }}" alt="Image de la boite de jeu {{ boite.name }} - {{ boite.editor }}"/><br/>
            </div>
            <p class="info_photo">Photo non contractuelle</p>
            <div class="p-2" data-toggle="tooltip" data-placement="top" title="{{ boite.name | raw }}">
                <span class="fw-bolder">{{ boite.name | raw }} </span><br/>
            </div>
            <div class="d-flex flex-column align-items-center mt-auto">
                {# <b>{% include "components/occasion/_display_occasion_price.html.twig" with {'product': card_item, 'tax': tax} %}</b> #}
                {% include "components/catalog/_card_button.html.twig" with {'item': card_item }%}
                {% include "components/catalog/_card_admin_link_to_entity.html.twig" with {'entityNameInController': entityNameController} %}
            </div>
        </div>
    </div>
