{% for key,donnee in donnees %}  

    {% if occasions is defined %}
        {% set boite = donnee.boite %}
        {% set card_item = donnee %}
        {% set setEntityId = donnee.id %}
        {% set entityNameController = 'Occasion' %}
    {% else %}
        {% set boite = donnee %}
        {% set card_item = donnee %}
        {% set setEntityId = boite.id %}
        {% set entityNameController = 'Boite' %}
    {% endif %}

    <div class="col-9 col-sm-7 mx-auto col-md-6 mx-md-0 col-lg-2 my-4 scale-in-ver-top">
        <div class="card col-12 p-0 h-100 catalog_card">
            <div class="card-header text-center h6" data-toggle="tooltip" data-placement="top" title="{{ boite.name | raw }}">
                {{ boite.name | raw | u.truncate(22, '...')  }} <br/>
                {{ boite.editor | raw }}<br/>
                {% if boite.year is not null %}
                    {{ boite.year }}
                {% else %}
                    Année inconnue
                {% endif %}
            </div>
            <div class="card-body d-flex flex-column align-items-center justify-content-between h-50">
                <div class="d-flex justify-content-center align-items-center h-100">
                    {# <img class="img_full-width" src="{{ asset('uploads/images/boites/'~ boite.image)  }}"/> #}
                    <img class="img_full-width" src="{{ vich_uploader_asset(boite, 'imageFile') }}"/>

                    
                </div>
            </div>
            <div class="card-footer d-flex justify-content-around align-items-center">
                {% include "components/catalog/_card_button.html.twig" with {'item': card_item }%}
                {% include "components/catalog/_card_admin_link_to_entity.html.twig" with {'entityNameInController': entityNameController} %}
            </div>
        </div>
    </div>
{% endfor %}