{% for key,donnee in donnees %}  

    {% if occasions is defined %}
        {% set boite = donnee.boite %}
        {% set card_item = donnee %}
        {% set setEntityId = donnee.id %}
        {% set entityNameController = 'Occasion' %}
    {% else %}
        {% set boite = donnee %}
        {% set card_item = donnee %}
        {% set setEntityId = boite.id %}
        {% set entityNameController = 'Boite' %}
    {% endif %}

    <div class="col-9 col-sm-6 mx-auto col-md-4 mx-md-0 col-lg-3 my-2">
        <div class="card card_catalog">
                <div class="side front">
                    <div class="col-12 d-flex justify-content-center align-items-center h-100 p-1">
                        <img class="img_full-width" src="{{ vich_uploader_asset(boite, 'imageFile') }}"/>
                    </div>
                </div>
                <div class="side back d-flex flex-column justify-content-around">
                    <div class="text-center p-2" data-toggle="tooltip" data-placement="top" title="{{ boite.name | raw }}">
                        <span class="fs-3">{{ boite.name | raw }} </span><br/>
                        <span class="fs-5">{{ boite.editor | raw }}</span><br/>
                        {% if boite.year is not null %}
                            {{ boite.year }}
                        {% else %}
                            Année inconnue
                        {% endif %}
                    </div>
                    <div class="d-flex flex-row justify-content-around align-items-center">
                        {% include "components/catalog/_card_button.html.twig" with {'item': card_item }%}
                        {% include "components/catalog/_card_admin_link_to_entity.html.twig" with {'entityNameInController': entityNameController} %}
                    </div>
                </div>
        </div>
    </div>
{% endfor %}