{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

<p class="col-12 small">
    A partir de {{ occasion.boite.age }} ans.<br/>
    {% include "components/catalog/_durationOfTheGame.html.twig" with {'item': occasion.boite }%}<br/>
    {% include "components/catalog/_players&age.html.twig" with {'item': occasion.boite }%}<br/>
    {% if 'panier' not in currentPath %}
        {% if occasion.boite.linktopresentationvideo is not null %}
                <a class="text-decoration-none" href="{{ occasion.boite.linktopresentationvideo }}" target="_blank"><i class="fa-solid fa-video"></i> Voir la vidéo de présentation.</a>
        {% endif %}
    {% endif %}
</p>
<p>
    État de la boite: {{ occasion.boxCondition }}<br/>
    État du matériel: {{ occasion.equipmentCondition }}<br/>
    Règle du jeu: {{ occasion.gameRule }}<br/>

    {% if 'panier' not in currentPath %}
        Prix de vente:
        {% include "components/catalog/_displayPriceLogic.html.twig" with {'product': occasion, 'currentPath': currentPath} %}
    {% endif %}
</p>
{% if (occasion.information is not null) %}
    <p><i class="fa-solid fa-circle-info text-primary"></i> Informations:<br/> {{ occasion.information }}</p>
{% endif %}