{% extends 'components/_base.html.twig' %}

{% block title %}
	{{ occasion.boite.name }}
	-
	{{ occasion.boite.editor }}
	-
	{{ occasion.boite.year }}
{% endblock %}
{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% block body %}

		<div class="row py-2 py-lg-3">
			<div class="col-12 col-md-6 ps-5 d-flex">
				{% if app.request.headers.get('referer') is null %}
					<a class="btn btn-secondary" href="{{ path('app_catalogue_occasions', {'category': null}) }}#{{ occasion.id }}">Retour au catalogue général</a>
				{% else %}
					<a class="btn btn-secondary" href="{{ app.request.headers.get('referer') }}#{{ occasion.id }}">Retour au catalogue</a>
				{% endif %}
			</div>
		</div>

		<!-- BLOC PRESENTATION DU JEU  -->
		<div class="row justify-content-center bg-white">
			<div class="col-10 col-md-6 col-xl-5 d-flex justify-content-center align-items-center">
				<div class="col-12 col-md-6 text-center p-0">
					<div class="divImgPresentation mt-1">
						<div class="zoom">
							<div class="zoom__top zoom__left"></div>
							<div class="zoom__top zoom__centre"></div>
							<div class="zoom__top zoom__right"></div>
							<div class="zoom__middle zoom__left"></div>
							<div class="zoom__middle zoom__centre"></div>
							<div class="zoom__middle zoom__right"></div>
							<div class="zoom__bottom zoom__left"></div>
							<div class="zoom__bottom zoom__centre"></div>
							<div class="zoom__bottom zoom__right"></div>
							{# <img class="zoom__image" src="data:image/png;base64,{{ images[key] }}"/> #}
							<img class="zoom__image" src="{{ vich_uploader_asset(occasion.boite, 'imageFile') }}"/>
						</div>
					</div>
					<span class="col-12 col-md-6 text-muted small text-center">
						Photo non contractuelle
					</span>
				</div>
			</div>
			<div class="col-10 col-md-6 col-xl-5 d-flex flex-wrap">
					<div class="col-12 occasion_detail_editor mt-5">{{ occasion.boite.editor }}</div>
					<h1 class="col-12 occasion_detail_name">{{ occasion.boite.name }}</h1>
					{% include "components/catalog/_occasion_details.html.twig"  with { 'occasion': occasion } %}
					{# on inclus le bouton ajout au panier #}
					<div class="col-12 d-flex my-2 justify-content-around">
						{% include "components/catalog/_card_cart_button.html.twig" with {'item': occasion}%}
					</div>
					<div class="col-12 d-flex justify-content-around mt-2 mb-5">
						{% include "components/catalog/_shop_and_no_transport_logos.html.twig" %}
					</div>
			</div>
		</div>

		{% include "components/_separateur_wave.html.twig" %}

		<div class="row justify-content-around bg-white">
			<h3 class="col-11 my-4">Ces jeux pourraient <span class="text-purple">vous plaire</span></h3>
			{% for firstElement in firstElements %} 
			    <div class="col-8 col-sm-6 col-lg-3 mx-md-0 px-3 px-md-5 px-lg-1 my-3"> 
        			{% include "site/pages/catalog/components/_cardOccasion.html.twig" with { 'product': firstElement, 'tax': tax } %}
				</div>
			{% endfor %}
		</div>


		{% include "components/_row_donner_ses_jeux.html.twig" %}

{% endblock %}
