{% extends 'components/_base.html.twig' %}

{% block title %}
	{{ occasion.boite.name }}
	-
	{{ occasion.boite.editor }}
	-
	{{ occasion.boite.year }}
{% endblock %}
{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% block body %}
    {% set occasionId = occasion.id %}
    {% set boiteId = occasion.boite.id %}

		<div class="row g-0 py-2 py-lg-3">
			<div class="col-12 text-center py-3">
				{% if app.request.headers.get('referer') is null %}
					<a class="text-purple text-decoration-none" href="{{ path('app_catalogue_occasions', {'category': null}) }}#{{ occasion.id }}">Tous les jeux</a>
				{% else %}
					<a class="text-purple text-decoration-none" href="{{ app.request.headers.get('referer') }}#{{ occasion.id }}">Retour au catalogue</a>
				{% endif %}
			</div>
		</div>

		<!-- BLOC PRESENTATION DU JEU  -->
		<div class="row g-0 justify-content-center bg-white">
			<div class="col-10 col-md-6 col-xl-5 d-flex justify-content-center align-items-center">
				<div class="col-12 col-md-6 text-center p-0">
					<div class="divImgPresentation mt-1">
						<div class="zoom">
							<div class="zoom__top zoom__left"></div>
							<div class="zoom__top zoom__centre"></div>
							<div class="zoom__top zoom__right"></div>
							<div class="zoom__middle zoom__left"></div>
							<div class="zoom__middle zoom__centre"></div>
							<div class="zoom__middle zoom__right"></div>
							<div class="zoom__bottom zoom__left"></div>
							<div class="zoom__bottom zoom__centre"></div>
							<div class="zoom__bottom zoom__right"></div>
							{# <img class="zoom__image" src="data:image/png;base64,{{ images[key] }}"/> #}
							<img class="zoom__image" src="{{ vich_uploader_asset(occasion.boite, 'imageFile') }}"/>
						</div>
					</div>
					<span class="col-12 col-md-6 info_photo small text-center">
						Photo non contractuelle
					</span>
				</div>
			</div>
			<div class="col-10 col-md-6 col-xl-5 d-flex flex-wrap">
					<div class="col-12 occasion_detail_editor mt-5">
						{{ occasion.boite.editor }}
							{% if occasion.boite.year > 0 %}
								- <span class="small">{{ occasion.boite.year }}</span>
							{% endif %}
						</div>
					<h1 class="col-12 occasion_detail_name">{{ occasion.boite.name | raw }}</h1>
					{% include "components/catalog/_occasion_details.html.twig"  with { 'occasion': occasion } %}
					{# on inclus le bouton ajout au panier #}
					<div class="col-12 d-flex my-2">
                		{% include "site/pages/catalog/components/_cardOccasion_button_add_cart.html.twig" with {'OccasionId': occasionId, 'boiteId': boiteId, 'buttonLength': 'full' } %}
					</div>
					<div class="col-12 d-flex mt-2 mb-5">
						{% include "components/catalog/_shop_and_no_transport_logos.html.twig" %}
					</div>
			</div>
		</div>

		{% include "components/_separateur_wave.html.twig" %}

		<div class="row g-0 justify-content-around bg-white pb-5">
			<h3 class="col-11 my-4 ">Ces jeux pourraient <span class="text-purple">vous plaire</span></h3>
				{% for occasion in firstElements %} 
					<div class="col-8 col-sm-6 col-lg-3 mx-md-0 px-3 px-md-5 px-lg-1 my-3"> 
						{% include "site/pages/catalog/components/_cardOccasion.html.twig" with { 'occasion': occasion, 'tax': tax } %}
					</div>
				{% endfor %}
		</div>

		{% include "components/_separateur_wave.html.twig" %}


{% endblock %}
