<div class="row justify-content-around my-5 text-center ">
    <fieldset class="col-11 col-md-5 border p-2 shadow-lg">
        <legend>Facturation</legend>
        {{ billingAddress.organization }}<br/>
        {{ billingAddress.lastname }} {{ billingAddress.firstname }}<br/>
        {{ billingAddress.street }} <br/>
        {{ billingAddress.city }}
    </fieldset>

    <fieldset class="col-11 mt-3 mt-md-0 col-md-5 border p-2 shadow-lg">
        <legend>Livraison / retrait</legend>
        {{ deliveryAddress.organization ? deliveryAddress.organization : '' }}<br/>
        {% if deliveryAddress.lastname is not null %}
            {{ deliveryAddress.lastname ? deliveryAddress.lastname : '' }} {{ deliveryAddress.firstname ? deliveryAddress.firstname : '' }}<br/>
        {% endif %}
        {{ deliveryAddress.street }} <br/>
        {{ deliveryAddress.city }}
    </fieldset>
</div>