

{{ form_start(billingAndDeliveryForm) }}
    <div class="input-group mt-5">
        {{ form_widget(billingAndDeliveryForm.billingAddress) }}
    </div>
    <div class="col-12 text-end mt-2">
        <a href="{{ path('member_adresses') }}">Votre adresse n'existe pas ?</a>
    </div>
    <div class="input-group mt-5">
        {{ form_widget(billingAndDeliveryForm.deliveryAddress) }}
    </div>
    {% if shippingMethod.price == "PAYANT" %}
        <div class="col-12 text-end mt-2">
            <a class="text-info" href="{{ path('member_adresses') }}">Votre adresse n'existe pas ?</a>
        </div>
    {% endif %}
    <div class="input-group mt-5">
        <a href="{{ path('panier_start') }}" class="btn bg-white mx-auto"><i class="fa-solid fa-backward-step"></i> Précédent</a>
        <button type="submit" class="btn bg-white mx-auto">Suivant <i class="fa-solid fa-forward-step"></i></button>
    </div>
{{ form_end(billingAndDeliveryForm) }}

