
        {{ form_start(shippingAndVoucherForm) }}
        <div class="col-12 d-flex flew-wrap align-items-center py-4">
            <div class="d-flex justify-content-center col-4">
                {{ form_row(shippingAndVoucherForm.voucherDiscount) }}
            </div>
            <div class="d-flex justify-content-center col-4">
                {# {{ form_row(shippingAndVoucherForm.shipping) }} #}
                {{ form_widget(shippingAndVoucherForm.shipping) }}
            </div>
            <div class="d-flex justify-content-center col-4">
                <button type="submit" class="btn btn-outline-primary mx-auto"><i class="fa-solid fa-arrows-rotate"></i> Calculer</button>
            </div>
        </div>
        {{ form_end(shippingAndVoucherForm) }}

