{% if document.cost == 200 %}
{# il s'agit d'une cotisation #}
    {% set tdText = 'Adhésion annuelle:' %}
{% elseif document.cost == 150 %}
{# il s'agit d'une préparation #}
    {% set tdText = 'Préparation:' %}
{% else %}
    {% set tdText = 'Frais de gestion:' %}
{% endif %}


<table class="my-3 text-center" style="width:100%;border:1px solid black;border-collapse:collapse;">
    <thead>
        <tr style="border:1px solid black;background-color:ghostwhite">
            <th colspan="9" class="text-center">Totaux</th>
        </tr>
    </thead>
    <tbody>
        <tr style="border:1px solid black;">
            <td style="border:1px solid black; width:10%;">Pièces dét.</td>
            <td style="border:1px solid black; width:10%;">{{ ((document.documentLineTotals.boitesPriceWithoutTax + document.documentLineTotals.itemsPriceWithoutTax) / 100 * (1 + document.taxRateValue / 100))  | number_format(2, '.', ',') }}</td>
            <td style="border:1px solid black; width:15%;">Remise sur<br/>pièces dét.</td>
            <td style="border:1px solid black; width:15%;">{{ document.documentLineTotals.discountonpurchaseinpurcentage ? document.documentLineTotals.discountonpurchaseinpurcentage : 0 }}% soit <br/>{{ document.documentLineTotals.discountonpurchase / 100 | number_format(2, '.', ',') }}</td>
            <td style="border:1px solid black; width:15%;">Occasions</td>
            <td style="border:1px solid black; width:10%;">{{ (document.documentLineTotals.occasionsPriceWithoutTax / 100 * (1 + document.taxRateValue / 100)) | number_format(2, '.', ',') }}</td>
            <td style="border:1px solid black; width:20%;">Livraison</td>
            <td style="border:1px solid black; width:10%;">{{ (document.deliveryPriceExcludingTax / 100 * tva) | number_format(2, '.', ',') }}</td>
        </tr>
        <tr style="border:1px solid black;">
            <td style="border:1px solid black; width:10%;">{{ tdText }}</td>
            <td style="border:1px solid black; width:10%;">{{ (document.cost / 100 * tva) | number_format(2, '.', ',') }}</td>
            <td style="border:1px solid black; width:15%;">Total HT</td>
            <td style="border:1px solid black; width:15%;">{{ (document.totalExcludingTax / 100) | number_format(2, '.', ',') }}</td>
            <td style="border:1px solid black; width:10%;">TVA ({{ document.taxRateValue }}%)</td>
            <td style="border:1px solid black; width:10%;">{{ ((document.totalWithTax - document.totalExcludingTax) / 100) | number_format(2, '.', ',') }}</td>
            <td style="border:1px solid black; width:20%;">Total TTC</td>
            <td style="border:1px solid black; width:10%;">{{ (document.totalWithTax / 100) | number_format(2, '.', ',')}}</td>
        </tr>
    </tbody>
</table>
<div class="col-12 text-center">Page {PAGENO}</div>