{% extends "components/_base_panier.html.twig" %}

{% block title %}Panier{% endblock %}

{% block body %}

{% include "site/pages/panier/components/_header_panier.html.twig" with {'page': 'panier'} %}

{% include "site/pages/panier/components/_row_continu_achats.html.twig" %}

<div class="row g-0 justify-content-center bg-white py-5 align-items-start">
    <!-- partie panier -->
    <div class="col-11 col-md-8 col-lg-5 d-flex flex-column pe-lg-5">
        <h3 class="col-12 px-0">Mon panier <span class="h5 text-purple">(conservé pendant 2hrs...)</span></h3>
        {% include "site/pages/panier/components/_productsInCart.html.twig" with {'displayProductsInCart': true} %}
    </div>
    <!-- partie récapitulatif -->
    <div class="col-11 col-md-8 mt-4 mt-md-0 col-lg-5 sticky-top">
        <h3 class="col-12 px-0">Récapitulatif</h3>
        <div class="col-12 card rounded-4 p-4 d-flex flex-column">
            {% include "site/pages/panier/components/_recapitulatif.html.twig" with {'displayOccasions': true, 'displayItems': true, 'displayVoucher': true, 'displayShippingMethod': true, 'javascript': true } %}
            <div class="col-12 d-flex justify-content-end mt-4 small">
                <a href="{{ path('app_contact') }}" class="text-purple">Si vous souhaitez payer par bon administratif, merci de nous contacter</a>
            </div> 
        </div>
        {% if app.user.email is defined %}
            <div class="col-11 d-flex justify-content-end my-3">
                <a id="button_next" class="btn btn-yellow" href="{{ path('panier_addresses') }}">Choisir les adresses <i class="fa-solid fa-forward-step ms-2"></i></a>
            </div>
        {% else %}
            <div class="col-11 d-flex justify-content-end my-3">
                <div id="button_next"  class="btn-group" role="group" aria-label="Basic example">
                    <a href="{{ path('app_login') }}" class="btn btn-yellow">Se connecter</a>
                    <a href="{{ path('app_register') }}" class="btn btn-purple">S'inscrire</a>
                </div>
            </div>                 
        {% endif %}
    </div>
</div>


{% include "components/_separateur_wave.html.twig" %}
{% endblock %}

{% block javascript %}
    <script>
        const regex = /\d{4}-\d{10}/g;
        const shipping_retrait_name = "{{ app.request.server.get('SHIPPING_METHOD_BY_IN_RVJ_DEPOT_NAME') }}";
        let shipping_cost = {{ (allCartValues['deliveryCostWithoutTax'] / 100) | number_format(2, '.', ',') }};
        let shippingMethodId = {{ app.request.cookies.get('shippingMethodId') }};
        // let shippingMethodId = getCookieByName('shippingMethodId');
        const divTextLivraisonOuRetrait = document.getElementById('divTextLivraisonOuRetrait');
        let totalHTBeforeDelivery = {{ allCartValues['totalPanierHtBeforeDelivery'] }};
        let totalHTAfterDelivery = {{ allCartValues['totalPanierHtAfterDelivery'] }};
        let weightPanier = {{ allCartValues['weigthPanier'] }}
        let tva = {{ allCartValues['tax'].value }};
        let DivTotalTTC = document.getElementById('DivTotalTTC');
        let totalTTC = {{ (allCartValues['totalPanierHtAfterDelivery'] * ( 1 + (allCartValues['tax'].value / 100)) / 100) | number_format(2, '.', ',') }};
        let voucher_voucherDiscount = document.getElementById('voucher_voucherDiscount');
        let button_next = document.getElementById('button_next');
        button_next.classList.add('disabled')
        let shippingForm = document.getElementById('shippingForm');
        let shippingResult = document.getElementById('shippingResult');
        let voucherButton = document.getElementById('voucherButton');

        let discount_question = document.getElementById('discount_question');
        if(discount_question){
            discount_question.style.cursor = 'pointer';
            discount_question.addEventListener('click', showDiscountForm);
        }

        let discount_form = document.getElementById('discount_form');


        if(voucher_voucherDiscount){
            voucher_voucherDiscount.addEventListener("input", inputVoucher);
        }

        if(shippingForm){

            divTextLivraisonOuRetrait.innerHTML = 'Livraison ou retrait:';
            // shippingForm.addEventListener('change', radioChoice);

        }else{

            button_next.classList.remove('disabled');
            divTextLivraisonOuRetrait.innerHTML = 'Retrait :';
            getDeliveryCost(shippingMethodId,weightPanier);

        }

        function getCookieByName(name) {
            const match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
            if (match) {
                return match[2];
            }
            return null;
        }

        function inputVoucher()
        {
            if(voucher_voucherDiscount.value.length > 0){

                if(regex.test(voucher_voucherDiscount.value)){

                    voucher_voucherDiscount.style.borderColor = "#5BFF33";
                    voucherButton.click();

                }else{
                    voucher_voucherDiscount.style.borderColor = "#E52213";
                }
            }else{

                voucher_voucherDiscount.style.borderColor = '';
            }
        }

        function radioChoice()
        {
            let selected = document.querySelector('input[type=radio][class=radio_choice_shipping]:checked');
            let labelSelected = selected.nextElementSibling;

            getDeliveryCost(selected.value,weightPanier);

            button_next.classList.remove('disabled');
        }

        function creerCookie(nom, contenu, jours)
        {
            var e = null;
            var date = new Date ();
            date. setTime (date.getTime() + (jours * 24 * 60 * 60 * 1000));
            e = "; expires=" + date. toGMTString();
            document.cookie = nom + "=" + contenu + e + "; path=/";
        }

        function getDeliveryCost(shippingId, weigthPanier)
        {

            let url = "{{ path('panier_calcul_delivery_cost') }}";
            fetch(url, { 
                
                // Adding method type 
                method: "POST", 
                
                // Adding body or contents to send 
                body: JSON.stringify({ 
                    shippingMethodId: shippingId, 
                    weight : weigthPanier
                }), 
                
                // Adding headers to the request 
                headers: { 
                    "Content-type": "application/json; charset=UTF-8"
                } 
            }) 
            // Converting to JSON 
            .then((response) => response.json())
            .then((data) => {
                let newTotalTTC = '';

                let shippingMethodId = sessionStorage.getItem('shippingMethodId');
                localStorage.setItem('shippingMethodId',shippingId);
                creerCookie('shippingMethodId',shippingId,1)

                //on crée le cookie
                if(data.deliveryCost < 1){
                    divTextLivraisonOuRetrait.innerHTML = 'Retrait gratuit :';
                }else{
                    divTextLivraisonOuRetrait.innerHTML = 'Livraison :';
                }

                shippingResult.innerHTML = (data.deliveryCost * ( 1 + (tva / 100)) / 100).toFixed(2)+ ' €';
                newTotalTTC = (totalHTBeforeDelivery + data.deliveryCost) * ( 1 + (tva / 100)) / 100;
                DivTotalTTC.innerHTML = newTotalTTC.toFixed(2)+' €';
            })
            .catch(error => console.warn(error));
        }

        function showDiscountForm(){
            if(discount_form.classList.contains('d-none')){
                discount_form.classList.remove('d-none');
                discount_form.classList.add('d-block');
            }else{
                discount_form.classList.remove('d-block');
                discount_form.classList.add('d-none');
            }
        }

        window.addEventListener('load', () => {
            if(shippingForm){
                shippingForm.addEventListener('change', radioChoice)
            }
        });
    </script>
{% endblock %}