<div class="card"
    style="
    position:absolute;
    left:8.5cm;
    top:3cm;
    right:0cm;
    width:10cm;
    height:4.5cm;
    border:1px solid black;
    ">
        <div class="card-body" style="font-size:22px;">
            {% set facturations = document.billingAddress|split('<br/>') %}
            {% for facturation in facturations %}
                {% if loop.revindex0 == 1 %}
                    {{ facturation }} -
                {% else %}
                    {{ facturation }}<br/>
                {% endif %}
            {% endfor %}
        </div>
</div>

<div class="card"
style="
    position:absolute;
    left:0cm;
    top:3cm;
    width:8cm;
    height:4.5cm;
    border:1px solid black;
    ">
    <div class="card-header text-center p-0">Livraison ou retrait</div>
    <div class="card-body p-2" style="font-size:18px;">
        {% set deliveries = document.deliveryAddress|split('<br/>') %}
        {# {{ document.sendingBy ?? 'ENVOI NON REFERENCER' }}<br/> #}
            {% for delivery in deliveries %}
                {% if loop.revindex0 == 1 %}
                    {{ delivery }} -
                {% else %}
                    {{ delivery }}<br/>
                {% endif %}
            {% endfor %}
    </div>
</div>

<div class="card"
style="
    position:absolute;
    left:0cm;
    top:7.7cm;
    width:100%;
    height:1.4cm;
    border:1px solid black;
    ">
    <div class="card-body p-2" style="font-size:14px;">Payé le : {{ document.payment.timeOfTransaction | date('d-m-Y') }} {{ document.payment.details ? ' - '~ document.payment.details : ' - [DETAILS PAIEMENT ABSENT]' }}</div>
</div>
