{% if document.cost == 200 %}
{# il s'agit d'une cotisation #}
    {% set tdText = 'Adhésion annuelle:' %}
{% elseif document.cost == 150 %}
{# il s'agit d'une préparation #}
    {% set tdText = 'Préparation:' %}
{% else %}
    {% set tdText = 'Frais de gestion:' %}
{% endif %}

<div class="card border-0"
style="
    position:absolute;
    left:0cm;
    right:0cm;
    bottom:0cm;
    height:2cm;
    ">
    <table class="col-12 px-1 table-bordered text-center">
        <tbody>
            <tr>
                <td>Sous total HT:</td>
                <td>{{ ((document.documentLineTotals.boitesPriceWithoutTax + document.documentLineTotals.itemsPriceWithoutTax + document.documentLineTotals.occasionsPriceWithoutTax) / 100 * (1 + document.taxRateValue / 100))  | number_format(2, '.', ',') }} €</td>
                <td>Remise de quantité:</td>
                <td>{{ document.documentLineTotals.discountonpurchase / 100 | number_format(2, '.', ',') }} €</td>
                <td>Remise bon d'achat:</td>
                <td>{{ document.documentLineTotals.discountonpurchase / 100 | number_format(2, '.', ',') }} €</td>
            </tr>
            <tr>
                <td>Livraison</td>
                <td>{{ (document.deliveryPriceExcludingTax / 100) | number_format(2, '.', ',') }} €</td>
                <td class=""></td>
                <td class=""></td>
                <td>{{ tdText }}</td>
                <td>{{ (document.cost / 100) | number_format(2, '.', ',') }} €</td>
            </tr>
            <tr>
                <td>Total HT:</td>
                <td>{{ (document.totalExcludingTax / 100) | number_format(2, '.', ',') }} €</td>
                <td>TVA ({{ document.taxRateValue }}%):</td>
                <td>{{ ((document.totalWithTax - document.totalExcludingTax) / 100) | number_format(2, '.', ',') }}</td>
                <td>Total TTC:</td>
                <td>{{ (document.totalWithTax / 100) | number_format(2, '.', ',')}} €</td>
            </tr>
        </tbody>
    </table>
</div>