    <img 
        style="
        width:3cm;
        heigth:3cm;
        position:relative;
        top:-0.5cm;
        "
        src="build/images/design/logoSite.svg" alt="Logo Retaites Vos Jeux">
    
    <div
    style="
    position:absolute;
    left:0.5cm;
    top:1.5cm;
    width:3cm;
    font-size:10px;
    overflow:hidden;
    ">
        {# <img src="{{ absolute_url(asset('public/build/images/design/logoSite.svg')) }}" alt=""><br/> #}
        {{ legales.streetCompany }}<br/>
        {{ legales.postalCodeCompany }} {{ legales.cityCompany }}<br/>
        SIRET : {{ legales.siretCompany }}<br/>
    </div>
    <div class="card"
    style="
    position:absolute;
    right:0%;
    top:0%;
    border:1px solid black;
    width:30%;
    ">
        <div class="card-header p-1 text-center">FACTURE</div>
        <div class="card-body p-1 text-center">{{ document.billNumber }}</div>
    </div>