{% if docLines_occasions | length > 0 %}
    {% for docLine in docLines_occasions %}
        <tr>
            <td>
                Occasion:<br/>
                {{ docLine.occasion.boite.name }} - {{ docLine.occasion.boite.editor }} - {{ docLine.occasion.boite.year }}
            </td>
            <td class="text-center">{{ docLine.occasion.reference }}</td>
            <td class="text-center">{{ docLine.quantity }}</td>
            <td class="text-center">{{ docLine.priceExcludingTax / 100 | number_format(2, '.', ',')  }} €</td>
        </tr>
    {% endfor %}
{% endif %}