{% if docLines_boites | length > 0 %}
    {% for docLine in docLines_boites %}
        <tr style="border-bottom:1px solid black;">
            <td colspan="2">
                Pièces détachées concernant:<br/>
                {{ docLine.boite.id }} - {{ docLine.boite.name }} - {{ docLine.boite.editor }} - {{ docLine.boite.year ?? 'ANNEE INCONNUE' }}
                <p>Votre demande : <br/> {{ docLine.question }}</p>
                <p>La réponse : {{ docLine.answer }}</p>
            </td>

            <td class="text-center">1</td>
            <td class="text-center">{{ docLine.priceExcludingTax / 100 | number_format(2, '.', ',')  }} €</td>
        </tr>
    {% endfor %}
{% endif %}
