<footer class="row mt-auto bg-white pt-4 justify-content-around">
	<div class="col-md-6 col-lg-3 mb-4 mb-md-0 d-flex flex-column justify-content-around">
		<div class="col-12 d-flex justify-content-center">
			<img id="logoInFooter" src="{{ asset('build/images/design/logoSite.svg') }}" alt="Logo Refaites vos jeux" loading="lazy"/>
		</div>
		<div class="col-10 mx-auto text-uppercase">Refaites Vos Jeux oeuvre pour le réemploi des jeux et le lien social.</div>
	</div>
	<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
		<h5 class="text-uppercase mb-4 text-black p-1 bg-white rounded-1">Boutique</h5>

		<ul class="list-unstyled text-start">
			<li class="">
				<a href="{{ path('app_catalogue_occasions') }}" class="text-black text-decoration-none detect-rotate">
					<i class="text-secondary fa-solid fa-dice-{{dices[1]}} pe-3"></i>Jeux d'occasion</a>
			</li>
			<li class="">
				<a href="{{ path('app_catalogue_pieces_detachees') }}" class="text-black text-decoration-none detect-rotate">
					<i class="text-secondary fa-solid fa-dice-{{dices[2]}} pe-3"></i>Pièces détachées</a>
			</li>
		</ul>
	</div>
	<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
		<h5 class="text-uppercase mb-4 text-black p-1 bg-white rounded-1">A propos</h5>

		<ul class="list-unstyled text-start">
			<li class="">
				<a href="{{ path('app_who_are_we') }}" class="text-black text-decoration-none detect-rotate">
					<i class="text-secondary fa-solid fa-dice-{{dices[1]}} pe-3"></i>L'association</a>
			</li>
			<li class="">
				<a href="{{ path('app_prestations') }}" class="text-black text-decoration-none detect-rotate">
					<i class="text-secondary fa-solid fa-dice-{{dices[2]}} pe-3"></i>Nos prestations</a>
			</li>
			<li class="">
				<a href="{{ path('app_became_ambassador') }}" class="text-black text-decoration-none detect-rotate">
					<i class="text-secondary fa-solid fa-dice-{{dices[3]}} pe-3"></i>Devenir ambassadeur·rice</a>
			</li>
			<li class="">
				<a href="{{ path('app_give_your_games') }}" class="text-black text-decoration-none detect-rotate">
					<i class="text-secondary fa-solid fa-dice-{{dices[4]}} pe-3"></i>Donner ses jeux</a>
			</li>
			<li class="">
				<a href="{{ path('app_support_us') }}" class="text-black text-decoration-none detect-rotate">
					<i class="text-secondary fa-solid fa-dice-{{dices[4]}} pe-3"></i>Nous soutenir</a>
			</li>
			<li class="">
				<a href="{{ path('app_partenaires') }}" class="text-black text-decoration-none detect-rotate">
					<i class="text-secondary fa-solid fa-dice-{{dices[5]}} pe-3"></i>Partenaires</a>
			</li>
		</ul>
	</div>
	<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
		<h5 class="text-uppercase mb-4 text-black p-1 bg-white rounded-1">Et plus encore...</h5>
		<ul class="list-unstyled text-start">
			<li class="">
				<a href="{{ path('app_conditions_generale_de_vente') }}" class="text-black text-decoration-none detect-rotate">
					<i class="text-secondary fa-solid fa-dice-{{dices[1]}} pe-3"></i>Conditions générales de vente</a>
			</li>
			<li class="">
				<a href="{{ path('app_mentions_legales') }}" class="text-black text-decoration-none detect-rotate">
					<i class="text-secondary fa-solid fa-dice-{{dices[2]}} pe-3"></i>Mentions légales</a>
			</li>
			<li class="">
				<a href="{{ path('app_contact') }}" class="text-black text-decoration-none detect-rotate">
					<i class="text-secondary fa-solid fa-dice-{{dices[3]}} pe-3"></i>Contact</a>
			</li>
			<li class="">
				<a href="{{ path('app_press') }}" class="text-black text-decoration-none detect-rotate">
					<i class="text-secondary fa-solid fa-dice-{{dices[6]}} pe-3"></i>Presse</a>
			</li>
			<li class="">
				<a href="https://www.facebook.com/refaitesvosjeux" class="text-black text-decoration-none detect-rotate">
					<i class="text-secondary fa-solid fa-dice-{{dices[4]}} pe-3"></i>
					<img src="{{ asset('build/images/design/footer/facebook_link.svg') }}" alt="Suivez-nous sur Facebook !"></a>
			</li>
		</ul>
	</div>
</footer>



{# <footer class="bg-white text-lg-start mt-auto">
	<!-- Grid container -->
	<div class="container p-4">
		<!--Grid row-->
		<div class="row my-4">
			<!--Grid column-->
			<div class="order-4 order-lg-1 col-lg-3 col-md-6 mb-4 mb-md-0">

				<div class="d-flex align-items-center justify-content-center mx-auto">
					<img id="logoInFooter" src="{{ asset('build/images/design/logoSite.svg') }}" alt="Logo Refaites vos jeux" loading="lazy"/>
				</div>

			</div>
			<!--Grid column-->

			<!--Grid column-->
			<div class="order-lg-1 col-lg-3 col-md-6 mb-4 mb-md-0">
				<h5 class="text-uppercase mb-4 text-black p-1 bg-white rounded-1">Catalogues</h5>

				<ul class="list-unstyled text-start">
					<li class="">
						<a href="{{ path('app_catalogue_pieces_detachees') }}" class="text-black text-decoration-none detect-rotate">
							<i class="text-secondary fa-solid fa-dice-{{dices[1]}} pe-3"></i>Pièces détachées</a>
					</li>
					<li class="">
						<a href="{{ path('app_catalogue_occasions') }}" class="text-black text-decoration-none detect-rotate">
							<i class="text-secondary fa-solid fa-dice-{{dices[2]}} pe-3"></i>Jeux d'occasion</a>
					</li>
					<li class="">
						<a href="{{ path('app_prestations') }}" class="text-black text-decoration-none detect-rotate">
							<i class="text-secondary fa-solid fa-dice-{{dices[3]}} pe-3"></i>Nos prestations</a>
					</li>
				</ul>
			</div>
			<!--Grid column-->

			<!--Grid column-->
			<div class="order-lg-2 col-lg-3 col-md-6 mb-4 mb-md-0">
				<h5 class="text-uppercase mb-4 text-black p-1 bg-white rounded-1">A propos</h5>

				<ul class="list-unstyled text-start">
					<li class="">
						<a href="{{ path('app_who_are_we') }}" class="text-black text-decoration-none detect-rotate">
							<i class="text-secondary fa-solid fa-dice-{{dices[1]}} pe-3"></i>Qui sommes nous ?</a>
					</li>
					<li class="">
						<a href="{{ path('app_support_us') }}" class="text-black text-decoration-none detect-rotate">
							<i class="text-secondary fa-solid fa-dice-{{dices[2]}} pe-3"></i>Nous soutenir</a>
					</li>
					<li class="">
						<a href="{{ path('app_partenaires') }}" class="text-black text-decoration-none detect-rotate">
							<i class="text-secondary fa-solid fa-dice-{{dices[3]}} pe-3"></i>Partenaires</a>
					</li>
					<li class="">
						<a href="{{ path('app_press') }}" class="text-black text-decoration-none detect-rotate">
							<i class="text-secondary fa-solid fa-dice-{{dices[4]}} pe-3"></i>Presse</a>
					</li>
				</ul>
			</div>
			<!--Grid column-->

			<!--Grid column-->
			<div class="order-lg-3 col-lg-3 col-md-6 mb-4 mb-md-0">
				<h5 class="text-uppercase mb-4 text-black p-1 bg-white rounded-1">Légale</h5>
				<ul class="list-unstyled text-start">
					<li class="">
						<a href="{{ path('app_conditions_generale_de_vente') }}" class="text-black text-decoration-none detect-rotate">
							<i class="text-secondary fa-solid fa-dice-{{dices[1]}} pe-3"></i>CGV</a>
					</li>
					<li class="">
						<a href="{{ path('app_mentions_legales') }}" class="text-black text-decoration-none detect-rotate">
							<i class="text-secondary fa-solid fa-dice-{{dices[2]}} pe-3"></i>Mentions / CGU</a>
					</li>
					<li class="">
						<a href="{{ path('app_contact') }}" class="text-black text-decoration-none detect-rotate">
							<i class="text-secondary fa-solid fa-dice-{{dices[3]}} pe-3"></i>Contact</li></a>
					</li>
				</ul>
			</div>
			<!--Grid column-->
		</div>
		<!--Grid row-->
	</div>
	<!-- Grid container -->
</footer>
<!-- Copyright -->
<div class="col-12 bg-dark d-flex flex-wrap align-items-center pt-2">
	<div class="col-6 px-2">
		L’association qui œuvre pour le réemploi des jeux et le lien social.
	</div>
	<div class="col-6 small">
		Suivez-nous: 
		<a class="text-secondary px-2" href="https://www.facebook.com/refaitesvosjeux">
			<img src="{{ asset('build/images/design/logoFacebook.png') }}" width="40" height="40" class="imgFindUsOnFacebook" alt="Suivez-nous sur Facebook !" title="Suivez-nous sur Facebook !">
		</a>
	</div>
	<div class="col-12 small bg-dark mt-2 pb-2">
		2021 - {{ "now" | date("Y") }}<br/> Make with ❤️ by
		<a class="text-decoration-none cursor-alias"  href="https://www.je-developpe.fr/" target="_blank">Je-Développe</a>
	</div>
</div> #}
<!-- Copyright -->
