<div class="row bg-white">
  <ul id="header_info" class="d-flex justify-content-center justify-content-md-end py-2 text-uppercase display-6">
    <li class="list-unstyled">
      <a class="p-4 text-white text-decoration-none small" href="{{ path('app_who_are_we') }}">L'association</a>
    </li>
    <li class="list-unstyled">
      <a class="p-4 text-white text-decoration-none small" href="{{ path('app_prestations') }}">Prestations</a>
    </li>
    <li class="list-unstyled">
      <a class="p-4 text-white text-decoration-none small" href="{{ path('app_became_ambassador') }}">Devenir ambassadeur·rice</a>
    </li>
  </ul>
  <nav class="navbar navbar-expand-md bg-white" data-bs-theme="light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-around" id="navbarColor02">
        <a id="logoNav" href="{{ path('app_home') }}">
          <img src="{{ asset('build/images/design/logoSite.svg') }}" alt="Logo de Refaites vos jeux">
        </a>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-dark" href="{{ path('app_catalogue_occasions') }}">Tous les jeux</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Enfants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Tout public</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Initié·es</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="{{ path('app_catalogue_pieces_detachees') }}">Pièces détachées</a>
          </li>
          <li class="nav-item btn-link-donner-ses-jeux">
            <a class="nav-link text-dark" href="{{ path('app_give_your_games') }}">Donner ses jeux</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto me-4">
          {% if is_granted('ROLE_USER') %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img src="{{ asset('build/images/design/nav/user.svg') }}" alt="Logo d'accès espace membre"></a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ path('member') }}">Espace membre</a>
                <div class="dropdown-divider"></div>
                {% if is_granted('ROLE_BENEVOLE') %}
                  <a class="dropdown-item" href="{{ path('admin') }}"><i class="fa-solid fa-lock text-primary"></i> ADMINISTRATION</a>
                {% endif %}
                <a class="dropdown-item" href="{{ path('logout') }}"><i class="fa-solid fa-power-off text-danger"></i> Déconnexion</a>
              </div>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link text-dark" href="{{ path('app_login') }}"><img src="{{ asset('build/images/design/nav/user.svg') }}" alt="Logo d'accès espace membre"></a>
            </li>
              <li class="nav-item">
              <a class="nav-link text-dark" href="{{ path('app_register') }}"><i class="fa-solid fa-user-plus"></i></a>
            </li>
          {% endif %}
          <li class="nav-item me-5">
            {% if is_granted('ROLE_USER') %}
              {% if app.user.paniers | length > 0 %}
                <a class="nav-link text-dark" href="{{ path('panier_start') }}">
                  <img id="cartLogo" src="{{ asset('build/images/design/nav/cart.svg') }}" alt="Logo accès panier">
                    <span id="cartValue">{{ app.user.paniers | length }}</span>
                    </a>
              {% else %}
                <a href="#" class="nav-link text-dark"><img id="cartLogo" src="{{ asset('build/images/design/nav/cart.svg') }}" alt="Logo accès panier"></a>
              {% endif %}
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </div>
