<div class="row justify-content-center my-5">
    <h2 class="col-12 display-4 text-center">
        <span class="text-purple">Donnez</span> ses jeux
    </h2>
    <div class="col-12 col-md-6 mt-4">
        L’association récupère les jeux de société complets et incomplets ainsi que les pièces détachées (pions, dés, sabliers…). Nous récupérons également les puzzles complets et les jeux éducatifs en boîte carton (pour apprendre à lire, compter…), qu’ils soient complets ou incomplets.
    </div>
    <div class="col-12 mt-5 d-flex flex-wrap justify-content-around align-items-stretch">
        <div class="index_card_presentation col-10 col-md-6 col-lg-4 mb-2 mb-lg-0">
            <div class="card card_index_info bg-success">
                <div class="card-body">
                    <p class="card-title py-2">TROUVER UN POINT DE COLLECTE</p>
                    <p class="card-text">Vous pouvez déposer les jeux dans nos points de collecte permanents en France.</p>
                    <a class="col-6 mx-auto btn btn-dark text-uppercase" href="{{ path('app_give_your_games') }}">Donner des jeux</a>
                </div>
                <img src="{{ asset('build/images/design/index/index_collect.png') }}" alt="Don de pièces détachées">
            </div>
        </div>
        <div class="index_card_presentation col-10 col-md-6 col-lg-4 mb-2 mb-lg-0">
            <div class="card card_index_info bg-orange">
                <div class="card-body">
                    <p class="card-title py-2">ENVOYER DES JEUX<br/>PAR COLIS</p>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit edum.</p>
                    <a class="col-6 mx-auto btn btn-dark text-uppercase" href="">Envoyer des jeux</a>
                </div>
                <img src="{{ asset('build/images/design/index/index_colis.png') }}" alt="Envoyer un colis de jeux">
            </div>
        </div>
        <div class="index_card_presentation col-10 col-md-6 col-lg-4 mb-0">
            <div class="card card_index_info bg-purple">
                <div class="card-body d-flex flex-column justify-content-around">
                    <p class="card-title py-2">ORGANISER UNE<br/>COLLECTE</p>
                    <p class="card-text">Collectez des jeux près de chez vous et envoyez-les nous !</p>
                    <a class="col-9 mx-auto btn btn-dark text-uppercase" href="{{ path('app_became_ambassador') }}">DEVENIR AMBASSADEUR·RICE</a>
                </div>
                <img src="{{ asset('build/images/design/index/index_ambassador.png') }}" alt="Particiter en tant qu'ambassadeur Refaites vos jeux">
            </div>
        </div>
    </div>
</div>