{% extends 'site/base.html.twig' %}

{% block title %}{{ document.quoteNumber }}{% endblock %}

{% block body %}

    {% if document.cost == 200 %}
    {# il s'agit d'une cotisation #}
        {% set tdText = 'Adhésion annuelle:' %}
    {% elseif document.cost == 150 %}
    {# il s'agit d'une préparation #}
        {% set tdText = 'Préparation:' %}
    {% else %}
        {# //TODO nom de la préparation sur les documents #}
        {% set tdText = 'Frais de gestion:' %}
    {% endif %}

    <h3 class="col-12 text-center my-5">
        Devis {{ document.quoteNumber }} <br>
        du {{ document.createdAt|date('d-m-Y') }} <br/>
        <span class="small">(valable jusqu'au {{ document.endOfQuoteValidation|date('d-m-Y') }})</span>
    </h3>

    {# SI Y A DES DEMANDES D'ARTICLES DANS LE PANIER #}
    {% include "site/document_view/_items_view.html.twig" %}


    {# SI Y A DES JEUX D'OCCASION DANS LE PANIER #}
    {% include "site/document_view/_occasions_view.html.twig" %}


    {# SI Y A DES DEMANDES DE PIECES DETACHEES DANS LE PANIER #}
    {% include "site/document_view/_boites_view.html.twig" %}


    {# PARITE LIVRAISON #}
    <div class="row justify-content-center my-5">
        <h3 class="col-12 text-start">Facturation / Livraison / Retrait:</h3>

        <div class="col-11 col-md-8">
            <table class="table text-center">
                <tr>
                    <td>Facturation:</td>
                    <td>Livraison / retrait:</td>
                </tr>
                <tr>
                    <td>
                        {% set facturations = document.billingAddress|split('<br/>') %}
                        {% for facturation in facturations %}
                            {{ facturation }}<br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% set livraisons = document.deliveryAddress|split('<br/>') %}
                        {% for livraison in livraisons %}
                            {{ livraison }}<br/>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    {# PARITE TOTAUX #}
    <div class="row justify-content-center my-5">
        <h3 class="col-12 text-start">Totaux:</h3>

        <div class="col-11 col-md-8">
            <table class="table">
                {% if document.documentLineTotals.occasionsPriceWithoutTax > 0 %}
                    <tr>
                        <td>Occasions:</td>
                        <td>{{ (document.documentLineTotals.occasionsPriceWithoutTax / 100 * (1 + document.taxRateValue / 100)) | number_format(2, '.', ',') }}</td>
                    </tr>
                {% endif %}
                {% if document.documentLineTotals.boitesPriceWithoutTax > 0 %}
                    <tr>
                        <td>Pièces détachées (devis):</td>
                        <td>{{ (document.documentLineTotals.boitesPriceWithoutTax / 100 * (1 + document.taxRateValue / 100))  | number_format(2, '.', ',') }}</td>
                    </tr>
                {% endif %}
                {% if document.documentLineTotals.itemsPriceWithoutTax > 0 %}
                    <tr>
                        <td>Articles:</td>
                        <td>{{ (document.documentLineTotals.itemsPriceWithoutTax / 100 * (1 + document.taxRateValue / 100))  | number_format(2, '.', ',') }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Livraison / Retrait:</td>
                    <td>{{ (document.deliveryPriceExcludingTax / 100 * tva) | number_format(2, '.', ',') }}</td>
                </tr>
                <tr>
                    <td>{{ tdText }}</td>
                    <td>{{ (document.cost / 100 * tva) | number_format(2, '.', ',') }}</td>
                </tr>
                <tr>
                    <td>Total HT:</td>
                    <td>{{ (document.totalExcludingTax / 100) | number_format(2, '.', ',') }}</td>
                </tr>
                <tr>
                    <td>TVA:</td>
                    <td>{{ ((document.totalWithTax - document.totalExcludingTax) / 100) | number_format(2, '.', ',') }}</td>
                </tr>
                <tr>
                    <td>Total TTC:</td>
                    <td>{{ (document.totalWithTax / 100) | number_format(2, '.', ',')}}</td>
                </tr>
            </table>
        </div>
    </div>

    {# PARTIE BOUTONS #}
    {% if document.billNumber is null %}
        <div class="row my-5">
            <div class="col-6 text-center">
                <a href="{{ path('app_paiement', {'tokenDocument': document.token}) }}" class="btn btn-lg btn-success" >Payer</a><br/>
                <img class="img-thumbnail col-9 col-md-6 col-lg-4 mt-4" src="{{ asset('build/images/design/logo-PAYPLUG.png') }}" alt="Paiement avec PAYPLUG"/>
            </div>

            {% if app.user is not null and app.user.password == document.user.password %}
                <div class="col-6 text-center">
                    <a href="{{ path('app_member_delete_document', {'tokenDocument': document.token}) }}" class="btn btn-lg btn-outline-danger" >Annuler le devis</a>
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="row justify-content-center my-5">
            <div class="card col-11 col-md-6 p-0">
                <div class="card-header"><i class="fa-solid fa-file-invoice text-success"></i> Document payé - {{ document.billNumber }}</div>
                <div class="card-body">
                    <p>Le {{ document.payment.timeOfTransaction | date('d-m-Y') }} par {{ document.payment.meansOfPayment.name }}</p>
                    <p>{{ document.sendingBy }}</p>
                </div>
                <div class="card-footer text-end">{{ document.documentStatus.name }}</div>
            </div>
        </div>
    {% endif %}

{% endblock %}