{% extends 'components/_base.html.twig' %}

{% block title %}{{ document.quoteNumber }}{% endblock %}

{% block body %}

    {% if document.cost == 200 %}
    {# il s'agit d'une cotisation #}
        {% set tdText = 'Adhésion annuelle:' %}
    {% elseif document.cost == 150 %}
    {# il s'agit d'une préparation #}
        {% set tdText = 'Préparation:' %}
    {% else %}
        {% set tdText = 'Frais de gestion:' %}
    {% endif %}

    <div class="row justify-content-around align-items-center py-5">
        <div class="col-11 col-md-5 d-flex flex-column justify-content-around pt-3">
            <h1 class="col-11">
                {% if document.billNumber is null %}
                    <span class="text-purple">Devis</span><br/> {{ document.quoteNumber }} 
                {% else %}
                    <span class="text-purple">Facture</span><br/> {{ document.billNumber }}
                {% endif %}
            </h1>
            <div class="col-11">
                {% if document.billNumber is null %}
                    Du {{ document.createdAt|date('d-m-Y') }}<br/>
                    (valable jusqu'au {{ document.endOfQuoteValidation|date('d-m-Y') }})
                {% else %}
                    Payée le {{ document.payment.timeOfTransaction | date('d-m-Y') }} par {{ document.payment.meansOfPayment.name }}<br/>
                    {{ document.shippingMethod }}<br/>
                    {{ document.documentStatus.name }}
                {% endif %}
            </div>
            <div class="col-11 d-flex justify-content-around mt-4">
                <a href="{{ path('member_historique') }}" class="btn btn-outline-dark"><i class="fa-solid fa-backward-step mr-1"></i> Précédent</a>
            </div>
        </div>
        <div class="col-11 mt-3 mt-md-0 col-md-5 d-flex justify-content-around">
            <img src="{{ asset('build/images/design/donner_jeux/donner_piece_de_jeux.png') }}" alt="//TODO Image donner pièce de jeux">
        </div>
    </div>

    <div class="row py-5 justify-content-around bg-white">
        <div class="col-5">
            <div class="card col-11 shadow border p-2">
                <h5 class="text-purple">Facturation</h5>
                <div class="col-12 text-right">
                    {% set facturations = document.billingAddress|split('<br/>') %}
                        {% for facturation in facturations %}
                            {{ facturation }}<br/>
                        {% endfor %}
                </div>
            </div>
            <div class="card col-11 shadow mt-3 border p-2">
                <h5 class="text-purple">
                    {% if document.deliveryPriceExcludingTax == 0 %}
                        Retrait à:
                    {% else %}
                        Livraison à:
                    {% endif %}
                </h5>
                <div class="col-12 text-right">
                    {% set deliveries = document.deliveryAddress|split('<br/>') %}
                    {% for delivery in deliveries %}
                        {{ delivery }}<br/>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-7">
            <table class="table table-striped align-middle px-0">
                <tr>{% dump(document.documentLineTotals) %}
                    <td class="col-8">Sous-total articles:</td>
                    <td class="text-right">{{ ((document.documentLineTotals.itemsPriceWithoutTax + document.documentLineTotals.boitesPriceWithoutTax) * ( 1 + (document.taxRateValue / 100)) / 100) | number_format(2, '.', ',') }} €</td>
                </tr>
                {% if document.documentLineTotals.discountonpurchase != 0 %}
                    <tr>
                        <td>
                            Remise sur les articles:
                        </td>
                        <td class="text-right align-middle"> - {{ (document.documentLineTotals.discountonpurchase * ( 1 + (document.taxRateValue / 100)) / 100) | number_format(2, '.', ',') }} €</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Sous-total occasions:</td>
                    <td class="text-right">{{ (document.documentLineTotals.occasionsPriceWithoutTax * ( 1 + (document.taxRateValue / 100)) / 100) | number_format(2, '.', ',') }} €</td>
                </tr>
                {% if document.documentLineTotals.voucherDiscountValueUsed != 0 %}
                    <tr>
                        <td>Code de réduction:</td>
                        <td class="text-right align-middle">{{ (document.documentLineTotals.voucherDiscountValueUsed * ( 1 + (document.taxRateValue / 100)) / 100) | number_format(2, '.', ',') }} €</td>
                    </tr>
                {% endif %}
                <tr>
                    {% if document.deliveryPriceExcludingTax == 0 %}
                        <td>Retrait: 
                            {% if document.documentLineTotals.boitesWeigth > 0 %}
                                <small>(poid total: {{ document.documentLineTotals.boitesWeigth }} g)</small>
                            {% endif %}
                        </td>
                        <td class="align-middle text-right">
                            0.00 €
                        </td>
                    {% else %}
                        <td>Livraison:<br/>
                            {% if document.documentLineTotals.boitesWeigth > 0 %}
                                <small>(poid total: {{ document.documentLineTotals.boitesWeigth }} g)</small>
                            {% endif %}
                        </td>
                        <td class="align-middle text-right">
                            {{ (document.deliveryPriceExcludingTax * ( 1 + (document.taxRateValue / 100)) / 100) | number_format(2, '.', ',') }} €
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>
                        Préparation:
                        {% if document.cost == 0 %}
                            <br/>Abonnement jusqu'au {{ app.user.membership | date('d-m-Y') }}
                        {% endif %}
                    </td>
                    <td class="text-right">{{ (document.cost * ( 1 + (document.taxRateValue / 100)) / 100) | number_format(2, '.', ',') }} €</td>
                </tr>

                    <tr>
                        <td>Total HT:</td>
                        <td class="text-right">{{ (document.totalExcludingTax / 100) | number_format(2, '.', ',') }} €</td>
                    </tr>
                    <tr>
                        <td>TVA:</td>
                        <td class="text-right">
                        {% if document.totalExcludingTax * ( 1 + (document.taxRateValue / 100)) - document.totalExcludingTax == 0 %}
                            0.00 €
                        {% else %}
                            {{ ((document.totalExcludingTax * ( 1 + (document.taxRateValue / 100)))  - document.totalExcludingTax) / 100 | number_format(2, '.', ',')  }} €</td>
                        {% endif %}
                    </tr>

                <tr>
                    <td>Total à payer TTC:</td>
                    <td class="text-right font-weight-bolder">
                            {{ (document.totalExcludingTax * ( 1 + (document.taxRateValue / 100)) / 100) | number_format(2, '.', ',') }} € TTC
                    </td>
                </tr>
            </table>
        </div>
    </div>












    {# PARTIE BOUTONS #}
    {% if document.billNumber is null %}
        <div class="row py-5 bg-white">
            <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                <a href="{{ path('paiement', {'tokenDocument': document.token}) }}" class="btn btn-success btn-lg" >Payer </a>
                <div class="col-6 mt-4 text-center pb-3">
                    avec {% include "components/paiement/_logo_paiement_with.html.twig" %}
                </div>
            </div>
            {# <div class="col-6 d-flex justify-content-around">
                <a href="{{ path('paiement', {'tokenDocument': document.token}) }}" class="btn btn-success" >Payer avec {{ app.request.server.get('PAIEMENT_MODULE') }}</a><br/><br/>
                
                {% include "components/paiement/_logo_paiement_with.html.twig" %}

            </div> #}

            {% if app.user is not null and app.user.password == document.user.password %}
                <div class="ccol-10 col-xl-2 mx-auto text-center">
                    <a href="{{ path('member_delete_document', {'tokenDocument': document.token}) }}" class="btn btn-outline-danger" >Annuler le devis</a>
                </div>
            {% endif %}
        </div>
    {% else %}
        {% include "components/_separateur_wave.html.twig" %}
    {% endif %}

{% endblock %}