{% extends 'components/_base.html.twig' %}

{% block title %}{{ document.quoteNumber }}{% endblock %}

{% block body %}

    {% if document.cost == 200 %}
    {# il s'agit d'une cotisation #}
        {% set tdText = 'Adhésion annuelle:' %}
    {% elseif document.cost == 150 %}
    {# il s'agit d'une préparation #}
        {% set tdText = 'Préparation:' %}
    {% else %}
        {% set tdText = 'Frais de gestion:' %}
    {% endif %}

    <div class="row g-0 justify-content-center align-items-center py-5">
        <div class="col-11 col-md-5 d-flex flex-column justify-content-around pt-3">
            <h1 class="col-12 text-center text-md-start">
                {% if document.billNumber is null %}
                    <span class="text-purple">Commande</span><br/> {{ document.quoteNumber }} 
                {% else %}
                    <span class="text-purple">Facture</span><br/> {{ document.billNumber }}
                {% endif %}
            </h1>
            <div class="col-11">
                {% if document.billNumber is null %}
                    Du {{ document.createdAt|date('d-m-Y') }}<br/>
                    (valable jusqu'au {{ document.endOfQuoteValidation|date('d-m-Y') }})
                {% else %}
                    Payée le {{ document.payment.timeOfTransaction | date('d-m-Y') }} par {{ document.payment.meansOfPayment.name }}<br/>
                    {{ document.shippingMethod }}<br/>
                    {{ document.documentStatus.name }}
                {% endif %}
            </div>
            {% if app.request.headers.get('referer') is not null %}
                <div class="col-11 d-flex justify-content-around mt-4">
                    <a href="{{ path('member_historique') }}" class="btn btn-outline-dark"><i class="fa-solid fa-backward-step me-1"></i> Précédent</a>
                </div>
            {% endif %}
        </div>
        <div class="col-6 col-sm-4 mt-4 mt-md-0 col-md-4 d-flex justify-content-around">
            <img src="{{ asset('build/images/design/donner_jeux/donner_piece_de_jeux.png') }}" alt="Logo MERCI ?">
        </div>
    </div>

    <div class="row g-0 py-5 justify-content-center bg-white">
        <!-- affichage des details -->
        <div class="col-11 col-sm-9 col-md-5 pe-md-4">
            {% for key, panier in document.documentLines %}
                <!-- article dans le panier -->
                {% if panier.item is not null %}
                    <div class="col-12 card rounded-4 mb-3 p-0">
                        <div class="card-body d-flex flex-wrap flex-row justify-content-around align-items-strecht">
                            <!-- item_panier_details -->
                            <div class="col-12 col-sm-8 ps-2">
                                <div class="col-12 fw-bold">{{ panier.item.name | raw }}</div>
                                <div class="col-12 small">Référence: {{ panier.item.reference }}</div>
                                <div class="col-12">Qté: {{ panier.quantity }}</div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <!-- occasion dans le panier -->
                {% if panier.occasion is not null %}
                    <div class="col-12 card rounded-4 mb-3 p-0">
                        <div class="card-body d-flex flex-wrap flex-row justify-content-around align-items-strecht">
                            <!-- item_panier_img -->
                            <div class="col-12 col-sm-4 d-flex flex-column justify-content-center align-items-center p-1">
                                <img class="panier_img_boite" src="{{ vich_uploader_asset(panier.occasion.boite, 'imageFile') }}"/>
                                <p class="info_photo m-0">Photo non contractuelle</p>
                            </div>
                            <!-- item_panier_details -->
                            <div class="col-12 col-sm-8 ps-2">
                                <div class="col-12 occasion_detail_editor">{{ panier.occasion.boite.editor }}</div>
                                <div class="col-12">{{ panier.occasion.boite.name | raw }}</div>
                                <div class="col-12 d-flex flex-wrap flex-column justify-content-around">
                                    <table class="col-12 small">
                                        <tr>
                                            <td>Boite <i class="fa-solid fa-circle" style="color : {{ panier.occasion.boxCondition.color }};width:2px;height:2px;"></i></td>
                                            <td>Matériel <i class="fa-solid fa-circle" style="color : {{ panier.occasion.equipmentCondition.color }};width:2px;height:2px;"></i></td>
                                            <td>Règle du jeu <i class="fa-solid fa-circle" style="color : {{ panier.occasion.gameRule.color }};width:2px;height:2px;"></i></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-11 d-flex flex-wrap align-items-center">
                                    <div class="col-6 __shop"><img src="{{ asset('build/images/design/cart/shop_retrait.svg') }}" alt="Logo shop_retrait"> Retrait sur Caen</div>
                                    {# <div class="col-6 mt-3 text-end fw-bolder">{% include "components/occasion/_display_occasion_price.html.twig" with {'product': panier.occasion,'tax': allCartValues['tax']} %}</div> #}
                                </div>

                            </div>
                        </div>
                    </div>
                {% endif %}  

            {% endfor %}
        </div>
        <!-- affichage des adresses et des totaux -->
        <div class="col-11 col-sm-9 col-md-5 mt-4 mt-md-0">

            {# adresse de facturation #}
            <div class="card col-11 shadow border p-2 mx-auto">
                <h5 class="text-purple">Facturation</h5>
                <div class="col-12 text-end">
                    {% set facturations = document.billingAddress|split('<br/>') %}
                        {% for facturation in facturations %}
                            {{ facturation }}<br/>
                        {% endfor %}
                </div>
            </div>

            {# adresse de livraison #}
            <div class="card col-11 shadow mt-3 border p-2 mx-auto">
                <h5 class="text-purple">
                    {% if document.deliveryPriceExcludingTax == 0 %}
                        Retrait à:
                    {% else %}
                        Livraison à:
                    {% endif %}
                </h5>
                <div class="col-12 text-end">
                    {% set deliveries = document.deliveryAddress|split('<br/>') %}
                    {% for delivery in deliveries %}
                        {{ delivery }}<br/>
                    {% endfor %}
                </div>
            </div>

            {# affichage des totaux #}
            <div class="card col-11 mt-3 shadow border p-2 mx-auto">
                {# affichage total les articles #}
                {% if document.documentLineTotals.itemsPriceWithoutTax > 0 %}
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center mb-2">
                        <div class="col-9 fw-bolder">Sous-total articles:</div>
                        <div class="col-2 text-end">{{ ((document.documentLineTotals.itemsPriceWithoutTax + document.documentLineTotals.boitesPriceWithoutTax) * ( 1 + (document.taxRateValue / 100)) / 100) | number_format(2, '.', ',') }} €</div>
                    </div>
                {% endif %}
                {# affichage des remises sur les articles #}
                {% if document.documentLineTotals.discountonpurchase != 0 %}
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center mb-2">
                        <div class="col-9 fw-bolder">Remise sur les articles :</div>
                        <div class="col-2 text-end"> - {{ (document.documentLineTotals.discountonpurchase * ( 1 + (document.taxRateValue / 100)) / 100) | number_format(2, '.', ',') }} €</div>
                    </div>
                {% endif %}

                {# affichage sous total des occasions #}
                <div class="col-12 d-flex flex-wrap justify-content-between align-items-center mb-2">
                    <div class="col-9 fw-bolder">Sous-total occasions:</div>
                    <div class="col-2 text-end">{{ (document.documentLineTotals.occasionsPriceWithoutTax * ( 1 + (document.taxRateValue / 100)) / 100) | number_format(2, '.', ',') }} €</div>
                </div>

                {# affichage du code de reduction #}
                {% if document.documentLineTotals.voucherDiscountValueUsed != 0 %}
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center mb-2">
                        <div class="col-9 fw-bolder">Code de réduction :</div>
                        <div class="col-2 text-end">{{ (document.documentLineTotals.voucherDiscountValueUsed * ( 1 + (document.taxRateValue / 100)) / 100) | number_format(2, '.', ',') }} €</div>
                    </div>
                {% endif %}

                {# affichage des frais de livraison ou retrait #}
                {% if document.deliveryPriceExcludingTax == 0 %}
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center mb-2">
                        <div class="col-9 fw-bolder">Retrait gratuit :</div>
                        <div class="col-2 text-end">0.00 €</div>
                    </div>
                {% else %}
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center mb-2">
                        <div class="col-9 fw-bolder">
                            Livraison :<br/>
                        </div>
                        <div class="col-2 text-end">{{ (document.deliveryPriceExcludingTax * ( 1 + (document.taxRateValue / 100)) / 100) | number_format(2, '.', ',') }} €</div>
                    </div>
                {% endif %}

                {# affichage du prix de la préparation #}
                <div class="col-12 d-flex flex-wrap justify-content-between align-items-center mb-2">
                    <div class="col-9 fw-bolder">
                        Préparation :
                        {% if app.user.membership | date('d-m-Y') != '01-01-1970' %}
                            <br/><small>Abonnement jusqu'au {{ app.user.membership | date('d-m-Y') }}</small>
                        {% endif %}
                    </div>
                    <div class="col-2 text-end">{{ (document.cost * ( 1 + (document.taxRateValue / 100)) / 100) | number_format(2, '.', ',') }} €</div>
                </div>

                {# affichage du montant à payer #}
                <div class="col-12 d-flex flex-wrap justify-content-between align-items-center mb-2">
                    {% if document.billNumber is null %}
                        <div class="col-9 fw-bolder">Total à payer :</div>
                    {% else %}
                        <div class="col-9 fw-bolder">Total payé :</div>
                    {% endif %}
                    <div class="col-2 text-end">
                        {{ (document.totalExcludingTax * ( 1 + (document.taxRateValue / 100)) / 100) | number_format(2, '.', ',') }} €
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# PARTIE BOUTONS #}
    {% if app.user is not null and app.user.password == document.user.password %}

        {% if document.billNumber is null %}
            <div class="row g-0 bg-white align-items-center">
                <div class="col-11 col-md-6 mx-auto text-start text-md-center">
                    <a href="{{ path('member_delete_document', {'tokenDocument': document.token}) }}" class="btn btn-outline-danger" >Annuler le devis</a>
                </div>
                <div class="col-11 col-md-6 mt-4 mt-md-0 mx-auto d-flex flex-row justify-content-center align-items-center">
                    {% include "site/pages/panier/components/_acceptCartForm.html.twig" %}
                </div>
            </div>
        {% endif %}

    {% endif %}

    {% include "components/_separateur_wave.html.twig" %}

{% endblock %}