<div class="row justify-content-center mb-5">
    <h3 class="col-12 text-start">Pièces détachée(s):</h3>

        {% for boite in boites %}
            <div class="col-11 d-flex justify-content-center align-items-center my-2">
                <table class="table table-sm table-striped mt-3">
                    <thead>
                        <th>{{ boite.boite.nom }} - {{ boite.boite.editeur }} - {{ boite.boite.annee }}</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Votre demande: {{ boite.message }}</td>
                        </tr>
                        <tr>
                            <td>Ma réponse: {{ boite.reponse }}</td>
                        </tr>
                        <tr>
                            <td class="text-end">Prix TTC: <span class="display-6">{{ (boite.prixVente / 100 * tva) |number_format(2, '.', ',') }} €</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}

</div>

