{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}GRAPHIQUES{% endblock %}

{% block main %}


                <form class="row g-3 align-items-center" target="_blank" action="{{ path('jpgraph_ca_by_year') }}" method="get">
                    <div class="col-8">
                        CA Total (pièces détachéees, articles, boites occasions):
                    </div>
                    <div class="col-2">
                        <select class="mt-3 form-control" name="year" required>
                                <option value="">choisir...</option>
                            {% for i in 2021.."now"|date("Y") %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-2 text-end">
                        <button class="btn btn-info mt-3" type="submit">Afficher le graphique</button>
                    </div>
                </form>
                <form class="row g-3 align-items-center" target="_blank" action="{{ path('jpgraph_ca_between_two_years') }}" method="get">
                    <div class="col-8">
                        Comparaison CA Total (pièces détachéees, articles, boites occasions) avec année N-1:
                    </div>
                    <div class="col-2">
                        <select class="mt-3 form-control" name="year" required>
                                <option value="">choisir année N...</option>
                            {% for i in 2021.."now"|date("Y") %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-2 text-end">
                        <button class="btn btn-info mt-3" type="submit">Afficher le graphique</button>
                    </div>
                </form>
                <form class="row g-3 align-items-center" target="_blank" action="{{ path('jpgraph_transactions_by_year') }}" method="get">
                    <div class="col-8">
                        Ventes / mois (pièces détachéees, articles, boites occasions):
                    </div>
                    <div class="col-2">
                        <select class="mt-3 form-control" name="year" required>
                                <option value="">choisir...</option>
                            {% for i in 2021.."now"|date("Y") %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-2 text-end">
                        <button class="btn btn-info mt-3" type="submit">Afficher le graphique</button>
                    </div>
                </form>
                {# <form class="row g-3 align-items-center" target="_blank" action="{{ path('jpgraph_repartition_transactions_by_year') }}" method="get">
                    <div class="col-8">
                        Répartion des ventes / mois (pièces détachéees, articles, boites occasions):
                    </div>
                    <div class="col-2">
                        <select class="mt-3 form-control" name="year" required>
                                <option value="">choisir...</option>
                            {% for i in 2021.."now"|date("Y") %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-2 text-end">
                        <button class="btn btn-info mt-3" type="submit">Afficher le graphique</button>
                    </div>
                </form> #}
                <form class="row g-3 align-items-center" target="_blank" action="{{ path('jpgraph_inscriptions_by_year') }}" method="get">
                    <div class="col-8">
                        Inscriptions sur le site:
                    </div>
                    <div class="col-2">
                        <select class="mt-3 form-control" name="year" required>
                                <option value="">choisir...</option>
                            {% for i in 2021.."now"|date("Y") %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-2 text-end">
                        <button class="btn btn-info mt-3" type="submit">Afficher le graphique</button>
                    </div>
                </form>

{% endblock %}
