{% extends 'components/_base.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
    <h1 class="page-section-heading text-center text-black text-uppercase mt-5">Changement de mot de passe</h1>

        {% if not emailForSendResetPasswordForm.vars.valid %}
            <ul class="col-12 col-md-6 text-center text-danger mx-auto my-3">
                {# Loop through every form item #}
                {% for child in emailForSendResetPasswordForm.children %}
                    {# Display the errors of the form item #}
                    {% for error in child.vars.errors %}
                        <li class="list-unstyled">{{error.message}}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}

        {{ form_start(emailForSendResetPasswordForm) }}

            <div class="col-11 col-lg-8 mx-auto d-flex flex-wrap justify-content-around my-5">
                <div class="my-3 col-11 mx-auto col-md-8 offset-md-1 mx-md-0">
                    <label class="form-label">{{ form_label(emailForSendResetPasswordForm.email) }}</label>
                    {{ form_widget(emailForSendResetPasswordForm.email) }}
                    <div id="emailHelp" class="form-text">Veuillez saisir votre adresse email pour recevoir un lien</div>
                </div>
                <div class="col-12 text-center my-3">
                    <button type="submit" class="btn btn-success">Demander</button>
                </div>
            </div>
            
        {{ form_end(emailForSendResetPasswordForm) }}
{% endblock %}
