{% extends 'site/base.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
    <h1 class="page-section-heading text-center text-black text-uppercase mt-5">Changement de mot de passe</h1>

    {% include "site/components/hr.html.twig" %}

    {% if not resetPasswordForm.vars.valid %}
        <ul class="col-12 col-md-6 text-center text-danger mx-auto my-3">
            {# Loop through every form item #}
            {% for child in resetPasswordForm.children %}
                {# Display the errors of the form item #}
                {% for error in child.vars.errors %}
                    <li class="list-unstyled">{{error.message}}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

        {{ form_start(resetPasswordForm) }}

                <div class="mb-3 col-11 mx-auto col-md-5 ">
                    <label class="form-label">{{ form_label(resetPasswordForm.password) }}</label>
                    {{ form_widget(resetPasswordForm.password) }}
                    <div id="PasswordHelp" class="form-text">Quelque chose de robuste...</div>
                </div>
                <div class="mb-3 col-11 mx-auto col-md-5 ">
                    <label class="form-label">{{ form_label(resetPasswordForm.passwordVerify) }}</label>
                    {{ form_widget(resetPasswordForm.passwordVerify) }}
                    <div id="PasswordVerifyHelp" class="form-text">Toujours quelque chose de robuste...</div>
                </div>
                <div class="col-12 text-center mt-3 mb-5">
                    <button type="submit" class="btn btn-success">Mettre à jour !</button>
                </div>
            </div>
            
        {{ form_end(resetPasswordForm) }}
{% endblock %}
