{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}

{% if ea.crud.currentAction == 'detail' %}
    <div class="col-9 mx-auto">
        <table class="table align-middle">
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Référence</th>
                <th class="text-center">Prix HT</th>
                <th>En ligne</th>
            </tr>
            {% for value in field.value | sort((a, b) => a.reference <=> b.reference) %}
                {% set setEntityId = value.id %}
                {% set entityNameController = 'Occasion' %}
                <tr>
                    <td>
                        <img class="card_catalog_img" style="max-width:120px" src="{{ vich_uploader_asset(value.boite, 'imageFile') }}"/>
                    </td>
                    <td>
                        {{ value.boite.name }} - {{ value.boite.editor }} - {{ value.boite.year }}
                        <ul>
                            <li>État de la boite : {{ value.boxCondition }}</li>
                            <li>État du matériel : {{ value.equipmentCondition }}</li>
                            <li>Règle du jeu : {{ value.gameRule }}</li>
                        </ul>
                    </td>
                    <td>{{ value.reference }}</td>
                    <td class="text-center">{{ (value.priceWithoutTax) / 100 |number_format(2, '.', ',') }} €</td>
                    <td class="text-center">{{ value.isOnline ? '<i class="fa-solid fa-circle text-success"></i>' : '<i class="fa-solid fa-circle text-danger"></i>' }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <span class="badge badge-secondary">{{ field.formattedValue }}</span>
{% endif %}