{% extends "components/_base.html.twig" %}

{% block title %}Un service pour complèter vos jeux de socièté.{% endblock %}

{% block body %}


<div class="row justify-content-center align-items-center my-5">
    <div class="col-12 col-md-6 col-lg-5 col-xl-4 d-flex flex-column pt-3">
        <div id="index_info" class="col-12 display-3">
            Craquez pour nos<br/>
            <span class="text_juliette_purple">jeux de société</span><br/>
            d'occasion !
        </div>
        <div class="col-12 mt-4">
            Disponibles en retrait à Caen dans le Calvados.
        </div>
        <div class="col-12 d-flex mt-3">
            <a class="btn btn_juliette btn_juliette_bg_dark" href="{{ path('app_catalogue_occasions') }}">Acheter un jeu</a>
            <a class="btn btn_juliette btn_juliette_bg_white d-flex flex-column" href="{{ path('app_catalogue_pieces_detachees') }}">
            Completer un jeu</br>
            <small>Livraison possible</small>
            </a>
        </div>

    </div>
    <div class="col-12 mt-3 mt-md-0 col-md-6 col-lg-5 col-xl-4 d-flex justify-content-end">
        <img class="card-img-top-index" src="{{ asset('build/images/design/index/lot_de_presentation.png') }}" alt="Image d'un lot de jeux de socièté">
    </div>
</div>

<div id="index_info_separator" class="row">
    <ul class="col-12 d-flex flex-column flex-md-row justify-content-around align-items-center">
        <li>Bla bla à faire</li>
        <li>Bla bla à faire</li>
        <li>Jeux vérifiés et nettoyés avec soin</li>
        <li>Bla bla à faire</li>
    </ul>
</div>


<div class="row justify-content-around py-5 bg-white">
    <div class="col-11 col-sm-5 mb-4 mb-lg-0 col-lg-3 d-flex flex-column ps-5 justify-content-center align-items-center align-items-lg-start">
        <div id="index_info" class="col-12 display-6 text-center text-lg-start">
            Des jeux pour<br/>
            <span class="text_juliette_purple">tous les âges</span>
        </div>
        <a class="btn btn_juliette btn_juliette_bg_dark" href="{{ path('app_catalogue_occasions') }}" >Voir tous les jeux</a>
    </div>
    <div class="col-11 col-sm-5 mb-4 mb-lg-0 col-lg-3">
        <div class="card card_index_info_catalogue">
                <img class="card-img-top-index" src="{{ asset('build/images/design/index/exemple_jeux_enfant.png') }}" alt="Lot de jeux pour enfants">
                <div class="card-body">
                    <div class="card-title text-center"><a href="">Enfants <i class="fa-solid fa-right-long"></i></a></div>
                    <p class="card-text text-center">A partir de 2 ans</p>
                </div>
        </div>
    </div>
    <div class="col-11 col-sm-5 mb-4 mb-lg-0 col-lg-3">
        <div class="card card_index_info_catalogue">
            <img class="card-img-top-index" src="{{ asset('build/images/design/index/exemple_jeux_tout_public.png') }}" alt="Lot de jeux tout public">
            <div class="card-body">
                <div class="card-title text-center"><a href="">Tout public <i class="fa-solid fa-right-long"></i></a></div>
                <p class="card-text text-center">A partir de 7 ans</p>
            </div>
        </div>
    </div>
    <div class="col-11 col-sm-5 mb-4 mb-lg-0 col-lg-3">
        <div class="card card_index_info_catalogue">
            <img class="card-img-top-index" src="{{ asset('build/images/design/index/exemple_jeux_inities.png') }}" alt="Lot de jeux pour initiés">
            <div class="card-body">
                <div class="card-title text-center"><a href="">Initié·es <i class="fa-solid fa-right-long"></i></a></div>
                <p class="card-text text-center">A partir de 12 ans</p>
            </div>
        </div>
    </div>
    <div class="col-11 index_wave_separator mt-5">t</div>
</div>

<div class="row justify-content-center py-5 bg-white">
    <div id="index_info" class="col-12 display-4 text-center">
        Trouvez la pièce <span class="text_juliette_purple">manquante !</span>
    </div>
    <div class="col-12 mt-4 text-center">
        <img class="index_chess" src="{{ asset('build/images/design/trace_and_chess.png') }}" alt="catalogue des pièces détachées">
    </div>
    <a class="btn btn_juliette btn_juliette_bg_white mt-3 d-flex flex-column" href="{{ path('app_catalogue_pieces_detachees') }}">
        Completer un jeu</br>
        <small>Livraison possible</small>
    </a>

</div>

<div class="row justify-content-center my-5">
    <div id="index_info" class="col-12 display-4 text-center">
        <span class="text_juliette_purple">Donnez</span> vos jeux !
    </div>
    <div class="col-12 col-md-6 mt-4">
        L’association récupère les jeux de société complets et incomplets ainsi que les pièces détachées (pions, dés, sabliers…). Nous récupérons également les puzzles complets et les jeux éducatifs en boîte carton (pour apprendre à lire, compter…), qu’ils soient complets ou incomplets.
    </div>
    <div class="col-12 mt-5 d-flex flex-wrap justify-content-around">
        <div class="card card_index_info my-2 pb-4 bg_green">
            <div class="card-body">
                <p class="card-title py-2">TROUVER UN POINT DE COLLECTE</p>
                <p class="card-text">Vous pouvez déposer les jeux dans nos points de collecte permanents en France.</p>
                <a class="col-6 mx-auto btn btn_juliette btn_juliette_bg_dark mb-4" href="{{ path('app_give_your_games') }}">Donner des jeux</a>
            </div>
            <img class="card-img-top" src="{{ asset('build/images/design/index/index_collect.png') }}" alt="Don de pièces détachées">
        </div>
        <div class="card card_index_info my-2 pb-4 bg_orange">
            <div class="card-body">
                <p class="card-title py-2">ENVOYER DES JEUX PAR COLIS</p>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit edum.</p>
                <a class="col-6 mx-auto btn btn_juliette btn_juliette_bg_dark mb-4" href="">Envoyer des jeux</a>
            </div>
            <img class="card-img-top" src="{{ asset('build/images/design/index/index_colis.png') }}" alt="Envoyer un colis de jeux">
        </div>
        <div class="card card_index_info my-2 pb-4 bg_violet">
            <div class="card-body">
                <p class="card-title py-2">ORGANISER UNE COLLECTE DE JEUX</p>
                <p class="card-text">Collectez des jeux près de chez vous et envoyez-les nous !</p>
                <a class="col-6 mx-auto btn btn_juliette btn_juliette_bg_dark mb-4" href="{{ path('app_became_ambassador') }}">DEVENIR AMBASSADEUR·RICE</a>
            </div>
            <img class="card-img-top" src="{{ asset('build/images/design/index/index_ambassador.png') }}" alt="Particiter en tant qu'ambassadeur Refaites vos jeux">
        </div>
    </div>
</div>

<div class="row my-4">
    <div class="col-12 text-center">
        <div class="fb-page shadow-lg" data-href="https://www.facebook.com/refaitesvosjeux" data-width="380" data-hide-cover="false" data-show-facepile="false"></div>
    </div>
</div>
{% endblock %}
